.classWeight {
	background-color:#ff9966;
}

.classPlain {
	background-color:#ffcc66;
}

.homeWeight {
	background-color:#99ff66;
}

.homework {
	background-color:#ccffcc;
}

.project {
	background-color:#ff99ff;
}

.optional {
	background-color:#ccffff;
}
