<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Настройка LDAP</string>
	<key>description</key>
	<string>Настройка подключения к дереву каталогов LDAP для авторизации пользователей</string>
	<key>type</key>
	<string>Dictionary</string>
	<key>path</key>
	<string>modules/LDAP.plist</string>
	<key>sort</key>
	<integer>4</integer>
	<key>presets</key>
	<string>userspresets</string>
	<key>defaultpreset</key>
	<string>OpenLDAP (AltLinux)</string>
	<key>status</key>
	<string>recommended</string>
	<key>keys</key>
	<array>
		<dict>
			<key>key</key>
			<string>auth</string>
			<key>type</key>
			<string>Dictionary</string>
			<key>title</key>
			<string>auth</string>
			<key>description</key>
			<string>Настройки авторизации.</string>
			<key>keys</key>
			<array>
				<dict>
					<key>key</key>
					<string>loginHandlerClass</string>
					<key>type</key>
					<string>String</string>
					<key>title</key>
					<string>loginHandlerClass</string>
					<key>description</key>
					<string>имя класса java, который используется для аутентикации пользователей</string>
					<key>final</key>
					<true/>
					<key>advanced</key>
					<true/>
				</dict>
				<dict>
					<key>key</key>
					<string>ldap</string>
					<key>type</key>
					<string>Dictionary</string>
					<key>title</key>
					<string>ldap</string>
					<key>description</key>
					<string>Настройка LDAP</string>
					<key>keys</key>
					<array>
						<dict>
							<key>key</key>
							<string>providerUrl</string>
							<key>type</key>
							<string>String</string>
							<key>title</key>
							<string>URL</string>
							<key>description</key>
							<string>URL-адрес сервера LDAP</string>
							<key>required</key>
							<true/>
						</dict>
						<dict>
							<key>key</key>
							<string>authentication</string>
							<key>type</key>
							<string>String</string>
							<key>title</key>
							<string>authentication</string>
							<key>description</key>
							<string>тип аутентикации LDAP</string>
							<key>defaultValue</key>
							<string>simple</string>
							<key>advanced</key>
							<true/>
						</dict>
						<dict>
							<key>key</key>
							<string>baseDN</string>
							<key>type</key>
							<string>String</string>
							<key>title</key>
							<string>baseDN</string>
							<key>description</key>
							<string>Корневой элемент дерева LDAP (если не указан, пытается найти самостоятельно)</string>
						</dict>
						<dict>
							<key>key</key>
							<string>proxyUserDn</string>
							<key>type</key>
							<string>String</string>
							<key>title</key>
							<string>proxyUserDn</string>
							<key>description</key>
							<string>имя пользователя LDAP, под которым РУЖЭЛЬ будет искать подключившегося пользователя</string>
							<key>defaultValue</key>
							<string>анонимно</string>
							<key>advanced</key>
							<false/>
						</dict>
						<dict>
							<key>key</key>
							<string>proxyPassword</string>
							<key>type</key>
							<string>String</string>
							<key>title</key>
							<string>proxyPassword</string>
							<key>description</key>
							<string>пароль пользователя LDAP для РУЖЭЛЬ (см. выше)</string>
							<key>advanced</key>
							<false/>
						</dict>
						<dict>
							<key>key</key>
							<string>uidAttribute</string>
							<key>type</key>
							<string>String</string>
							<key>title</key>
							<string>uidAttribute</string>
							<key>description</key>
							<string>поле LDAP, по которому идентифицируется пользователь</string>
							<key>defaultValue</key>
							<string>uid</string>
							<key>advanced</key>
							<true/>
						</dict>
						<dict>
							<key>key</key>
							<string>presentAttribute</string>
							<key>type</key>
							<string>String</string>
							<key>title</key>
							<string>presentAttribute</string>
							<key>description</key>
							<string>поле LDAP, в котором хранится полное имя пользователя (по умолчанию - &quot;cn&quot;)
можно перечислить через пробел несколько полей, тогда просматриваются все они, пока не будет обнаружено непустое значение</string>
							<key>defaultValue</key>
							<string>cn</string>
							<key>advanced</key>
							<true/>
						</dict>
						<dict>
							<key>key</key>
							<string>groupAttribute</string>
							<key>type</key>
							<string>String</string>
							<key>title</key>
							<string>groupAttribute</string>
							<key>description</key>
							<string>поле LDAP, содержащее список групп</string>
							<key>advanced</key>
							<true/>
						</dict>
						<dict>
							<key>key</key>
							<string>memberAttribute</string>
							<key>type</key>
							<string>String</string>
							<key>title</key>
							<string>memberAttribute</string>
							<key>description</key>
							<string>атрибут группы, в котором хранится имя ее члена (для posix-группы - &quot;memberUid&quot;)</string>
							<key>advanced</key>
							<true/>
						</dict>
						<dict>
							<key>key</key>
							<string>fullMemberDN</string>
							<key>type</key>
							<string>Boolean</string>
							<key>title</key>
							<string>fullMemberDN</string>
							<key>description</key>
							<string>если имя члена группы хранится в виде fullDN</string>
							<key>defaultValue</key>
							<false/>
							<key>advanced</key>
							<true/>
						</dict>
						<dict>
							<key>key</key>
							<string>useSSL</string>
							<key>type</key>
							<string>Boolean</string>
							<key>title</key>
							<string>useSSL</string>
							<key>description</key>
							<string>использовать ли SSL-шифрование при подключении к серверу</string>
							<key>defaultValue</key>
							<false/>
							<key>advanced</key>
							<false/>
						</dict>
						<dict>
							<key>key</key>
							<string>socketFactory</string>
							<key>type</key>
							<string>String</string>
							<key>title</key>
							<string>socketFactory</string>
							<key>description</key>
							<string>имя класса SocketFactory</string>
							<key>defaultValue</key>
							<string>LdapSocketFactory</string>
							<key>advanced</key>
							<true/>
						</dict>
						<dict>
							<key>key</key>
							<string>ssl</string>
							<key>type</key>
							<string>Dictionary</string>
							<key>title</key>
							<string>ssl</string>
							<key>description</key>
							<string>Настройка шифрования SSL</string>
							<key>advanced</key>
							<true/>
							<key>keys</key>
							<array>
								<dict>
									<key>key</key>
									<string>protocol</string>
									<key>type</key>
									<string>String</string>
									<key>title</key>
									<string>protocol</string>
									<key>description</key>
									<string>протокол шифрования: SSL, TLS</string>
									<key>defaultValue</key>
									<string>SSL</string>
								</dict>
								<dict>
									<key>key</key>
									<string>trustAny</string>
									<key>type</key>
									<string>Boolean</string>
									<key>title</key>
									<string>trustAny</string>
									<key>description</key>
									<string>не проверять подлинность сертификата сервера LDAP.
Эта настройка полезна, когда сертификат Вашего сервера не подписан международной authority.</string>
								</dict>
								<dict>
									<key>key</key>
									<string>customKeystore</string>
									<key>type</key>
									<string>String</string>
									<key>title</key>
									<string>customKeystore</string>
									<key>description</key>
									<string>местоположение файла с установленными сертификатами, если Вы все же хотите их проверять. Файл хранилища сертификатов в формате java.security.KeyStore</string>
								</dict>
								<dict>
									<key>key</key>
									<string>keystorePassphrase</string>
									<key>type</key>
									<string>String</string>
									<key>title</key>
									<string>keystorePassphrase</string>
									<key>description</key>
									<string>пароль файла хранилища сертификатов</string>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>key</key>
					<string>groupMapping</string>
					<key>type</key>
					<string>Dictionary</string>
					<key>title</key>
					<string>groupMapping</string>
					<key>description</key>
					<string>Связь групп LDAP с группами доступа РУЖЭЛЬ</string>
					<key>keys</key>
					<array>
						<dict>
							<key>key</key>
							<string>root</string>
							<key>type</key>
							<string>String</string>
							<key>title</key>
							<string>root</string>
							<key>description</key>
							<string>Администратор системы. Полный доступ ко всем режимам.</string>
							<key>required</key>
							<false/>
						</dict>
						<dict>
							<key>key</key>
							<string>zavuch</string>
							<key>type</key>
							<string>String</string>
							<key>title</key>
							<string>zavuch</string>
							<key>description</key>
							<string>Завуч. Доступ к настройкам параметров учебного процесса.</string>
							<key>required</key>
							<false/>
						</dict>
						<dict>
							<key>key</key>
							<string>zav_kaf</string>
							<key>type</key>
							<string>String</string>
							<key>title</key>
							<string>zav_kaf</string>
							<key>description</key>
							<string>Заведующий кафедрой. Доступ к статистике и предметным параметрам.</string>
							<key>required</key>
							<false/>
						</dict>
						<dict>
							<key>key</key>
							<string>tutor</string>
							<key>type</key>
							<string>String</string>
							<key>title</key>
							<string>tutor</string>
							<key>description</key>
							<string>Классный руководитель. Доступ к работе со списками классов и контактными данными.</string>
							<key>required</key>
							<false/>
						</dict>
						<dict>
							<key>key</key>
							<string>teacher</string>
							<key>type</key>
							<string>String</string>
							<key>title</key>
							<string>teacher</string>
							<key>description</key>
							<string>Учитель. Работа с классным журналом.</string>
							<key>required</key>
							<false/>
						</dict>
						<dict>
							<key>key</key>
							<string>any</string>
							<key>type</key>
							<string>String</string>
							<key>title</key>
							<string>any</string>
							<key>description</key>
							<string>Все. Права чтения общедоступной информации.</string>
							<key>required</key>
							<true/>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
