<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Архив исправлений</string>
	<key>description</key>
	<string>Сохранение изменений, вносимых в данные в специальной таблице БД и просмотр, кто и когда эти исправления вносил</string>
	<key>type</key>
	<string>Dictionary</string>
	<key>path</key>
	<string>modules/RujelArchiving.plist</string>
	<key>sort</key>
	<integer>14</integer>
	<key>presets</key>
	<string>recommended/RujelArchiving.plist</string>
	<key>advanced</key>
	<true/>
	<key>status</key>
	<string>recommended</string>
	<key>keys</key>
	<array>
		<dict>
			<key>key</key>
			<string>moduleClass</string>
			<key>type</key>
			<string>String</string>
			<key>title</key>
			<string>moduleClass</string>
			<key>description</key>
			<string>основной класс, инициирующий данный модуль</string>
			<key>advanced</key>
			<true/>
			<key>final</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>sort</string>
			<key>type</key>
			<string>String</string>
			<key>title</key>
			<string>sort</string>
			<key>description</key>
			<string></string>
			<key>advanced</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>markarchive</string>
			<key>type</key>
			<string>Dictionary</string>
			<key>title</key>
			<string>markarchive</string>
			<key>description</key>
			<string></string>
			<key>advanced</key>
			<true/>
			<key>keys</key>
			<array>
				<dict>
					<key>key</key>
					<string>itemThreshold</string>
					<key>type</key>
					<string>Integer</string>
					<key>title</key>
					<string>itemThreshold</string>
					<key>description</key>
					<string>критическое количество исправлений Одного объекта (при достижении указанного количества, генерируется оповещение для администратора)</string>
				</dict>
				<dict>
					<key>key</key>
					<string>sessionThreshold</string>
					<key>type</key>
					<string>Integer</string>
					<key>title</key>
					<string>sessionThreshold</string>
					<key>description</key>
					<string>критическое количество исправлений за одну сессию (при достижении указанного количества, генерируется оповещение для администратора)</string>
				</dict>
				<dict>
					<key>key</key>
					<string>forceArchives</string>
					<key>type</key>
					<string>Boolean</string>
					<key>title</key>
					<string>forceArchives</string>
					<key>description</key>
					<string>Запретить изменение значения без вызова истории исправлений и указания причины исправления.</string>
					<key>defaultValue</key>
					<false/>
				</dict>
				<dict>
					<key>key</key>
					<string>Mark</string>
					<key>type</key>
					<string>Boolean</string>
					<key>title</key>
					<string>Mark</string>
					<key>description</key>
					<string>критериальные оценки</string>
					<key>defaultValue</key>
					<false/>
				</dict>
				<dict>
					<key>key</key>
					<string>ItogMark</string>
					<key>type</key>
					<string>Boolean</string>
					<key>title</key>
					<string>ItogMark</string>
					<key>description</key>
					<string>итоговые отметки</string>
					<key>defaultValue</key>
					<false/>
				</dict>
				<dict>
					<key>key</key>
					<string>BaseNote</string>
					<key>type</key>
					<string>Boolean</string>
					<key>title</key>
					<string>BaseNote</string>
					<key>description</key>
					<string>отметки за уроки</string>
					<key>defaultValue</key>
					<false/>
				</dict>
				<dict>
					<key>key</key>
					<string>Prognosis</string>
					<key>type</key>
					<string>Boolean</string>
					<key>title</key>
					<string>Prognosis</string>
					<key>description</key>
					<string>прогнозы, выставляемые вручную</string>
					<key>defaultValue</key>
					<false/>
				</dict>
				<dict>
					<key>key</key>
					<string>Reason</string>
					<key>type</key>
					<string>Boolean</string>
					<key>title</key>
					<string>Reason</string>
					<key>description</key>
					<string>причины (для замен и поправок учебного плана)</string>
					<key>defaultValue</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>key</key>
			<string>dbConnection.MarkArchive</string>
			<key>type</key>
			<string>Dictionary</string>
			<key>title</key>
			<string>dbConnection.MarkArchive</string>
			<key>description</key>
			<string></string>
			<key>advanced</key>
			<true/>
			<key>keys</key>
			<array>
				<dict>
					<key>key</key>
					<string>dbName</string>
					<key>type</key>
					<string>String</string>
					<key>title</key>
					<string>dbName</string>
					<key>description</key>
					<string>имя базы данных, если используется отличное от указанного в модели. имя базы данных, если используется отличное от указанного в модели</string>
				</dict>
				<dict>
					<key>key</key>
					<string>URL</string>
					<key>type</key>
					<string>String</string>
					<key>title</key>
					<string>URL</string>
					<key>description</key>
					<string>полный JDBC URL-адрес подключения к БД</string>
				</dict>
				<dict>
					<key>key</key>
					<string>skip</string>
					<key>type</key>
					<string>Boolean</string>
					<key>title</key>
					<string>skip</string>
					<key>description</key>
					<string>пропустить. не подключаться к этой БД</string>
				</dict>
				<dict>
					<key>key</key>
					<string>username</string>
					<key>type</key>
					<string>String</string>
					<key>title</key>
					<string>имя</string>
					<key>description</key>
					<string>имя пользователя, используемое для подключения к серверу БД</string>
					<key>required</key>
					<false/>
				</dict>
				<dict>
					<key>key</key>
					<string>password</string>
					<key>type</key>
					<string>String</string>
					<key>title</key>
					<string>пароль</string>
					<key>description</key>
					<string>пароль этого пользователя для БД</string>
					<key>required</key>
					<false/>
				</dict>
				<dict>
					<key>key</key>
					<string>driver</string>
					<key>type</key>
					<string>String</string>
					<key>title</key>
					<string>driver</string>
					<key>description</key>
					<string>мы его пока не использовали, но он предусмотрен</string>
					<key>advanced</key>
					<true/>
				</dict>
				<dict>
					<key>key</key>
					<string>plugin</string>
					<key>type</key>
					<string>String</string>
					<key>title</key>
					<string>plugin</string>
					<key>description</key>
					<string>мы его пока не использовали, но он предусмотрен</string>
					<key>advanced</key>
					<true/>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
