<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>РУЖЭЛЬ-Списки</string>
	<key>description</key>
	<string>Списки классов и учителей. Необходимо для работы всех модулей, если не заменен на модуль, берущий списки из внешней системы.</string>
	<key>type</key>
	<string>Dictionary</string>
	<key>path</key>
	<string>modules/RujelVseLists.plist</string>
	<key>sort</key>
	<integer>11</integer>
	<key>presets</key>
	<string>recommended/RujelVseLists.plist</string>
	<key>advanced</key>
	<true/>
	<key>status</key>
	<string>recommended</string>
	<key>keys</key>
	<array>
		<dict>
			<key>key</key>
			<string>moduleClass</string>
			<key>type</key>
			<string>String</string>
			<key>title</key>
			<string>moduleClass</string>
			<key>description</key>
			<string>основной класс, инициирующий данный модуль</string>
			<key>advanced</key>
			<true/>
			<key>final</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>sort</string>
			<key>type</key>
			<string>String</string>
			<key>title</key>
			<string>sort</string>
			<key>description</key>
			<string></string>
			<key>advanced</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>dbConnection</string>
			<key>type</key>
			<string>Dictionary</string>
			<key>title</key>
			<string>dbConnection</string>
			<key>description</key>
			<string></string>
			<key>advanced</key>
			<true/>
			<key>keys</key>
			<array>
				<dict>
					<key>key</key>
					<string>VseLists</string>
					<key>type</key>
					<string>Dictionary</string>
					<key>title</key>
					<string>VseLists</string>
					<key>description</key>
					<string></string>
					<key>keys</key>
					<array>
						<dict>
							<key>key</key>
							<string>dbName</string>
							<key>type</key>
							<string>String</string>
							<key>title</key>
							<string>dbName</string>
							<key>description</key>
							<string>имя базы данных, если используется отличное от указанного в модели. имя базы данных, если используется отличное от указанного в модели</string>
						</dict>
						<dict>
							<key>key</key>
							<string>URL</string>
							<key>type</key>
							<string>String</string>
							<key>title</key>
							<string>URL</string>
							<key>description</key>
							<string>полный JDBC URL-адрес подключения к БД</string>
						</dict>
						<dict>
							<key>key</key>
							<string>skip</string>
							<key>type</key>
							<string>Boolean</string>
							<key>title</key>
							<string>skip</string>
							<key>description</key>
							<string>пропустить. не подключаться к этой БД</string>
						</dict>
						<dict>
							<key>key</key>
							<string>username</string>
							<key>type</key>
							<string>String</string>
							<key>title</key>
							<string>имя</string>
							<key>description</key>
							<string>имя пользователя, используемое для подключения к серверу БД</string>
							<key>required</key>
							<false/>
						</dict>
						<dict>
							<key>key</key>
							<string>password</string>
							<key>type</key>
							<string>String</string>
							<key>title</key>
							<string>пароль</string>
							<key>description</key>
							<string>пароль этого пользователя для БД</string>
							<key>required</key>
							<false/>
						</dict>
						<dict>
							<key>key</key>
							<string>driver</string>
							<key>type</key>
							<string>String</string>
							<key>title</key>
							<string>driver</string>
							<key>description</key>
							<string>мы его пока не использовали, но он предусмотрен</string>
							<key>advanced</key>
							<true/>
						</dict>
						<dict>
							<key>key</key>
							<string>plugin</string>
							<key>type</key>
							<string>String</string>
							<key>title</key>
							<string>plugin</string>
							<key>description</key>
							<string>мы его пока не использовали, но он предусмотрен</string>
							<key>advanced</key>
							<true/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>key</key>
					<string>VseobuchSimple</string>
					<key>type</key>
					<string>Dictionary</string>
					<key>title</key>
					<string>VseobuchSimple</string>
					<key>description</key>
					<string></string>
					<key>keys</key>
					<array>
						<dict>
							<key>key</key>
							<string>dbName</string>
							<key>type</key>
							<string>String</string>
							<key>title</key>
							<string>dbName</string>
							<key>description</key>
							<string>имя базы данных, если используется отличное от указанного в модели. имя базы данных, если используется отличное от указанного в модели</string>
						</dict>
						<dict>
							<key>key</key>
							<string>URL</string>
							<key>type</key>
							<string>String</string>
							<key>title</key>
							<string>URL</string>
							<key>description</key>
							<string>полный JDBC URL-адрес подключения к БД</string>
						</dict>
						<dict>
							<key>key</key>
							<string>skip</string>
							<key>type</key>
							<string>Boolean</string>
							<key>title</key>
							<string>skip</string>
							<key>description</key>
							<string>пропустить. не подключаться к этой БД</string>
						</dict>
						<dict>
							<key>key</key>
							<string>username</string>
							<key>type</key>
							<string>String</string>
							<key>title</key>
							<string>имя</string>
							<key>description</key>
							<string>имя пользователя, используемое для подключения к серверу БД</string>
							<key>required</key>
							<false/>
						</dict>
						<dict>
							<key>key</key>
							<string>password</string>
							<key>type</key>
							<string>String</string>
							<key>title</key>
							<string>пароль</string>
							<key>description</key>
							<string>пароль этого пользователя для БД</string>
							<key>required</key>
							<false/>
						</dict>
						<dict>
							<key>key</key>
							<string>driver</string>
							<key>type</key>
							<string>String</string>
							<key>title</key>
							<string>driver</string>
							<key>description</key>
							<string>мы его пока не использовали, но он предусмотрен</string>
							<key>advanced</key>
							<true/>
						</dict>
						<dict>
							<key>key</key>
							<string>plugin</string>
							<key>type</key>
							<string>String</string>
							<key>title</key>
							<string>plugin</string>
							<key>description</key>
							<string>мы его пока не использовали, но он предусмотрен</string>
							<key>advanced</key>
							<true/>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>key</key>
			<string>interfaces</string>
			<key>type</key>
			<string>Dictionary</string>
			<key>title</key>
			<string>Интерфейсы</string>
			<key>description</key>
			<string>Классы этого модуля, реализующие основные java-интерфейсы РУЖЭЛЬ</string>
			<key>advanced</key>
			<true/>
			<key>keys</key>
			<array>
				<dict>
					<key>key</key>
					<string>EduGroup</string>
					<key>type</key>
					<string>String</string>
					<key>title</key>
					<string>EduGroup</string>
					<key>description</key>
					<string></string>
					<key>final</key>
					<true/>
				</dict>
				<dict>
					<key>key</key>
					<string>Student</string>
					<key>type</key>
					<string>String</string>
					<key>title</key>
					<string>Student</string>
					<key>description</key>
					<string></string>
					<key>final</key>
					<true/>
				</dict>
				<dict>
					<key>key</key>
					<string>Teacher</string>
					<key>type</key>
					<string>String</string>
					<key>title</key>
					<string>Teacher</string>
					<key>description</key>
					<string></string>
					<key>final</key>
					<true/>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
