<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Базовые уроки</string>
	<key>description</key>
	<string>Базовый модуль. Необходим для ведения уроков в журнале.
Необходим для работы всех связанных с уроками модулей</string>
	<key>type</key>
	<string>Dictionary</string>
	<key>path</key>
	<string>modules/RujelBase.plist</string>
	<key>sort</key>
	<integer>6</integer>
	<key>presets</key>
	<string>recommended/RujelBase.plist</string>
	<key>advanced</key>
	<true/>
	<key>status</key>
	<string>recommended</string>
	<key>keys</key>
	<array>
		<dict>
			<key>key</key>
			<string>moduleClass</string>
			<key>type</key>
			<string>String</string>
			<key>title</key>
			<string>moduleClass</string>
			<key>description</key>
			<string>основной класс, инициирующий данный модуль</string>
			<key>advanced</key>
			<true/>
			<key>final</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>sort</string>
			<key>type</key>
			<string>String</string>
			<key>title</key>
			<string>sort</string>
			<key>description</key>
			<string></string>
			<key>advanced</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>interfaces</string>
			<key>type</key>
			<string>Dictionary</string>
			<key>title</key>
			<string>Интерфейсы</string>
			<key>description</key>
			<string>Классы этого модуля, реализующие основные java-интерфейсы РУЖЭЛЬ</string>
			<key>advanced</key>
			<true/>
			<key>keys</key>
			<array>
				<dict>
					<key>final</key>
					<true/>
					<key>key</key>
					<string>EduLesson</string>
					<key>type</key>
					<string>String</string>
					<key>title</key>
					<string>EduLesson</string>
					<key>description</key>
					<string>Урок</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
