<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Контактная информация (e-mail)</string>
	<key>description</key>
	<string>настройка электронной почты и рассылки</string>
	<key>type</key>
	<string>Dictionary</string>
	<key>path</key>
	<string>modules/RujelContacts.plist</string>
	<key>sort</key>
	<integer>18</integer>
	<key>presets</key>
	<string>extra/RujelContacts.plist</string>
	<key>status</key>
	<string>extra</string>
	<key>keys</key>
	<array>
		<dict>
			<key>key</key>
			<string>moduleClass</string>
			<key>type</key>
			<string>String</string>
			<key>title</key>
			<string>moduleClass</string>
			<key>description</key>
			<string>основной класс, инициирующий данный модуль</string>
			<key>advanced</key>
			<true/>
			<key>final</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>sort</string>
			<key>type</key>
			<string>String</string>
			<key>title</key>
			<string>sort</string>
			<key>description</key>
			<string></string>
			<key>advanced</key>
			<true/>
		</dict>
		<dict>
			<key>key</key>
			<string>mail</string>
			<key>type</key>
			<string>Dictionary</string>
			<key>title</key>
			<string>mail</string>
			<key>description</key>
			<string>Настройки почтовой рассылки</string>
			<key>keys</key>
			<array>
				<dict>
					<key>key</key>
					<string>propertiesFile</string>
					<key>type</key>
					<string>String</string>
					<key>title</key>
					<string>propertiesFile</string>
					<key>description</key>
					<string>путь к файлу Properties дополнительной тонкой настройки почты. см. http://java.sun.com/products/javamail/javadocs/com/sun/mail/smtp/package-summary.html</string>
					<key>advanced</key>
					<true/>
				</dict>
				<dict>
					<key>key</key>
					<string>smtpServerURL</string>
					<key>type</key>
					<string>String</string>
					<key>title</key>
					<string>smtpServerURL</string>
					<key>description</key>
					<string>URL-адрес SMTP-сервера, через который будет отправляться почта</string>
					<key>required</key>
					<true/>
				</dict>
				<dict>
					<key>key</key>
					<string>smtpPort</string>
					<key>type</key>
					<string>String</string>
					<key>title</key>
					<string>smtpPort</string>
					<key>description</key>
					<string>TCP порт, если отличается от стандартного</string>
					<key>required</key>
					<false/>
					<key>advanced</key>
					<true/>
				</dict>
				<dict>
					<key>key</key>
					<string>secure</string>
					<key>type</key>
					<string>Boolean</string>
					<key>title</key>
					<string>secure</string>
					<key>description</key>
					<string>нужно ли использовать шифрованную передачу данных (SMTPS)</string>
				</dict>
				<dict>
					<key>key</key>
					<string>smtpUser</string>
					<key>type</key>
					<string>String</string>
					<key>title</key>
					<string>smtpUser</string>
					<key>description</key>
					<string>имя пользователя для авторизации на SMTP-сервере</string>
					<key>required</key>
					<false/>
				</dict>
				<dict>
					<key>key</key>
					<string>smtpPassword</string>
					<key>type</key>
					<string>String</string>
					<key>title</key>
					<string>smtpPassword</string>
					<key>description</key>
					<string>пароль пользователя</string>
					<key>required</key>
					<false/>
				</dict>
				<dict>
					<key>key</key>
					<string>mailFrom</string>
					<key>type</key>
					<string>String</string>
					<key>title</key>
					<string>mailFrom</string>
					<key>description</key>
					<string>значение для заголовка письма &quot;От&quot;</string>
					<key>required</key>
					<true/>
				</dict>
				<dict>
					<key>key</key>
					<string>replyTo</string>
					<key>type</key>
					<string>String</string>
					<key>title</key>
					<string>replyTo</string>
					<key>description</key>
					<string>значение для заголовка письма &quot;Ответить&quot;</string>
				</dict>
				<dict>
					<key>key</key>
					<string>cc</string>
					<key>type</key>
					<string>String</string>
					<key>title</key>
					<string>cc</string>
					<key>description</key>
					<string>отправлять копии всех сообщений по адресу</string>
				</dict>
				<dict>
					<key>key</key>
					<string>bcc</string>
					<key>type</key>
					<string>String</string>
					<key>title</key>
					<string>bcc</string>
					<key>description</key>
					<string>отправлять скрытые копии всех сообщений по адресу</string>
				</dict>
				<dict>
					<key>key</key>
					<string>subjectPrefix</string>
					<key>type</key>
					<string>String</string>
					<key>title</key>
					<string>Префикс заголовка</string>
					<key>description</key>
					<string>Ключевое слово, с которого будут начинаться все отправленные из РУЖЭЛЬ сообщения</string>
					<key>defaultValue</key>
					<string>&quot;RUJEL: &quot;</string>
				</dict>
				<dict>
					<key>key</key>
					<string>messageFilePath</string>
					<key>type</key>
					<string>String</string>
					<key>title</key>
					<string>messageFilePath</string>
					<key>description</key>
					<string>путь до файла с текстом тела письма при автоматической рассылке</string>
				</dict>
				<dict>
					<key>key</key>
					<string>denyRequesting</string>
					<key>type</key>
					<string>Boolean</string>
					<key>default</key>
					<false/>
					<key>title</key>
					<string>запретить запросы</string>
					<key>description</key>
					<string>не вставлять в рассылаемые сообщения ссылку на индивидуальный запрос почты</string>
					<key>advanced</key>
					<false/>
				</dict>
				<dict>
					<key>key</key>
					<string>supportAddress</string>
					<key>type</key>
					<string>String</string>
					<key>title</key>
					<string>адрес поддержки</string>
					<key>description</key>
					<string>адрес электронной почты службы поддержки РУЖЭЛЬ</string>
				</dict>
				<dict>
					<key>key</key>
					<string>dontSend</string>
					<key>type</key>
					<string>Boolean</string>
					<key>title</key>
					<string>dontSend</string>
					<key>description</key>
					<string>не отправлять письма (для тестового режима)</string>
					<key>advanced</key>
					<true/>
				</dict>
				<dict>
					<key>key</key>
					<string>writeToFile</string>
					<key>type</key>
					<string>Boolean</string>
					<key>title</key>
					<string>writeToFile</string>
					<key>description</key>
					<string>сохранять в файл письмо, которое должно быть отправлено (для отладки)</string>
					<key>advanced</key>
					<true/>
				</dict>
				<dict>
					<key>key</key>
					<string>writeFileDir</string>
					<key>type</key>
					<string>String</string>
					<key>title</key>
					<string>writeFileDir</string>
					<key>description</key>
					<string>путь до папки, в которую сохранять письма</string>
					<key>advanced</key>
					<true/>
				</dict>
				<dict>
					<key>key</key>
					<string>messageLag</string>
					<key>type</key>
					<string>Integer</string>
					<key>title</key>
					<string>messageLag</string>
					<key>description</key>
					<string>задержка в миллисекундах между отправкой последовательных сообщений</string>
					<key>defaultValue</key>
					<string>без задержки</string>
					<key>advanced</key>
					<true/>
				</dict>
				<dict>
					<key>key</key>
					<string>broadcastWeekday</string>
					<key>title</key>
					<string>broadcastWeekday</string>
					<key>description</key>
					<string>день недели, в который проводится автоматическая рассылка</string>
					<key>select</key>
					<array>
						<dict>
							<key>title</key>
							<string>Не рассылать</string>
						</dict>
						<dict>
							<key>title</key>
							<string>Понедельник</string>
							<key>value</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>title</key>
							<string>Вторник</string>
							<key>value</key>
							<integer>3</integer>
						</dict>
						<dict>
							<key>title</key>
							<string>Среда</string>
							<key>value</key>
							<integer>4</integer>
						</dict>
						<dict>
							<key>title</key>
							<string>Четверг</string>
							<key>value</key>
							<integer>5</integer>
						</dict>
						<dict>
							<key>title</key>
							<string>Пятница</string>
							<key>value</key>
							<integer>6</integer>
						</dict>
						<dict>
							<key>title</key>
							<string>Суббота</string>
							<key>value</key>
							<integer>7</integer>
						</dict>
						<dict>
							<key>title</key>
							<string>Воскресенье</string>
							<key>value</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>key</key>
					<string>broadcastTime</string>
					<key>type</key>
					<string>String</string>
					<key>title</key>
					<string>broadcastTime</string>
					<key>description</key>
					<string>Время автоматической рассылки</string>
					<key>defaultValue</key>
					<string>5:30</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>key</key>
			<string>dbConnection.Contacts</string>
			<key>type</key>
			<string>Dictionary</string>
			<key>title</key>
			<string>dbConnection.Contacts</string>
			<key>description</key>
			<string></string>
			<key>advanced</key>
			<true/>
			<key>keys</key>
			<array>
				<dict>
					<key>key</key>
					<string>dbName</string>
					<key>type</key>
					<string>String</string>
					<key>title</key>
					<string>dbName</string>
					<key>description</key>
					<string>имя базы данных, если используется отличное от указанного в модели. имя базы данных, если используется отличное от указанного в модели</string>
				</dict>
				<dict>
					<key>key</key>
					<string>URL</string>
					<key>type</key>
					<string>String</string>
					<key>title</key>
					<string>URL</string>
					<key>description</key>
					<string>полный JDBC URL-адрес подключения к БД</string>
				</dict>
				<dict>
					<key>key</key>
					<string>skip</string>
					<key>type</key>
					<string>Boolean</string>
					<key>title</key>
					<string>skip</string>
					<key>description</key>
					<string>пропустить. не подключаться к этой БД</string>
				</dict>
				<dict>
					<key>key</key>
					<string>username</string>
					<key>type</key>
					<string>String</string>
					<key>title</key>
					<string>имя</string>
					<key>description</key>
					<string>имя пользователя, используемое для подключения к серверу БД</string>
					<key>required</key>
					<false/>
				</dict>
				<dict>
					<key>key</key>
					<string>password</string>
					<key>type</key>
					<string>String</string>
					<key>title</key>
					<string>пароль</string>
					<key>description</key>
					<string>пароль этого пользователя для БД</string>
					<key>required</key>
					<false/>
				</dict>
				<dict>
					<key>key</key>
					<string>driver</string>
					<key>type</key>
					<string>String</string>
					<key>title</key>
					<string>driver</string>
					<key>description</key>
					<string>мы его пока не использовали, но он предусмотрен</string>
					<key>advanced</key>
					<true/>
				</dict>
				<dict>
					<key>key</key>
					<string>plugin</string>
					<key>type</key>
					<string>String</string>
					<key>title</key>
					<string>plugin</string>
					<key>description</key>
					<string>мы его пока не использовали, но он предусмотрен</string>
					<key>advanced</key>
					<true/>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
