<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StudentCatalog</key>
	<string>ученики</string>
	<key>CourseCatalog</key>
	<string>курсы</string>
	<key>folderError</key>
	<string>не удалось создать папку для архива</string>
	<key>newWindow</key>
	<string>печать</string>
	<key>eduGroup</key>
	<string>по классам</string>
	<key>cycle</key>
	<string>по предметам</string>
	<key>teacher</key>
	<string>по учителям</string>
	<key>stateTitle</key>
	<string>режим закрытия</string>
	<key>requires</key>
	<string>Требуется</string>
	<key>closeTitle</key>
	<string>Закрыть</string>
	<key>release</key>
	<string>Раскрыть</string>
	<key>byCourse</key>
	<string>Выборочно</string>
	<key>results</key>
	<string>Результаты</string>
	<key>forced</key>
	<string>Принудительное закрытие</string>
	<key>running</key>
	<string>Выполняется</string>
	<key>progress</key>
	<string>Состояние</string>
	<key>totalGroups</key>
	<string>Всего групп</string>
	<key>students</key>
	<string>Учащихся</string>
	<key>pedsovetSection</key>
	<string>Настройка графы "Решение педсовета"</string>
	<key>pedsovet</key>
	<string>Решение педсовета</string>
	<key>decision</key>
	<string>переведен[|а] в %d класс</string>
	<key>pedsovetTitle</key>
	<string>Заголовок решения</string>
	<key>decisionTitle</key>
	<string>Типовое решение</string>
	<key>noDecision</key>
	<string>Нет решения</string>
	<key>messages</key>
	<dict>
		<key>closingTitle</key>
		<string>В курсе завершены:</string>
		<key>closingCourse</key>
		<string>установка галки запрещает дальнейшее редактирование</string>
		<key>noneSelected</key>
		<string>Вы не выбрали ни одного учащегося для закрытия. Поставьте одну или несколько &quot;галок&quot; прежде чем нажимать на &quot;печать&quot;</string>
		<key>closing1</key>
		<string>Вы собираетесь закрыть результаты следующих учащихся:</string>
		<key>closing2</key>
		<string>после закрытия редактирование всех их отметок будет запрещено.</string>
		<key>closingAll</key>
		<string>Вы собираетесь закрыть результаты всех учащихся. &lt;br/&gt;После закрытия редактирование всех их отметок будет запрещено.</string>
		<key>release</key>
		<string>Снять закрытие с учащегося</string>
		<key>preceding</key>
		<string>Перед закрытием учащихся необходимо закрыть</string>
		<key>locked</key>
		<string>закрыто</string>
		<key>instruction</key>
		<string>установленная галка означает доступность режима закрытия для соответствующих курсов</string>
	</dict>
	<key>adminModule</key>
	<dict>
		<key>title</key>
		<string>Закрытие года</string>
		<key>component</key>
		<string>CompleteSetup</string>
		<key>sort</key>
		<string>80</string>
		<key>framework</key>
		<string>RujelBase</string>
		<key>scriptResource</key>
		<string>sorting.js</string>
	</dict>
	<key>dashboard</key>
	<dict>
		<key>title</key>
		<string>Закрытие года (уроки, работы)</string>
		<key>component</key>
		<string>DisplayAny</string>
		<key>invokeAction</key>
		<string>true</string>
		<key>nextPage</key>
		<string>CompletePopup</string>
		<key>pageParams</key>
		<dict>
			<key>course</key>
			<string>^course</string>
			<key>returnPage</key>
			<string>$context.page</string>
		</dict>
		<key>presenter</key>
		<string>WOImage</string>
		<key>presenterBindings</key>
		<dict>
			<key>framework</key>
			<string>RujelComplete</string>
			<key>filename</key>
			<string>stamp.gif</string>
			<key>style</key>
			<string>border:double #9966cc;padding:2px;</string>
			<key>class</key>
			<string>backfield2</string>
			<key>onclick</key>
			<string>$session.ajaxPopup</string>
			<key>onmouseover</key>
			<string>dim(this);</string>
			<key>onmouseout</key>
			<string>unDim(this);</string>
			<key>title</key>
			<string>Закрытие года (уроки, работы)</string>
			<key>height</key>
			<string>38</string>
			<key>width</key>
			<string>38</string>
		</dict>
		<key>sort</key>
		<string>90</string>
	</dict>
	<key>addOn</key>
	<dict>
		<key>activeComponent</key>
		<string>CompletePresenter</string>
		<key>component</key>
		<string>GenericAddOn</string>
		<key>defaultOn</key>
		<false/>
		<key>framework</key>
		<string>RujelComplete</string>
		<key>id</key>
		<string>complete</string>
		<key>imageOff</key>
		<string>stamp.gif</string>
		<key>imageOn</key>
		<string>stamp_gr.gif</string>
		<key>height</key>
		<string>24</string>
		<key>width</key>
		<string>24</string>
		<key>title</key>
		<string>Закрытие года (учащиеся)</string>
		<key>sort</key>
		<string>90</string>
	</dict>
</dict>
</plist>
