<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StudentCatalog</key>
	<string>ученики</string>
	<key>CourseCatalog</key>
	<string>курсы</string>
	<key>folderError</key>
	<string>не удалось создать папку для архива</string>
	<key>newWindow</key>
	<string>печать</string>
	<key>byClass</key>
	<string>по классам</string>
	<key>bySubject</key>
	<string>по предметам</string>
	<key>byTeacher</key>
	<string>по учителям</string>
	<key>adminModule</key>
	<dict>
		<key>title</key>
		<string>Закрытие года</string>
		<key>component</key>
		<string>CompleteSetup</string>
	</dict>
</dict>
</plist>
