a {
	display: block;
	text-decoration: none;
	clear:both;
}

a:hover {
	text-decoration: underline;
}

.gr {
	padding-left:3px;
	font-weight: bold;
	background-color: #cccccc;
	border-top: 1px solid #666666;
	cursor: pointer;
	clear:both;
}
