a {
	display: block;
	text-decoration: none;
	clear:both;
}

a:hover {
	text-decoration: underline;
}

.gr {
	padding-left:3px;
	font-weight: bold;
	background-color: #cccccc;
	border-top: 1px solid #666666;
	cursor: pointer;
}

.grView {
	float:right;
	background-color:#999999;
	padding:0px 4px;
	margin-top:1px;
}

ul {
	padding-left:3ex;
}