<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PrognosesAddOn</key>
	<dict>
		<key>accessKey</key>
		<string>Prognosis</string>
		<key>activeComponent</key>
		<string>PrognosPresenter</string>
		<key>component</key>
		<string>PrognosAddOn</string>
		<key>defaultOn</key>
		<true/>
		<key>inSingle</key>
		<true/>
		<key>framework</key>
		<string>app</string>
		<key>id</key>
		<string>prognosis</string>
		<key>imageOff</key>
		<string>down.png</string>
		<key>imageOn</key>
		<string>up.png</string>
		<key>timeoutsOff</key>
		<string>sandclock.png</string>
		<key>timeoutsOn</key>
		<string>sandside.png</string>
		<key>timeoutsTitle</key>
		<string>Отсрочка</string>
		<key>title</key>
		<string>Прогноз</string>
	</dict>
	<key>allCycles</key>
	<string>По всем предметам</string>
	<key>prognHead</key>
	<string>Прог&lt;br/&gt;ноз</string>
	<key>prognoses</key>
	<string>Прогнозы</string>
	<key>properties</key>
	<dict>
		<key>CourseTimeout</key>
		<dict>
			<key>cycle</key>
			<string>по предмету</string>
			<key>eduGroup</key>
			<string>у класса</string>
			<key>eduPeriod</key>
			<string>на уч. период</string>
			<key>teacher</key>
			<string>преподавателя</string>
			<key>this</key>
			<string>Отсрочка для Курса</string>
		</dict>
		<key>AutoItog</key>
		<dict>
			<key>this</key>
			<string>Автовыставление</string>
			<key>flags</key>
			<dict>
				<key>noTimeouts</key>
				<string>запретить отсрочки</string>
				<key>manual</key>
				<string>разрешить изменять вручную</string>
				<key>inactive</key>
				<string>деактивировать</string>
				<key>hideInReport</key>
				<string>не показывать в распечатке</string>
			</dict>
		</dict>
		<key>Prognosis</key>
		<dict>
			<key>complete</key>
			<string>выполнено</string>
			<key>fireDate</key>
			<string>дата выставления</string>
			<key>flags</key>
			<dict>
				<key>disable</key>
				<string>не выставлять</string>
				<key>keep</key>
				<string>зафиксировать</string>
				<key>keepBonus</key>
				<string>сохранять при изменениях</string>
			</dict>
			<key>mark</key>
			<string>отметка</string>
			<key>this</key>
			<string>Прогноз</string>
			<key>value</key>
			<string>успешность</string>
		</dict>
		<key>Timeout</key>
		<dict>
			<key>course</key>
			<string>только этого курса</string>
			<key>dueDate</key>
			<string>Конечная дата</string>
			<key>flags</key>
			<dict>
				<key>negative</key>
				<string>досрочно</string>
				<key>passed</key>
				<string>отработал</string>
				<key>priority</key>
				<string>приоритет</string>
			</dict>
			<key>reason</key>
			<string>Причина</string>
			<key>this</key>
			<string>Отсрочка</string>
		</dict>
	</dict>
	<key>timeoutHead</key>
	<string>Отсрочка</string>
	<key>ui</key>
	<dict>
		<key>allCourses</key>
		<string>всех курсов</string>
		<key>generalTimeout</key>
		<string>Отсрочка аттестации</string>
		<key>negativeTimeout</key>
		<string>Досрочная аттестация</string>
		<key>timeoutFor</key>
		<string>Отсрочка для</string>
		<key>addedBonus</key>
		<string>добавлено</string>
		<key>requestBonus</key>
		<string>добавить?</string>
		<key>requestedBonus</key>
		<string>предложено добавить</string>
		<key>setBonus</key>
		<string>утвердить</string>
		<key>keepBonusHover</key>
		<string>при изменении оценок и процента успешности добавка не будет сброшена</string>
		<key>cantDeleteBonus</key>
		<string>У Вас недостаточно прав доступа, чтобы снять добавку</string>
		<key>markHasBonus</key>
		<string>Оценка была повышена</string>
		<key>bonus</key>
		<string>Бонус</string>
		<key>autoItogSetup</key>
		<string>Настройка прогноза</string>
		<key>formulaTitle</key>
		<string>Вычислять по формуле</string>
		<key>bsetTitle</key>
		<string>Преобразовать проценты</string>
		<key>noBSet</key>
		<string>оставить %</string>
		<key>recalculate</key>
		<string>Пересчитать</string>
		<key>updateStarted</key>
		<string>Запущено обновление прогнозов</string>
		<key>updateFinished</key>
		<string>Обновление прогнозов завершено</string>
		<key>updateError</key>
		<string>Произошла ошибка при обновлении прогнозов</string>
		<key>ItogLock</key>
		<string>Прогнозируемый итог</string>
		<key>perform</key>
		<string>выставить сейчас</string>
	</dict>
	<key>reportSettings</key>
	<dict>
		<key>id</key>
		<string>autoitog</string>
		<key>title</key>
		<string>Прогноз</string>
		<key>active</key>
		<true/>
		<key>options</key>
		<array>
			<dict>
				<key>id</key>
				<string>timeout</string>
				<key>title</key>
				<string>отсрочки</string>
				<key>active</key>
				<true/>
			</dict>
		</array>
		<key>sort</key>
		<string>05</string>
	</dict>
	<key>none</key>
	<string>нет</string>
	<key>manual</key>
	<string>вручную</string>
	<key>calculators</key>
	<array>
		<dict>
			<key>title</key>
			<string>по интегральным</string>
			<key>description</key>
			<string>усреднение интегральных оценок по работам</string>
			<key>className</key>
			<string>net.rujel.autoitog.IntegralCalculator</string>
		</dict>
		<dict>
			<key>title</key>
			<string>по критериям</string>
			<key>description</key>
			<string>бакалавриатская схема рассчета: усреднение по критериям и вывод общего</string>
			<key>className</key>
			<string>net.rujel.autoitog.BachalaureatCalculator</string>
		</dict>
	</array>
	<key>itogExtension</key>
	<dict>
		<key>component</key>
		<string>AutoItogPresenter</string>
		<key>sort</key>
		<string>20</string>
	</dict>
	<key>archiveType</key>
	<dict>
		<key>entityName</key>
		<string>Prognosis</string>
		<key>title</key>
		<string>Прогноз</string>
		<key>course</key>
		<string>course</string>
		<key>grouping</key>
		<string>student</string>
		<key>params</key>
		<array>
			<dict>
				<key>key</key>
				<string>itog</string>
				<key>title</key>
				<string>Отчетный период</string>
				<key>entityName</key>
				<string>ItogContainer</string>
				<key>keyPath</key>
				<string>title</string>
			</dict>
			<dict>
				<key>key</key>
				<string>student</string>
				<key>title</key>
				<string>Учащийся</string>
				<key>entityName</key>
				<string>Student</string>
				<key>displayDict</key>
				<dict>
					<key>presenter</key>
					<string>PersonDisplay</string>
					<key>presenterBindings</key>
					<dict>
						<key>person</key>
						<string>.</string>
						<key>first</key>
						<string>2</string>
						<key>last</key>
						<string>2</string>
						<key>second</key>
						<string>0</string>
					</dict>
				</dict>
			</dict>
		</array>
		<key>properties</key>
		<array>
			<dict>
				<key>title</key>
				<string>Оценка</string>
				<key>value</key>
				<string>.@mark</string>
				<key>hover</key>
				<string>.@value</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
