{
    attributes = (
        {
            allowsNull = N; 
            columnName = "ABS_GRADE"; 
            name = absGrade; 
            prototypeName = short; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = "FIRST_YEAR"; 
            name = firstYear; 
            prototypeName = short; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = "GR_FLAGS"; 
            name = flags; 
            prototypeName = byte; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = "GR_ID"; 
            name = grID; 
            prototypeName = "int_3"; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = "LAST_YEAR"; 
            name = lastYear; 
            prototypeName = short; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = "SECTION_NUM"; 
            name = sectionID; 
            prototypeName = short; 
        }, 
        {
            columnName = "GROUP_TITLE"; 
            name = title; 
            prototypeName = word; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }
    ); 
    attributesUsedForLocking = (absGrade, firstYear, flags, grID, lastYear, sectionID, title); 
    className = "net.rujel.vselists.VseEduGroup"; 
    classProperties = (absGrade, firstYear, flags, lastYear, lists, section, title, vseTutors); 
    externalName = "VSE_EDU_GROUP"; 
    fetchSpecificationDictionary = {}; 
    name = VseEduGroup; 
    primaryKeyAttributes = (grID); 
    relationships = (
        {
            deleteRule = EODeleteRuleDeny; 
            destination = VseList; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = groupID; sourceAttribute = grID; }); 
            name = lists; 
        }, 
        {
            destination = SchoolSection; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = sID; sourceAttribute = sectionID; }); 
            name = section; 
        }, 
        {
            destination = VseTutor; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = groupID; sourceAttribute = grID; }); 
            name = vseTutors; 
        }
    ); 
}
