{
    attributes = (
        {
            allowsNull = N; 
            columnName = "ABS_GRADE"; 
            name = absGrade; 
            prototypeName = short; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            columnName = "LICHN_DELO"; 
            name = delo; 
            prototypeName = word; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = Y; 
            columnName = "ENTER_DT"; 
            name = enter; 
            prototypeName = date; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = Y; 
            columnName = "LEAVE_DT"; 
            name = leave; 
            prototypeName = date; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = Y; 
            columnName = "PERSON_ID"; 
            name = personID; 
            prototypeName = integer; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = "S_ID"; 
            name = sID; 
            prototypeName = "int_3"; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }
    ); 
    attributesUsedForLocking = (absGrade, delo, enter, leave, personID); 
    className = "net.rujel.vselists.VseStudent"; 
    classProperties = (absGrade, delo, enter, leave, lists, person); 
    externalName = "VSE_STUDENT"; 
    fetchSpecificationDictionary = {}; 
    name = VseStudent; 
    primaryKeyAttributes = (sID); 
    relationships = (
        {
            deleteRule = EODeleteRuleCascade; 
            destination = VseList; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = studentID; sourceAttribute = sID; }); 
            name = lists; 
            ownsDestination = Y; 
        }, 
        {
            destination = VsePerson; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = pID; sourceAttribute = personID; }); 
            name = person; 
        }
    ); 
}
