{
    attributes = (
        {
            columnName = "LICHN_DELO"; 
            name = delo; 
            prototypeName = word; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = Y; 
            columnName = "ENTER_DT"; 
            name = enter; 
            prototypeName = date; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = Y; 
            columnName = "LEAVE_DT"; 
            name = leave; 
            prototypeName = date; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = Y; 
            columnName = "PERSON_ID"; 
            name = personID; 
            prototypeName = integer; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            columnName = "JOB_POSITION"; 
            name = position; 
            prototypeName = string; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = "T_ID"; 
            name = tID; 
            prototypeName = "int_3"; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }
    ); 
    attributesUsedForLocking = (delo, enter, leave, personID, position); 
    className = "net.rujel.vselists.VseTeacher"; 
    classProperties = (delo, enter, leave, person, position); 
    externalName = "VSE_TEACHER"; 
    fetchSpecificationDictionary = {}; 
    name = VseTeacher; 
    primaryKeyAttributes = (tID); 
    relationships = (
        {
            destination = VsePerson; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = pID; sourceAttribute = personID; }); 
            name = person; 
        }
    ); 
}
