<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>moduleClass</key>
	<string>net.rujel.eduplan.PlanCycle</string>
	<key>sort</key>
	<string>40</string>
	<key>dbConnection</key>
	<dict>
		<key>EduPlanModel</key>
		<dict>
			<key>dbName</key>
			<string>RujelStatic</string>
		</dict>
		<key>EduPlanYearly</key>
		<dict>
			<key>dbName</key>
			<string>RujelYear%s</string>
		</dict>
	</dict>
	<key>interfaces</key>
	<dict>
		<key>EduCycle</key>
		<string>net.rujel.eduplan.PlanCycle</string>
	</dict>
</dict>
</plist>
