<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>moduleClass</key>
	<string>net.rujel.eduresults.ModuleInit</string>
	<key>sort</key>
	<string>45</string>
	<key>dbConnection.EduResults</key>
	<dict>
		<key>dbName</key>
		<string>RujelStatic</string>
	</dict>
</dict>
</plist>
