<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>moduleClass</key>
	<string>net.rujel.reports.ReportsModule</string>
	<key>reportsDir</key>
	<string>CONFIGDIR/RujelReports</string>
	<key>ui</key>
	<dict>
		<key>limitReportRows</key>
		<integer>500</integer>
	</dict>
</dict>
</plist>
