{
    attributes = (
        {columnName = COMMENT; name = comment; prototypeName = string; }, 
        {columnName = "CR_ID"; name = courseID; prototypeName = short; }, 
        {allowsNull = N; columnName = CYCLE; name = cycleID; prototypeName = short; }, 
        {columnName = "EDU_YEAR"; name = eduYear; prototypeName = short; }, 
        {
            allowsNull = N; 
            columnName = FLAGS; 
            name = flags; 
            prototypeName = byte; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {columnName = "EDU_GROUP"; name = groupID; prototypeName = "int_3"; }, 
        {
            allowsNull = Y; 
            columnName = TEACHER; 
            name = teacherID; 
            prototypeName = "int_3"; 
        }
    ); 
    attributesUsedForLocking = (cycleID, teacherID, groupID, eduYear, comment, flags); 
    className = "net.rujel.base.BaseCourse"; 
    classProperties = (lessons, eduYear, audience, lessonTabs, comment, flags); 
    externalName = "BASE_COURSE"; 
    fetchSpecificationDictionary = {}; 
    name = BaseCourse; 
    primaryKeyAttributes = (courseID); 
    relationships = (
        {
            deleteRule = EODeleteRuleCascade; 
            destination = CourseAudience; 
            internalInfo = {"_nameInObjectStore" = courseaudience; }; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = courseID; sourceAttribute = courseID; }); 
            name = audience; 
            ownsDestination = Y; 
            propagatesPrimaryKey = Y; 
        }, 
        {
            deleteRule = EODeleteRuleCascade; 
            destination = BaseTab; 
            internalInfo = {"_nameInObjectStore" = baselessontabs; }; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = "c_id"; sourceAttribute = courseID; }); 
            name = lessonTabs; 
            ownsDestination = Y; 
        }, 
        {
            deleteRule = EODeleteRuleDeny; 
            destination = BaseLesson; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = courseID; sourceAttribute = courseID; }); 
            name = lessons; 
        }
    ); 
}
