{
    attributes = (
        {columnName = "C_ID"; name = cycleID; prototypeName = short; }, 
        {
            allowsNull = N; 
            columnName = "GRADE_NUM"; 
            name = grade; 
            prototypeName = byte; 
            valueType = i; 
        }, 
        {
            allowsNull = N; 
            columnName = "SUB_GROUPS"; 
            name = subgroups; 
            prototypeName = byte; 
            valueType = i; 
        }, 
        {
            allowsNull = N; 
            columnName = "SUBJECT_NAME"; 
            name = subject; 
            prototypeName = word; 
        }
    ); 
    attributesUsedForLocking = (subject, grade, subgroups); 
    className = "net.rujel.base.PrimitiveEduCycle"; 
    classProperties = (subject, grade, subgroups); 
    externalName = "BASE_EDU_CYCLE"; 
    fetchSpecificationDictionary = {}; 
    name = PrimitiveEduCycle; 
    primaryKeyAttributes = (cycleID); 
}
