{
    attributes = (
        {
            allowsNull = N; 
            columnName = "ACTION_TYPE"; 
            name = actionType; 
            prototypeName = byte; 
        }, 
        {allowsNull = N; columnName = "ARCH_DATA"; name = data; prototypeName = text; }, 
        {columnName = "KEY1_VALUE"; name = key1; prototypeName = integer; }, 
        {columnName = "KEY2_VALUE"; name = key2; prototypeName = integer; }, 
        {columnName = "KEY3_VALUE"; name = key3; prototypeName = integer; }, 
        {columnName = "OBJ_ENTITY"; name = objEntity; prototypeName = short; }, 
        {columnName = "A_ID"; name = pKey; prototypeName = integer; }, 
        {columnName = "CHANGE_TIME"; name = timestamp; prototypeName = timestamp; }, 
        {allowsNull = N; columnName = "BY_USER"; name = user; prototypeName = string; }, 
        {
            allowsNull = N; 
            columnName = "WOSID_CODE"; 
            name = wosid; 
            prototypeName = word; 
        }
    ); 
    attributesUsedForLocking = (key1, key2, key3, data, user, wosid, objEntity, actionType); 
    className = "net.rujel.markarchive.MarkArchive"; 
    classProperties = (timestamp, key1, key2, key3, data, user, wosid, usedEntity, actionType); 
    externalName = "MA_MARK_ARCHIVE"; 
    fetchSpecificationDictionary = {}; 
    name = MarkArchive; 
    primaryKeyAttributes = (pKey); 
    relationships = (
        {
            deleteRule = EODeleteRuleNoAction; 
            destination = UsedEntity; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = entID; sourceAttribute = objEntity; }); 
            name = usedEntity; 
        }
    ); 
}
