{
    attributes = (
        {columnName = "ENT_ID"; name = entID; prototypeName = short; }, 
        {columnName = KEY1_NAME; name = key1; prototypeName = word; }, 
        {columnName = KEY2_NAME; name = key2; prototypeName = word; }, 
        {columnName = KEY3_NAME; name = key3; prototypeName = word; }, 
        {columnName = TO_ARCHIVE; name = toArchive; prototypeName = word; }, 
        {
            allowsNull = N; 
            columnName = "ENTITY_NAME"; 
            name = usedEntity; 
            prototypeName = word; 
        }
    ); 
    attributesUsedForLocking = (key1, key2, key3, toArchive, usedEntity); 
    className = EOGenericRecord; 
    classProperties = (key1, key2, key3, toArchive, usedEntity); 
    externalName = "MA_USED_ENTITY"; 
    fetchSpecificationDictionary = {}; 
    name = UsedEntity; 
    primaryKeyAttributes = (entID); 
}
