{
    attributes = (
        {
            allowsNull = N; 
            columnName = "EDU_COURSE"; 
            name = courseID; 
            prototypeName = short; 
        }, 
        {
            allowsNull = N; 
            columnName = "LESSON_ENTITY"; 
            name = entID; 
            prototypeName = short; 
        }, 
        {
            columnName = "FIRST_LESSON"; 
            name = firstLessonNumber; 
            prototypeName = short; 
        }, 
        {columnName = "TAB_ID"; name = tabID; prototypeName = "int_3"; }
    ); 
    attributesUsedForLocking = (tabID, firstLessonNumber, entID); 
    className = "net.rujel.base.BaseTab"; 
    classProperties = (firstLessonNumber, course, forEntity); 
    externalName = "BASE_TAB"; 
    fetchSpecificationDictionary = {}; 
    name = BaseTab; 
    primaryKeyAttributes = (tabID); 
    relationships = (
        {
            destination = BaseCourse; 
            internalInfo = {"_nameInObjectStore" = basecourse; }; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = courseID; sourceAttribute = courseID; }); 
            name = course; 
        }, 
        {
            destination = EntityIndex; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = eID; sourceAttribute = entID; }); 
            name = forEntity; 
        }
    ); 
}
