{
    attributes = (
        {columnName = LESSON_ID; name = lessonID; prototypeName = integer; }, 
        {columnName = NOTE_TEXT; name = note; prototypeName = string; }, 
        {columnName = STUDENT_ID; name = studentID; prototypeName = integer; }
    ); 
    attributesUsedForLocking = (lessonID, studentID, note); 
    className = EOGenericRecord; 
    classProperties = (note, lesson); 
    externalName = "BASE_NOTE"; 
    fetchSpecificationDictionary = {}; 
    name = BaseNote; 
    primaryKeyAttributes = (studentID, lessonID); 
    relationships = (
        {
            destination = BaseLesson; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = lessonID; sourceAttribute = lessonID; }); 
            name = lesson; 
        }
    ); 
}
