{
    attributes = (
        {
            allowsNull = Y; 
            columnName = "COMMENT_ID"; 
            name = commentID; 
            prototypeName = integer; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            columnName = "DEFAULT_VALUE"; 
            name = defaultValue; 
            prototypeName = string; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {columnName = "FORMAT_STRING"; name = formatString; prototypeName = string; }, 
        {columnName = "IND_ID"; name = indID; prototypeName = short; }, 
        {columnName = "INDEX_NAME"; name = title; prototypeName = word; }, 
        {
            allowsNull = N; 
            columnName = "INDEX_TYPE"; 
            name = type; 
            prototypeName = short; 
        }
    ); 
    attributesUsedForLocking = (type, title, defaultValue, formatString, commentID); 
    className = "net.rujel.base.Indexer"; 
    classProperties = (type, title, defaultValue, indexRows, formatString, commentEO); 
    externalName = "BASE_INDEXER"; 
    fetchSpecificationDictionary = {}; 
    name = Indexer; 
    primaryKeyAttributes = (indID); 
    relationships = (
        {
            deleteRule = EODeleteRuleCascade; 
            destination = TextStore; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = tID; sourceAttribute = commentID; }); 
            name = commentEO; 
            ownsDestination = Y; 
        }, 
        {
            deleteRule = EODeleteRuleCascade; 
            destination = IndexRow; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = indID; sourceAttribute = indID; }); 
            name = indexRows; 
            ownsDestination = Y; 
            propagatesPrimaryKey = Y; 
        }
    ); 
}
