{
    attributes = (
        {
            allowsNull = N; 
            columnName = "SETTING_KEY"; 
            name = key; 
            prototypeName = word; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = Y; 
            columnName = "NUM_VALUE"; 
            name = numericValue; 
            prototypeName = integer; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = "S_ID"; 
            name = sID; 
            prototypeName = short; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            columnName = "TEXT_VALUE"; 
            name = textValue; 
            prototypeName = string; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }
    ); 
    attributesUsedForLocking = (key, numericValue, textValue); 
    className = "net.rujel.base.SettingsBase"; 
    classProperties = (key, numericValue, qualifiedSettings, textValue); 
    externalName = "BASE_SETTINGS"; 
    fetchSpecificationDictionary = {}; 
    name = SettingsBase; 
    primaryKeyAttributes = (sID); 
    relationships = (
        {
            deleteRule = EODeleteRuleCascade; 
            destination = QualifiedSetting; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = settingsID; sourceAttribute = sID; }); 
            name = qualifiedSettings; 
        }
    ); 
}
