<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>schoolNumber</key>
	<string>0</string>
	<key>_loggingProperties</key>
	<string>/Library/WebObjects/Configuration/logging.properties</string>
	<key>auth</key>
	<dict>
		<key>loginPageName</key>
		<string>Main</string>
		<key>loginHandlerClass</key>
		<string>net.rujel.auth.PrefsDrivenUser</string>
		<key>accessHandlerClass</key>
		<string>net.rujel.auth.PrefsAccessHandler</string>
		<key>access</key>
		<dict>
			<key>default</key>
			<dict>
				<key>root</key>
				<string>1023</string>
				<key>zav_kaf</key>
				<string>7</string>
				<key>zavuch</key>
				<string>127</string>
				<key>any</key>
				<string>0</string>
				<key>teacher</key>
				<string>3</string>
			</dict>
			<key>Subject</key>
			<dict>
				<key>root</key>
				<string>1023</string>
				<key>zav_kaf</key>
				<string>1</string>
				<key>zavuch</key>
				<string>127</string>
				<key>any</key>
				<string>1</string>
				<key>teacher</key>
				<string>1</string>
			</dict>
			<key>SubjectArea</key>
			<dict>
				<key>root</key>
				<string>1023</string>
				<key>zav_kaf</key>
				<string>7</string>
				<key>zavuch</key>
				<string>127</string>
				<key>any</key>
				<string>1</string>
				<key>teacher</key>
				<string>1</string>
			</dict>
			<key>PlanCycle</key>
			<dict>
				<key>root</key>
				<string>1023</string>
				<key>zavuch</key>
				<string>15</string>
				<key>zav_kaf</key>
				<string>3</string>
				<key>any</key>
				<string>1</string>
			</dict>
			<key>GlobalPlan</key>
			<dict>
				<key>root</key>
				<string>1023</string>
				<key>zavuch</key>
				<string>15</string>
				<key>zav_kaf</key>
				<string>3</string>
				<key>any</key>
				<string>1</string>
			</dict>
			<key>BaseCourse</key>
			<dict>
				<key>root</key>
				<string>1023</string>
				<key>zav_kaf</key>
				<string>127</string>
				<key>zavuch</key>
				<string>127</string>
				<key>any</key>
				<string>1</string>
				<key>teacher</key>
				<string>83</string>
			</dict>
			<key>BaseLesson</key>
			<dict>
				<key>root</key>
				<string>1023</string>
				<key>zav_kaf</key>
				<string>127</string>
				<key>zavuch</key>
				<string>127</string>
				<key>any</key>
				<string>1</string>
				<key>teacher</key>
				<string>31</string>
			</dict>
			<key>BaseNote</key>
			<dict>
				<key>root</key>
				<string>1023</string>
				<key>zavuch</key>
				<string>15</string>
				<key>adm</key>
				<string>15</string>
				<key>teacher</key>
				<string>15</string>
			</dict>
			<key>Contacts</key>
			<dict>
				<key>root</key>
				<string>1023</string>
				<key>zavuch</key>
				<string>127</string>
				<key>adm</key>
				<string>1</string>
				<key>tutor</key>
				<string>15</string>
			</dict>
			<key>EduPlanEditor</key>
			<dict>
				<key>root</key>
				<string>1023</string>
				<key>zavuch</key>
				<string>15</string>
				<key>any</key>
				<string>1</string>
			</dict>
			<key>HomeTask</key>
			<dict>
				<key>root</key>
				<string>1023</string>
				<key>zav_kaf</key>
				<string>31</string>
				<key>zavuch</key>
				<string>31</string>
				<key>any</key>
				<string>1</string>
				<key>teacher</key>
				<string>15</string>
			</dict>
			<key>ItogMark</key>
			<dict>
				<key>root</key>
				<string>1023</string>
				<key>zavuch</key>
				<string>15</string>
				<key>teacher</key>
				<string>1</string>
			</dict>
			<key>LessonNoteEditor</key>
			<dict>
				<key>root</key>
				<string>1023</string>
				<key>zavuch</key>
				<string>31</string>
				<key>any</key>
				<string>3</string>
				<key>adm</key>
				<string>31</string>
				<key>teacher</key>
				<string>31</string>
			</dict>
			<key>Management</key>
			<dict>
				<key>root</key>
				<string>0</string>
			</dict>
			<key>Mark</key>
			<dict>
				<key>root</key>
				<string>1023</string>
				<key>zav_kaf</key>
				<string>31</string>
				<key>zavuch</key>
				<string>1</string>
				<key>adm</key>
				<string>1</string>
				<key>teacher</key>
				<string>15</string>
			</dict>
			<key>Overview</key>
			<dict>
				<key>root</key>
				<string>1023</string>
				<key>zavuch</key>
				<string>7</string>
				<key>adm</key>
				<string>7</string>
				<key>teacher</key>
				<string>3</string>
				<key>tutor</key>
				<string>7</string>
			</dict>
			<key>PersListing</key>
			<dict>
				<key>root</key>
				<string>1017</string>
				<key>zav_kaf</key>
				<string>1</string>
				<key>zavuch</key>
				<string>1</string>
				<key>adm</key>
				<string>1</string>
				<key>teacher</key>
				<string>1</string>
			</dict>
			<key>PrimitiveEduCycle</key>
			<dict>
				<key>root</key>
				<string>1023</string>
				<key>zavuch</key>
				<string>15</string>
				<key>any</key>
				<string>1</string>
			</dict>
			<key>BroadcastFrontEnd</key>
			<dict>
				<key>root</key>
				<string>1023</string>
				<key>zavuch</key>
				<string>15</string>
			</dict>
			<key>SendMailForm</key>
			<dict>
				<key>root</key>
				<string>1023</string>
				<key>zavuch</key>
				<string>7</string>
				<key>tutor</key>
				<string>3</string>
			</dict>
			<key>SrcMark</key>
			<dict>
				<key>root</key>
				<string>1023</string>
				<key>zav_kaf</key>
				<string>127</string>
				<key>zavuch</key>
				<string>127</string>
				<key>any</key>
				<string>1</string>
				<key>teacher</key>
				<string>83</string>
			</dict>
			<key>TeachersList</key>
			<dict>
				<key>root</key>
				<string>0</string>
				<key>adm</key>
				<string>0</string>
			</dict>
			<key>Prognosis</key>
			<dict>
				<key>root</key>
				<string>1023</string>
				<key>zavuch</key>
				<string>15</string>
				<key>teacher</key>
				<string>7</string>
			</dict>
			<key>Bonus</key>
			<dict>
				<key>root</key>
				<string>1023</string>
				<key>zavuch</key>
				<string>15</string>
				<key>teacher</key>
				<string>3</string>
				<key>tutor</key>
				<string>1</string>
			</dict>
			<key>Timeout</key>
			<dict>
				<key>root</key>
				<string>1023</string>
				<key>zavuch</key>
				<string>15</string>
				<key>teacher</key>
				<string>1</string>
				<key>tutor</key>
				<string>3</string>
			</dict>
			<key>CourseTimeout</key>
			<dict>
				<key>root</key>
				<string>1023</string>
				<key>zavuch</key>
				<string>15</string>
				<key>teacher</key>
				<string>1</string>
			</dict>
			<key>StudentTimeout</key>
			<dict>
				<key>root</key>
				<string>1023</string>
				<key>zavuch</key>
				<string>15</string>
				<key>teacher</key>
				<string>1</string>
				<key>tutor</key>
				<string>3</string>
			</dict>
			<key>VOTeacher</key>
			<dict>
				<key>root</key>
				<string>1017</string>
				<key>zav_kaf</key>
				<string>1</string>
				<key>zavuch</key>
				<string>1</string>
				<key>adm</key>
				<string>1</string>
				<key>teacher</key>
				<string>1</string>
			</dict>
			<key>Work</key>
			<dict>
				<key>root</key>
				<string>1023</string>
				<key>zav_kaf</key>
				<string>31</string>
				<key>zavuch</key>
				<string>31</string>
				<key>any</key>
				<string>1</string>
				<key>teacher</key>
				<string>31</string>
			</dict>
			<key>Substitute</key>
			<dict>
				<key>root</key>
				<string>1023</string>
				<key>zavuch</key>
				<string>15</string>
				<key>zav_kaf</key>
				<string>15</string>
				<key>any</key>
				<string>1</string>
			</dict>
			<key>SubsReport</key>
			<dict>
				<key>root</key>
				<string>1023</string>
				<key>zavuch</key>
				<string>15</string>
				<key>zav_kaf</key>
				<string>15</string>
			</dict>
			<key>login</key>
			<dict>
				<key>any</key>
				<string>1</string>
			</dict>
			<key>timeMachine</key>
			<dict>
				<key>any</key>
				<string>7</string>
			</dict>
		</dict>
		<key>allowNone</key>
		<string>false</string>
		<key>guestUser</key>
		<string>guest</string>
		<key>guestPassword</key>
		<string></string>
		<key>welcomeMessage</key>
		<string>Добро пожаловать</string>
		<key>authErrorMessage</key>
		<string>Произошла ошибка</string>
		<key>authFailedMessage</key>
		<string>Не удалось авторизоваться</string>
		<key>badCredentialMessage</key>
		<string>Неверный пароль</string>
		<key>badIdentityMessage</key>
		<string>Неизвестный пользователь</string>
		<key>denyNoneMessage</key>
		<string>Запрещено подключение без имени пользователя</string>
		<key>welcomeAction</key>
		<string>success</string>
		<key>refuseAction</key>
		<string>refuse</string>
		<key>_refuseUrl</key>
		<string>http://localhost/</string>
		<key>useHTTPS</key>
		<string>false</string>
		<key>_customURL</key>
		<dict>
			<key>insecure</key>
			<dict>
				<key>192.168.0.*</key>
				<string>http://192.168.0.1</string>
				<key>default</key>
				<string>http://demo.rujel.net</string>
			</dict>
			<key>secure</key>
			<dict>
				<key>192.168.0.*</key>
				<string>https://192.168.0.1</string>
				<key>default</key>
				<string>https://demo.rujel.net</string>
			</dict>
		</dict>
		<key>ldap</key>
		<dict>
			<key>providerUrl</key>
			<string>ldaps://192.168.0.2:636</string>
			<key>authentication</key>
			<string>simple</string>
			<key>groupAttribute</key>
			<string>securityEquals</string>
			<key>useSSL</key>
			<string>true</string>
			<key>ssl</key>
			<dict>
				<key>protocol</key>
				<string>TLS</string>
				<key>trustAny</key>
				<string>true</string>
				<key>customKeytstore</key>
				<string>/Library/WebObjects/Configuration/custcerts</string>
			</dict>
		</dict>
		<key>usersList</key>
		<dict>
			<key>gena</key>
			<dict>
				<key>givenName</key>
				<string>Gena</string>
				<key>groups</key>
				<string>root;any</string>
				<key>password</key>
				<string>qqq</string>
				<key>sn</key>
				<string>Kushnir</string>
			</dict>
			<key>user</key>
			<dict/>
			<key>guest</key>
			<dict>
				<key>groups</key>
				<string>any</string>
			</dict>
			<key>teacher</key>
			<dict>
				<key>groups</key>
				<string>any</string>
			</dict>
			<key>tutor</key>
			<dict>
				<key>groups</key>
				<string>teacher;any</string>
			</dict>
			<key>zavuch</key>
			<dict>
				<key>groups</key>
				<string>zavuch;adm;any</string>
				<key>password</key>
				<string>123</string>
			</dict>
		</dict>
	</dict>
	<key>dbConnection</key>
	<dict>
		<key>VseobuchSimple</key>
		<dict>
			<key>_URL</key>
			<string>jdbc:mysql://127.0.0.1/DemoSho?capitalizeTypeNames=true&amp;useUnicode=true&amp;characterEncoding=utf8</string>
			<key>dbName</key>
			<string>DemoSho</string>
		</dict>
		<key>AccessStore</key>
		<dict>
			<key>skip</key>
			<string>true</string>
		</dict>
		<key>PrimitiveTeachers</key>
		<dict>
			<key>skip</key>
			<string>true</string>
		</dict>
		<key>serverURL</key>
		<string>jdbc:mysql://127.0.0.1</string>
		<key>urlSuffix</key>
		<string>?capitalizeTypeNames=true&amp;useUnicode=true&amp;characterEncoding=utf8</string>
		<key>username</key>
		<string>rujel</string>
		<key>password</key>
		<string></string>
	</dict>
	<key>interfaces</key>
	<dict>
		<key>EduCourse</key>
		<string>net.rujel.base.BaseCourse</string>
		<key>EduCycle</key>
		<string>net.rujel.eduplan.PlanCycle</string>
		<key>EduGroup</key>
		<string>net.rujel.vseobuch.VOClass</string>
		<key>EduLesson</key>
		<string>net.rujel.base.BaseLesson</string>
		<key>Student</key>
		<string>net.rujel.vseobuch.VOStudent</string>
		<key>Teacher</key>
		<string>net.rujel.vseobuch.VOTeacher</string>
	</dict>
	<key>modules</key>
	<dict>
		<key>net.rujel.base.BaseModule</key>
		<string>true</string>
		<key>net.rujel.eduplan.PlanCycle</key>
		<string>true</string>
		<key>net.rujel.autoitog.AutoItogModule</key>
		<string>true</string>
		<key>net.rujel.contacts.EMailBroadcast</key>
		<string>true</string>
		<key>net.rujel.criterial.ModuleInit</key>
		<string>true</string>
		<key>net.rujel.eduresults.ModuleInit</key>
		<string>true</string>
		<key>net.rujel.curriculum.CurriculumModule</key>
		<string>true</string>
	</dict>
	<key>edu</key>
	<dict>
		<key>minGrade</key>
		<string>1</string>
		<key>maxGrade</key>
		<string>11</string>
		<key>autoItogLagDays</key>
		<string>1</string>
		<key>autogenerateEduPeriods</key>
		<string>true</string>
		<key>newYearMonth</key>
		<string>7</string>
		<key>overwriteItogsScheduled</key>
		<string>false</string>
		<key>weightToMax</key>
		<string>true</string>
		<key>presenters</key>
		<dict>
			<key>workIntegral</key>
			<string>%</string>
			<key>integralColor</key>
			<string>color</string>
			<key>weightless</key>
			<string>none#</string>
			<key>weightlessColor</key>
			<string>none</string>
		</dict>
	</dict>
	<key>mail</key>
	<dict>
		<key>smtpServerURL</key>
		<string>smtp.gmail.com</string>
		<key>secure</key>
		<string>true</string>
		<key>smtpUser</key>
		<string>genkush@rujel.net</string>
		<key>smtpPassword</key>
		<string></string>
		<key>mailFrom</key>
		<string>&quot;RUJEL&quot;&lt;genkush@rujel.net&gt;</string>
		<key>replyTo</key>
		<string>ask@rujel.net</string>
		<key>messageLag</key>
		<string>5000</string>
		<key>messageFilePath</key>
		<string>/Library/WebObjects/Configuration/message.txt</string>
		<key>dontSend</key>
		<string>true</string>
		<key>writeToFile</key>
		<string>true</string>
		<key>writeFileDir</key>
		<string>/Users/Shared/test</string>
	</dict>
	<key>markarchive</key>
	<dict>
		<key>itemThreshold</key>
		<string>5</string>
		<key>sessionThreshold</key>
		<string>15</string>
		<key>Mark</key>
		<string>true</string>
		<key>ItogMark</key>
		<string>true</string>
	</dict>
	<key>schedule</key>
	<dict>
		<key>DAILY</key>
		<dict>
			<key>time</key>
			<string>01:04</string>
		</dict>
		<key>MONTHLY</key>
		<dict/>
		<key>WEEKLY</key>
		<dict>
			<key>day</key>
			<string>5</string>
			<key>time</key>
			<string>00:48</string>
		</dict>
		<key>other</key>
		<dict>
			<key>day</key>
			<string>0</string>
			<key>time</key>
			<string>00:44</string>
		</dict>
	</dict>
	<key>ui</key>
	<dict>
		<key>allowTimeMachine</key>
		<string>true</string>
		<key>dateFormat</key>
		<string>dd.MM.yyyy</string>
		<key>shortDateFormat</key>
		<string>dd.MM</string>
		<key>_defaultDate</key>
		<string>19.10.2008</string>
		<key>keyValueCacheSize</key>
		<string>2</string>
		<key>logoutScreen</key>
		<string>/cgi-bin/WebObjects/Rujel.woa</string>
		<key>redirectTimeout</key>
		<string>10</string>
		<key>presenter</key>
		<dict>
			<key>lessonList</key>
			<string>WorkList</string>
			<key>note</key>
			<string>MarksPresenter</string>
			<key>report</key>
			<string>StudentMarks</string>
			<key>selector</key>
			<string>CriterSelector</string>
		</dict>
		<key>regime</key>
		<dict>
			<key>Ведение журнала</key>
			<string>SrcMark</string>
			<key>Контакты</key>
			<string>Contacts</string>
			<key>Контроль успеваемости</key>
			<string>Overview</string>
			<key>Учебный План</key>
			<string>GlobalPlan</string>
		</dict>
		<key>subRegime</key>
		<dict>
			<key>editCourseSubgroup</key>
			<string>SubgroupEditor</string>
			<key>openCourse</key>
			<string>LessonNoteEditor</string>
		</dict>
	</dict>
</dict>
</plist>
