<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OrigTeacher</key>
	<string>Замененный</string>
	<key>Substitute</key>
	<dict>
		<key>Substitute</key>
		<string>Замена</string>
		<key>Join</key>
		<string>Совмещение</string>
		<key>Factor</key>
		<string>Коэффициент</string>
		<key>factor</key>
		<string>коэфф</string>
		<key>Substitutor</key>
		<string>Заменяющий</string>
	</dict>
	<key>Reason</key>
	<dict>
		<key>Reason</key>
		<string>Причина</string>
		<key>relatedTo</key>
		<string>Актуально для</string>
		<key>relation</key>
		<string>Привязка</string>
		<key>withTeacher</key>
		<string>преподавателя</string>
		<key>withEduGroup</key>
		<string>класса</string>
		<key>withWholeSchool</key>
		<string>всей школы</string>
		<key>wholeSchool</key>
		<string>Вся школа</string>
		<key>isActive</key>
		<string>Период</string>
		<key>begin</key>
		<string>с</string>
		<key>end</key>
		<string>по</string>
		<key>other</key>
		<string>Другая причина</string>
		<key>substitutes</key>
		<string>Замены</string>
		<key>variations</key>
		<string>Поправки</string>
		<key>verification</key>
		<string>Обоснование</string>
	</dict>
	<key>Variation</key>
	<dict>
		<key>minus</key>
		<string>Пропущено</string>
		<key>plus</key>
		<string>Добавлено</string>
		<key>Variation</key>
		<string>Поправка</string>
		<key>external</key>
		<string>внешние поправки калькуляции</string>
		<key>value</key>
		<string>Часы</string>
		<key>isAdded</key>
		<string>Доп</string>
	</dict>
	<key>Tabel</key>
	<dict>
		<key>title</key>
		<string>Табель (бух)</string>
		<key>extTitle</key>
		<string>Табель учета занятий</string>
		<key>total</key>
		<string>всего</string>
		<key>wholeSchool</key>
		<string>Сводка по всей школе</string>
		<key>noData</key>
		<string>нет данных для сохранения</string>
		<key>grandTotal</key>
		<dict>
			<key>colspan</key>
			<string>2</string>
			<key>class</key>
			<string>grey</string>
			<key>subject</key>
			<string>Общая сумма</string>
		</dict>
		<key>mainTotal</key>
		<dict>
			<key>colspan</key>
			<string>2</string>
			<key>class</key>
			<string>ungerade</string>
			<key>subject</key>
			<string>Основные уроки:</string>
			<key>itemClass</key>
			<string>gerade</string>
		</dict>
		<key>subsTotal</key>
		<dict>
			<key>colspan</key>
			<string>2</string>
			<key>class</key>
			<string>ungerade</string>
			<key>subject</key>
			<string>Замены и совмещения:</string>
			<key>itemClass</key>
			<string>gerade</string>
		</dict>
	</dict>
	<key>Reprimand</key>
	<dict>
		<key>title</key>
		<string>Замечания</string>
		<key>raised</key>
		<string>Дата</string>
		<key>relief</key>
		<string>Снято</string>
		<key>content</key>
		<string>Замечание</string>
		<key>author</key>
		<string>Автор</string>
	</dict>
	<key>messages</key>
	<dict>
		<key>wrongTeacher</key>
		<string>В замене должен быть указан учитель отличный от ведущего курс.</string>
		<key>duplicateTeacher</key>
		<string>Для этого урока уже описана замена/совмещение с выбранным учителем</string>
		<key>wrongDates</key>
		<string>Предлагаемый период актуальности причины не заключает в себе заданную дату.&lt;br/&gt;Граница периода была автоматически изменена.</string>
		<key>wrongVariation</key>
		<string>Неверное описание поправки</string>
		<key>cantSetTeacher</key>
		<string>Невозможно установить данного учителя, поскольку есть связанная Замена/Поправка для другого учителя</string>
		<key>cantSetEduGroup</key>
		<string>Невозможно установить данный класс, поскольку есть связанная Замена/Поправка для другого класса</string>
		<key>cantSetDates</key>
		<string>Некоторые из связанных замен/поправок не попадают в указанный период</string>
		<key>invalidPeriod</key>
		<string>Конечная дата не может быть меньше начальной</string>
		<key>courseHasVariations</key>
		<string>В этом курсе описаны поправки</string>
		<key>teacherRequired</key>
		<string>Необходимо выбрать учителя</string>
		<key>noLessonsForTeacher</key>
		<string>У выбранного учителя не введено ни одного урока на эту дату</string>
		<key>joinRequiresLesson</key>
		<string>Для описания совмещения необходимо указать совместный урок</string>
	</dict>
	<key>titles</key>
	<dict>
		<key>planCount</key>
		<string>план</string>
		<key>realCount</key>
		<string>дано</string>
		<key>variations</key>
		<string>Поправки</string>
		<key>editVarDate</key>
		<string>Введите дату поправки</string>
		<key>weeksAndDays</key>
		<string>Нед (дн)</string>
		<key>deviation</key>
		<string>Расхождение</string>
		<key>substitutes</key>
		<string>Замены (совмещения)</string>
		<key>reasons</key>
		<string>Причины и обоснования</string>
		<key>printCurriculum</key>
		<string>Выполнение учебного плана</string>
		<key>joint</key>
		<string>присоединен</string>
		<key>openJoint</key>
		<string>перейти к совмещенному уроку</string>
		<key>reviewOriginal</key>
		<string>перейти к этому уроку</string>
		<key>subsCreation</key>
		<string>Создание замены / совмещения</string>
		<key>addSubstitute</key>
		<string>Указать заменяющего преподавателя</string>
		<key>addJoin</key>
		<string>Указать присоединенную группу</string>
		<key>selectTeacher</key>
		<string>Укажите преподавателя</string>
		<key>parallelJoin</key>
		<string>Совмещение одновременно с</string>
		<key>separateJoin</key>
		<string>Другой урок</string>
	</dict>
	<key>regimes</key>
	<array>
		<dict>
			<key>title</key>
			<string>Корректировки</string>
			<key>component</key>
			<string>Curriculum</string>
			<key>group</key>
			<string>edu</string>
			<key>sort</key>
			<string>30</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Табель (бух)</string>
			<key>hover</key>
			<string>Табель учета занятий</string>
			<key>component</key>
			<string>Tabel</string>
			<key>group</key>
			<string>edu</string>
			<key>sort</key>
			<string>60</string>
		</dict>
	</array>
	<key>varsPlugin</key>
	<dict>
		<key>title</key>
		<string>Поправки к исполнению учебного плана</string>
		<key>component</key>
		<string>VariationsPlugin</string>
		<key>sort</key>
		<string>50</string>
	</dict>
	<key>reprPlugin</key>
	<dict>
		<key>component</key>
		<string>ReprPlugin</string>
		<key>title</key>
		<string>Замечания по ведению журнала</string>
		<key>sort</key>
		<string>20</string>
	</dict>
	<key>_reprPlugin</key>
	<dict>
		<key>title</key>
		<string>Замечания по ведению журнала</string>
		<key>component</key>
		<string>DisplayAny</string>
		<key>invokeAction</key>
		<string>true</string>
		<key>nextPage</key>
		<string>ReprimList</string>
		<key>pageParams</key>
		<dict>
			<key>course</key>
			<string>^course</string>
		</dict>
		<key>presenter</key>
		<string>WOString</string>
		<key>presenterBindings</key>
		<dict>
			<key>value</key>
			<string>Замечания</string>
		</dict>
		<key>wrapper</key>
		<string>OnClickContainer</string>
		<key>wrapperBindings</key>
		<dict>
			<key>elementName</key>
			<string>span</string>
			<key>style</key>
			<string>padding:4px;background-color:#99ff99;border:double #339933;</string>
			<key>onclick</key>
			<string>$session.ajaxPopup</string>
			<key>title</key>
			<string>Замечания по ведению журнала</string>
		</dict>
		<key>sort</key>
		<string>20</string>
	</dict>
	<key>ReprimList</key>
	<dict>
		<key>relieve</key>
		<string>закрыть замечание</string>
		<key>unrelieve</key>
		<string>активировать замечание</string>
	</dict>
	<key>courseComplete</key>
	<array>
		<dict>
			<key>id</key>
			<string>curriculum</string>
			<key>title</key>
			<string>выполнение</string>
			<key>component</key>
			<string>PrintCurriculum</string>
			<key>sort</key>
			<string>30</string>
		</dict>
		<dict>
			<key>id</key>
			<string>reprimands</string>
			<key>title</key>
			<string>замечания</string>
			<key>component</key>
			<string>PrintReprimands</string>
			<key>sort</key>
			<string>40</string>
		</dict>
	</array>
</dict>
</plist>
