<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Замечания</string>
	<key>id</key>
	<string>reprimands</string>
	<key>sort</key>
	<string>20</string>
	<key>active</key>
	<false/>
	<key>script</key>
	<string>function editReprimand(cell,ident) {
	if(cell.className == &quot;selection&quot;) {
		cell.className = null;
		returnField = null;
		document.getElementById(&quot;reprimandText&quot;).value = null;
		document.getElementById(&quot;reprimandToEdit&quot;).value = &quot;&quot;;
		document.getElementById(&quot;reprimandSubmit&quot;).value = &quot;Добавить&quot;;
	} else {
		if(returnField &amp;&amp; returnField.className == &quot;selection&quot;)
			returnField.className = &quot;&quot;;
		returnField = cell;
		var ta = document.getElementById(&quot;reprimandText&quot;); 
		if(cell.innerText)
			ta.value = cell.innerText;
		else
			ta.innerHTML = cell.innerHTML;
		ta.rows=Math.max(ta.value.split(&apos;\n&apos;).length,2);
		document.getElementById(&quot;reprimandToEdit&quot;).value = ident;
		document.getElementById(&quot;reprimandSubmit&quot;).value = &quot;Сохранить&quot;;
		cell.className = &quot;selection&quot;; 
	}
}</string>
	<key>entity</key>
	<string>Reprimand</string>
	<key>subParams</key>
	<array>
		<dict>
			<key>active</key>
			<false/>
			<key>id</key>
			<string>lastOpen</string>
			<key>title</key>
			<string>Последняя дата</string>
			<key>hover</key>
			<string>Дата вынесения последнего незакрытого замечания</string>
			<key>short</key>
			<string>посл</string>
			<key>value</key>
			<string>.lastOpen</string>
			<key>presenterBindings</key>
			<dict>
				<key>dateformat</key>
				<string>$application.prefs.ui.dateFormat</string>
			</dict>
			<key>sort</key>
			<string>02</string>
		</dict>
		<dict>
			<key>active</key>
			<true/>
			<key>id</key>
			<string>open</string>
			<key>title</key>
			<string>Активных</string>
			<key>short</key>
			<string>акт</string>
			<key>hover</key>
			<string>Количество незакрытых замечаний</string>
			<key>titleStyle</key>
			<string>color:#cc0000;width:1.6em;</string>
			<key>style</key>
			<string>color:#cc0000;</string>
			<key>value</key>
			<string>.open</string>
			<key>sort</key>
			<string>04</string>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>id</key>
			<string>closed</string>
			<key>title</key>
			<string>Закрытых</string>
			<key>short</key>
			<string>закр</string>
			<key>hover</key>
			<string>Количество закрытых замечаний</string>
			<key>titleStyle</key>
			<string>color:#00cc00;width:1.6em;</string>
			<key>style</key>
			<string>color:#00cc00;</string>
			<key>value</key>
			<string>.closed</string>
			<key>sort</key>
			<string>05</string>
		</dict>
		<dict>
			<key>active</key>
			<true/>
			<key>id</key>
			<string>count</string>
			<key>title</key>
			<string>Всего замечаний</string>
			<key>short</key>
			<string>всего</string>
			<key>titleStyle</key>
			<string>width:1.6em;</string>
			<key>style</key>
			<string>white-space:nowrap;</string>
			<key>value</key>
			<string>.count</string>
			<key>class</key>
			<string>.styleClass</string>
			<key>onclick</key>
			<string>$session.ajaxPopup</string>
			<key>nextPage</key>
			<string>ReprimList</string>
			<key>pageParams</key>
			<dict>
				<key>course</key>
				<string>$itemRow</string>
			</dict>
			<key>popup</key>
			<true/>
			<key>sort</key>
			<string>10</string>
		</dict>
	</array>
	<key>value</key>
	<dict>
		<key>className</key>
		<string>net.rujel.curriculum.ReprPlugin</string>
		<key>methodName</key>
		<string>agregate</string>
		<key>paramClasses</key>
		<array>
			<string>net.rujel.interfaces.EduCourse</string>
		</array>
		<key>paramValues</key>
		<array>
			<string>.</string>
		</array>
		<key>cacheResult</key>
		<true/>
	</dict>
</dict>
</plist>
