<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>active</key>
	<false/>
	<key>entity</key>
	<string>Substitute</string>
	<key>hover</key>
	<string>Замененные уроки</string>
	<key>id</key>
	<string>substitutes</string>
	<key>presenterBindings</key>
	<dict>
		<key>numberformat</key>
		<string>'0</string>
	</dict>
	<key>short</key>
	<string>замен</string>
	<key>sort</key>
	<string>35</string>
	<key>title</key>
	<string>Замененные уроки</string>
	<key>value</key>
	<dict>
		<key>cacheResult</key>
		<true/>
		<key>className</key>
		<string>net.rujel.curriculum.Substitute</string>
		<key>methodName</key>
		<string>countSubstituted</string>
		<key>paramClasses</key>
		<array>
			<string>com.webobjects.foundation.NSArray</string>
		</array>
		<key>paramValues</key>
		<array>
			<string>.lessons</string>
		</array>
	</dict>
</dict>
</plist>
