<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Выполнение плана</string>
	<key>id</key>
	<string>variations</string>
	<key>sort</key>
	<string>30</string>
	<key>active</key>
	<false/>
	<key>entity</key>
	<string>Variation</string>
	<key>subParams</key>
	<array>
		<dict>
			<key>active</key>
			<true/>
			<key>id</key>
			<string>weeks</string>
			<key>title</key>
			<string>Недель</string>
			<key>hover</key>
			<string>Количество учебных циклов с начала года</string>
			<key>short</key>
			<string>Нед</string>
			<key>titleStyle</key>
			<string>color:#999999;</string>
			<key>style</key>
			<string>color:#999999;</string>
			<key>value</key>
			<string>.weeks</string>
			<key>sort</key>
			<string>03</string>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>id</key>
			<string>days</string>
			<key>title</key>
			<string>Дней</string>
			<key>short</key>
			<string>(дн)</string>
			<key>hover</key>
			<string>Прошло дней от начала вычисляемой недели</string>
			<key>titleStyle</key>
			<string>color:#999999;</string>
			<key>style</key>
			<string>color:#999999;</string>
			<key>value</key>
			<string>.extraDays</string>
			<key>sort</key>
			<string>05</string>
		</dict>
		<dict>
			<key>active</key>
			<true/>
			<key>id</key>
			<string>plan</string>
			<key>title</key>
			<string>План</string>
			<key>value</key>
			<string>.plan</string>
			<key>sort</key>
			<string>10</string>
		</dict>
		<dict>
			<key>active</key>
			<true/>
			<key>id</key>
			<string>fact</string>
			<key>title</key>
			<string>Дано</string>
			<key>value</key>
			<string>.fact</string>
			<key>sort</key>
			<string>30</string>
		</dict>
		<dict>
			<key>active</key>
			<true/>
			<key>id</key>
			<string>plus</string>
			<key>title</key>
			<string>Добавлено</string>
			<key>titleStyle</key>
			<string>width:3ex;color:#009933;</string>
			<key>style</key>
			<string>color:#009933;</string>
			<key>short</key>
			<string>+</string>
			<key>value</key>
			<string>.plus</string>
			<key>sort</key>
			<string>40</string>
		</dict>
		<dict>
			<key>active</key>
			<true/>
			<key>id</key>
			<string>minus</string>
			<key>title</key>
			<string>Пропущено</string>
			<key>titleStyle</key>
			<string>width:3ex;color:#cc3333;</string>
			<key>style</key>
			<string>color:#cc3333;</string>
			<key>short</key>
			<string>-</string>
			<key>value</key>
			<string>.minus</string>
			<key>sort</key>
			<string>45</string>
		</dict>
		<dict>
			<key>active</key>
			<true/>
			<key>id</key>
			<string>dev</string>
			<key>title</key>
			<string>Расхождение</string>
			<key>titleStyle</key>
			<string>width:1.6em;</string>
			<key>style</key>
			<string>white-space:nowrap;</string>
			<key>short</key>
			<string>?</string>
			<key>value</key>
			<string>.deviation</string>
			<key>class</key>
			<string>.styleClass</string>
			<key>onclick</key>
			<string>$session.ajaxPopup</string>
			<key>nextPage</key>
			<string>VariationsList</string>
			<key>pageParams</key>
			<dict>
				<key>course</key>
				<string>$itemRow</string>
				<key>planFact</key>
				<string>.</string>
			</dict>
			<key>popup</key>
			<true/>
			<key>sort</key>
			<string>38</string>
		</dict>
	</array>
	<key>value</key>
	<dict>
		<key>className</key>
		<string>net.rujel.curriculum.VariationsPlugin</string>
		<key>methodName</key>
		<string>planFact</string>
		<key>paramClasses</key>
		<array>
			<string>net.rujel.interfaces.EduCourse</string>
			<string>com.webobjects.foundation.NSTimestamp</string>
		</array>
		<key>paramValues</key>
		<array>
			<string>.</string>
			<string>$session.today</string>
		</array>
		<key>cacheResult</key>
		<true/>
	</dict>
</dict>
</plist>
