<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Mark</key>
	<dict>
		<key>modifiers</key>
		<dict>
			<key>completionClosed</key>
			<dict>
				<key>root</key>
				<string>1</string>
				<key>zavuch</key>
				<string>1</string>
				<key>zav_kaf</key>
				<string>1</string>
				<key>tutor</key>
				<string>1</string>
				<key>teacher</key>
				<string>1</string>
			</dict>
		</dict>
		<key>root</key>
		<string>1023</string>
		<key>teacher</key>
		<string>15</string>
		<key>tutor</key>
		<string>1</string>
		<key>zavuch</key>
		<string>1</string>
		<key>zav_kaf</key>
		<string>1</string>
	</dict>
	<key>WorkNote</key>
	<dict>
		<key>modifiers</key>
		<dict>
			<key>completionClosed</key>
			<dict>
				<key>root</key>
				<string>1</string>
				<key>zavuch</key>
				<string>1</string>
				<key>zav_kaf</key>
				<string>1</string>
				<key>tutor</key>
				<string>1</string>
				<key>teacher</key>
				<string>1</string>
			</dict>
		</dict>
		<key>root</key>
		<string>1023</string>
		<key>teacher</key>
		<string>15</string>
		<key>tutor</key>
		<string>3</string>
		<key>zavuch</key>
		<string>15</string>
		<key>zav_kaf</key>
		<string>1</string>
	</dict>
	<key>Work</key>
	<dict>
		<key>modifiers</key>
		<dict>
			<key>completionClosed</key>
			<dict>
				<key>root</key>
				<string>1</string>
				<key>teacher</key>
				<string>1</string>
				<key>any</key>
				<string>1</string>
			</dict>
		</dict>
		<key>root</key>
		<string>1023</string>
		<key>teacher</key>
		<string>15</string>
		<key>any</key>
		<string>1</string>
	</dict>
	<key>WorkType</key>
	<dict>
		<key>root</key>
		<string>1023</string>
		<key>zavuch</key>
		<string>15</string>
		<key>any</key>
		<string>1</string>
	</dict>
	<key>CriteriaSet</key>
	<dict>
		<key>root</key>
		<string>1023</string>
		<key>zavuch</key>
		<string>15</string>
		<key>any</key>
		<string>1</string>
	</dict>
</dict>
</plist>
