<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Work</key>
	<string>Работа</string>
	<key>works</key>
	<string>Работы</string>
	<key>Mark</key>
	<string>Оценка</string>
	<key>theme</key>
	<string>Содержание</string>
	<key>type</key>
	<string>тип</string>
	<key>weight</key>
	<string>вес</string>
	<key>weightInfo</key>
	<string>вклад в итоговую отметку</string>
	<key>criteria</key>
	<string>критерии</string>
	<key>dates</key>
	<string>Даты</string>
	<key>announce</key>
	<string>объявления</string>
	<key>deadline</key>
	<string>срок сдачи</string>
	<key>shortAnnounce</key>
	<string>задано</string>
	<key>shortDeadline</key>
	<string>сдать</string>
	<key>load</key>
	<string>трудозатраты ( ч:м )</string>
	<key>integral</key>
	<string>успешность</string>
	<key>URL</key>
	<string>ссылка</string>
	<key>materials</key>
	<string>материалы для подготовки</string>
	<key>criterMax</key>
	<string>Максимумы</string>
	<key>criterWeight</key>
	<string>Веса</string>
	<key>noCriteria</key>
	<string>Без критериев</string>
	<key>Max</key>
	<string>Максимум</string>
	<key>comments</key>
	<string>заметки</string>
	<key>inspector</key>
	<string>Подробное описание</string>
	<key>compulsory</key>
	<string>обязательная</string>
	<key>setup</key>
	<dict>
		<key>WorkType</key>
		<dict>
			<key>title</key>
			<string>Типы работ</string>
			<key>component</key>
			<string>WorkTypeSetup</string>
			<key>sort</key>
			<string>20</string>
			<key>workType</key>
			<string>Тип работы</string>
			<key>fix</key>
			<string>зафиксировать</string>
			<key>colors</key>
			<string>Цвета</string>
			<key>withWeight</key>
			<string>вес&gt;0</string>
			<key>noWeight</key>
			<string>вес=0</string>
			<key>compulsory</key>
			<string>обязат.</string>
		</dict>
	</dict>
	<key>messages</key>
	<dict>
		<key>critersRequired</key>
		<string>В работе с ненулевым весом должен быть хотя бы один критерий с ненулевым весом.</string>
		<key>notSaved</key>
		<string>Нужно сохранить изменения</string>
		<key>longText</key>
		<string>Описание работы не должно быть длиннее 255 символов. Вы использовали %d.</string>
		<key>lateAnnounce</key>
		<string>Дата объявления работы не должна быть позже даты сдачи</string>
		<key>nullDate</key>
		<string>Должны быть указаны обе даты - объявления и сдачи работы</string>
		<key>markValueOverMax</key>
		<string>Оценка по критерию &apos;%s&apos; превышает максимум</string>
		<key>markValueLowerZero</key>
		<string>Оценка по критерию &apos;%s&apos; меньше нуля</string>
		<key>maxShouldBeOverZero</key>
		<string>Максимум по критерию &apos;%s&apos; должен быть больше нуля</string>
		<key>unavailbleCriterion</key>
		<string>Оценка по недоступному критерию</string>
		<key>oddCriteria</key>
		<string>В работе есть оценки по отсутствующим критериям:</string>
		<key>noCriteriaWithCriteria</key>
		<string>В работе должны быть либо критериальные оценки либо без критериев, но не одновременно.</string>
		<key>courseHasWorks</key>
		<string>В этом курсе описаны работы</string>
		<key>illegalWeight</key>
		<string>вес работы должен быть в диапазоне от 0 до 99.99</string>
		<key>illegalScale</key>
		<string>вес работы должен иметь не более 2 знаков после запятой</string>
	</dict>
	<key>worksTab</key>
	<dict>
		<key>title</key>
		<string>работы</string>
		<key>hover</key>
		<string>оцениваемые работы (контрольные, домашние, проектные)</string>
		<key>listPresenter</key>
		<string>WorkList</string>
		<key>id</key>
		<string>worksTab</string>
		<key>sort</key>
		<string>10</string>
		<key>entityName</key>
		<string>Work</string>
		<key>courseAttribute</key>
		<string>course</string>
		<key>single</key>
		<string>true</string>
		<key>presenter</key>
		<string>MarksPresenter</string>
		<key>selector</key>
		<string>CriterSelector</string>
		<key>framework</key>
		<string>RujelCriterial</string>
		<key>scriptResource</key>
		<string>criterial.js</string>
		<key>prefetchPaths</key>
		<array>
			<string>marks</string>
			<string>notes</string>
			<string>criterMask</string>
			<string>taskText</string>
		</array>
	</dict>
	<key>tabs</key>
	<array>
		<dict>
			<key>hover</key>
			<string>По датам</string>
			<key>listPresenter</key>
			<string>WorkList</string>
			<key>mode</key>
			<string>byDate</string>
			<key>presenter</key>
			<string>MarksPresenter</string>
			<key>selector</key>
			<string>CriterSelector</string>
			<key>single</key>
			<string>false</string>
			<key>sort</key>
			<string>10</string>
			<key>title</key>
			<string>1|2|3</string>
			<key>toggleSingle</key>
			<string>criteria</string>
		</dict>
		<dict>
			<key>hover</key>
			<string>Развернуть критерии</string>
			<key>listPresenter</key>
			<string>WorkList</string>
			<key>mode</key>
			<string>criteria</string>
			<key>presenter</key>
			<string>MarksPresenter</string>
			<key>single</key>
			<string>true</string>
			<key>sort</key>
			<string>20</string>
			<key>title</key>
			<string>A|B|C</string>
			<key>toggleSingle</key>
			<string>byDate</string>
		</dict>
	</array>
	<key>reportSettings</key>
	<dict>
		<key>id</key>
		<string>marks</string>
		<key>title</key>
		<string>Работы</string>
		<key>active</key>
		<true/>
		<key>options</key>
		<array>
			<dict>
				<key>options</key>
				<array>
					<dict>
						<key>id</key>
						<string>all</string>
						<key>title</key>
						<string>все</string>
						<key>hover</key>
						<string>все работы за период</string>
						<key>value</key>
						<integer>5</integer>
					</dict>
					<dict>
						<key>id</key>
						<string>markable</string>
						<key>title</key>
						<string>возможны оценки</string>
						<key>hover</key>
						<string>все работы, предусматривающие оценку</string>
						<key>value</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>id</key>
						<string>marked</string>
						<key>title</key>
						<string>выставлены оценки</string>
						<key>hover</key>
						<string>все оценки, полученные учащимся</string>
						<key>value</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>id</key>
						<string>required</string>
						<key>title</key>
						<string>только важные</string>
						<key>hover</key>
						<string>работы, влияющие на итоговую</string>
						<key>value</key>
						<integer>0</integer>
					</dict>
				</array>
				<key>id</key>
				<string>level</string>
				<key>hover</key>
				<string>какие работы показывать в распечатке</string>
				<key>active</key>
				<string>1</string>
			</dict>
			<dict>
				<key>id</key>
				<string>short</string>
				<key>title</key>
				<string>кратко</string>
				<key>active</key>
				<false/>
			</dict>
			<dict>
				<key>id</key>
				<string>hideMax</string>
				<key>title</key>
				<string>скрыть максимумы</string>
				<key>active</key>
				<false/>
			</dict>
		</array>
		<key>sort</key>
		<string>20</string>
	</dict>
	<key>diaryTabs</key>
	<array>
		<dict>
			<key>id</key>
			<string>dayTasks</string>
			<key>title</key>
			<string>Задания на день</string>
			<key>sort</key>
			<string>10</string>
			<key>component</key>
			<string>WorksDiary</string>
			<key>period</key>
			<string>false</string>
			<key>order</key>
			<array>
				<string>date</string>
				<string>course</string>
			</array>
			<key>labelTitle</key>
			<string>Предмет</string>
		</dict>
		<dict>
			<key>id</key>
			<string>periodTasks</string>
			<key>title</key>
			<string>Задания за период</string>
			<key>sort</key>
			<string>20</string>
			<key>component</key>
			<string>WorksDiary</string>
			<key>period</key>
			<string>true</string>
			<key>order</key>
			<array>
				<string>course</string>
				<string>date</string>
			</array>
			<key>labelTitle</key>
			<string>Срок сдачи</string>
		</dict>
	</array>
	<key>courseComplete</key>
	<dict>
		<key>id</key>
		<string>works</string>
		<key>title</key>
		<string>работы</string>
		<key>component</key>
		<string>PrintWorks</string>
		<key>sort</key>
		<string>10</string>
	</dict>
</dict>
</plist>
