<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Work</key>
	<string>Работа</string>
	<key>works</key>
	<string>Работы</string>
	<key>Mark</key>
	<string>Оценка</string>
	<key>theme</key>
	<string>Содержание</string>
	<key>type</key>
	<string>тип</string>
	<key>weight</key>
	<string>вес</string>
	<key>weightInfo</key>
	<string>вклад в итоговую отметку</string>
	<key>criteria</key>
	<string>критерии</string>
	<key>dates</key>
	<string>Даты</string>
	<key>announce</key>
	<string>объявления</string>
	<key>deadline</key>
	<string>срок сдачи</string>
	<key>shortAnnounce</key>
	<string>задано</string>
	<key>shortDeadline</key>
	<string>сдать</string>
	<key>load</key>
	<string>трудозатраты ( ч:м )</string>
	<key>integral</key>
	<string>успешность</string>
	<key>URL</key>
	<string>ссылка</string>
	<key>materials</key>
	<string>материалы для подготовки</string>
	<key>criterMax</key>
	<string>Максимумы</string>
	<key>criterWeight</key>
	<string>Веса</string>
	<key>noCriteria</key>
	<string>Без критериев</string>
	<key>Max</key>
	<string>Максимум</string>
	<key>comments</key>
	<string>заметки</string>
	<key>inspector</key>
	<string>Подробное описание</string>
	<key>compulsory</key>
	<string>обязательная</string>
	<key>titles</key>
	<dict>
		<key>idx</key>
		<string>зн.</string>
		<key>value</key>
		<string>предст.</string>
	</dict>
	<key>setup</key>
	<dict>
		<key>WorkType</key>
		<dict>
			<key>title</key>
			<string>Типы работ</string>
			<key>component</key>
			<string>WorkTypeSetup</string>
			<key>sort</key>
			<string>20</string>
			<key>workType</key>
			<string>Тип работы</string>
			<key>fix</key>
			<string>зафиксировать</string>
			<key>colors</key>
			<string>Цвета</string>
			<key>withWeight</key>
			<string>вес&gt;0</string>
			<key>noWeight</key>
			<string>вес=0</string>
			<key>compulsory</key>
			<string>обязат.</string>
			<key>critSet</key>
			<string>особый набор критериев</string>
			<key>maskTitle</key>
			<string>Название набора</string>
			<key>addMaskSettings</key>
			<string>Настроить наборы</string>
		</dict>
		<key>CriteriaSet</key>
		<dict>
			<key>title</key>
			<string>Система оценивания</string>
			<key>component</key>
			<string>SetupCriteria</string>
			<key>sort</key>
			<string>30</string>
			<key>critSet</key>
			<string>набор критериев</string>
			<key>none</key>
			<string>свободные критерии</string>
			<key>name</key>
			<string>имя</string>
			<key>rename</key>
			<string>править</string>
			<key>delete</key>
			<string>Удалить активный набор критериев</string>
			<key>createPrompt</key>
			<string>Название нового набора критериев</string>
			<key>createIndexPrompt</key>
			<string>Название нового представления</string>
			<key>renamePrompt</key>
			<string>Переименовать активный набор критериев</string>
			<key>usage</key>
			<string>использование наборов критериев</string>
			<key>index</key>
			<string>Внешнее представление</string>
			<key>noIndex</key>
			<string>как есть</string>
			<key>noCriter</key>
			<string>Бескритериальная оценка</string>
			<key>criteria</key>
			<string>Критерии оценивания</string>
			<key>freeCritDescription</key>
			<string>Свободные критерии позволяют преподавателю произвольно задавать количество критериев и максимумы в каждой работе.</string>
			<key>flags</key>
			<dict>
				<key>fixMax</key>
				<string>запретить изменять максимумы</string>
				<key>fixWeight</key>
				<string>запретить изменять веса критериев</string>
				<key>fixList</key>
				<string>всегда использовать все критерии</string>
				<key>numerousCriteria</key>
				<string>показывать перечень критериев по вертикали в описании работы</string>
			</dict>
			<key>tabs</key>
			<array>
				<string>Наборы критериев</string>
				<string>Представления</string>
			</array>
			<key>framework</key>
			<string>RujelBase</string>
			<key>scriptResource</key>
			<string>sorting.js</string>
		</dict>
		<key>BorderSet</key>
		<dict>
			<key>title</key>
			<string>Преобразование процентов</string>
			<key>component</key>
			<string>BordersSetup</string>
			<key>sort</key>
			<string>35</string>
			<key>bsTitle</key>
			<string>Набор</string>
			<key>newBSet</key>
			<string>Новый набор</string>
			<key>comparison</key>
			<string>Сравнение</string>
			<key>valueType</key>
			<string>Тип значения</string>
			<key>textType</key>
			<string>текст</string>
			<key>colorType</key>
			<string>цвет</string>
			<key>value</key>
			<string>Значение</string>
			<key>namedPresenter</key>
			<string>Имя...</string>
			<key>settings</key>
			<array>
				<dict>
					<key>settingBase</key>
					<string>presenters.workIntegral</string>
					<key>description</key>
					<string>Интегральная оценка за работу (с весом > 0)</string>
					<key>defaultValue</key>
					<string>%</string>
				</dict>
				<dict>
					<key>settingBase</key>
					<string>presenters.weightless</string>
					<key>description</key>
					<string>Интегральная оценка за работу (с весом = 0)</string>
					<key>defaultValue</key>
					<string>none#</string>
				</dict>
				<dict>
					<key>settingBase</key>
					<string>presenters.integralColor</string>
					<key>description</key>
					<string>Цвет подсветки интегральной (с весом > 0)</string>
					<key>defaultValue</key>
					<string>color</string>
				</dict>
				<dict>
					<key>settingBase</key>
					<string>presenters.weightlessColor</string>
					<key>description</key>
					<string>Цвет подсветки интегральной (с весом = 0)</string>
					<key>defaultValue</key>
					<string>color</string>
				</dict>
				<dict>
					<key>settingBase</key>
					<string>bonusBorders</string>
					<key>description</key>
					<string>Граничные проценты для назначения бонусов при 100-балльном оценивании.</string>
				</dict>
			</array>
		</dict>
		<key>SettingsBase</key>
		<array>
			<dict>
				<key>sort</key>
				<string>71</string>
				<key>settingBase</key>
				<string>defaultWorkType</string>
				<key>grouping</key>
				<string>Работы и оценки</string>
				<key>checkAccess</key>
				<string>WorkType</string>
				<key>title</key>
				<string>Тип по-умолчанию</string>
				<key>description</key>
				<string>Какого типа по-умолчанию создаются работы</string>
				<key>settingTitle</key>
				<string>тип</string>
				<key>numericValue</key>
				<dict>
					<key>attribute</key>
					<string>numericValue</string>
					<key>idAttribute</key>
					<string>PRIMARY_KEY</string>
					<key>select</key>
					<dict>
						<key>className</key>
						<string>net.rujel.ui.WorkTypeSetup</string>
						<key>methodName</key>
						<string>types</string>
						<key>cacheResult</key>
						<true/>
						<key>paramClasses</key>
						<array>
							<string>com.webobjects.eocontrol.EOEditingContext</string>
						</array>
						<key>paramValues</key>
						<array>
							<string>$parent.ec</string>
						</array>
					</dict>
					<key>displayString</key>
					<string>.typeName</string>
					<key>defaultValue</key>
					<dict>
						<key>className</key>
						<string>net.rujel.criterial.WorkType</string>
						<key>methodName</key>
						<string>defaultType</string>
						<key>cacheMethod</key>
						<true/>
						<key>paramClasses</key>
						<array>
							<string>com.webobjects.eocontrol.EOEditingContext</string>
						</array>
						<key>paramValues</key>
						<array>
							<string>$parent.ec</string>
						</array>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>sort</key>
				<string>72</string>
				<key>settingBase</key>
				<string>noLessonMarks</string>
				<key>grouping</key>
				<string>Работы и оценки</string>
				<key>checkAccess</key>
				<string>Mark</string>
				<key>title</key>
				<string>Оценки в уроке</string>
				<key>description</key>
				<string>Запретить ставить оценки в режиме "уроки"</string>
				<key>instructions</key>
				<string>Если отмечено, все записи в уроках сохраняются только как текстовые комментарии.
				В противном случае, оценки распознаются и сохраняются в работу на уроке.</string>
				<key>settingTitle</key>
				<string>запрет</string>
				<key>numericValue</key>
				<dict>
					<key>attribute</key>
					<string>numericValue</string>
					<key>boolean</key>
					<string>number</string>
				</dict>
			</dict>
			<dict>
				<key>sort</key>
				<string>73</string>
				<key>settingBase</key>
				<string>lessonWorkNotes</string>
				<key>grouping</key>
				<string>Работы и оценки</string>
				<key>checkAccess</key>
				<string>WorkNote</string>
				<key>title</key>
				<string>Работа на уроке</string>
				<key>description</key>
				<string>Комментарии к урокам переносятся в "работу на уроке"</string>
				<key>instructions</key>
				<string>Если отмечено, все текстовые комментарии на уроке, кроме отметок об отсутствии, сохраняются в соответствующей работе типа "Работа на уроке"</string>
				<key>settingTitle</key>
				<string>переносить</string>
				<key>numericValue</key>
				<dict>
					<key>attribute</key>
					<string>numericValue</string>
					<key>boolean</key>
					<string>number</string>
				</dict>
			</dict>
			<dict>
				<key>sort</key>
				<string>74</string>
				<key>settingBase</key>
				<string>allowMarkLowerZero</string>
				<key>grouping</key>
				<string>Работы и оценки</string>
				<key>checkAccess</key>
				<string>Mark</string>
				<key>title</key>
				<string>Отрицательные оценки</string>
				<key>description</key>
				<string>Разрешить ставить оценки меньше нуля.</string>
				<key>numericValue</key>
				<dict>
					<key>attribute</key>
					<string>numericValue</string>
					<key>boolean</key>
					<string>number</string>
				</dict>
			</dict>
			<dict>
				<key>sort</key>
				<string>76</string>
				<key>settingBase</key>
				<string>weightToMax</string>
				<key>grouping</key>
				<string>Работы и оценки</string>
				<key>checkAccess</key>
				<string>Work</string>
				<key>title</key>
				<string>Вес = максимуму</string>
				<key>description</key>
				<string>Приводить вес критериев к максимуму по критерию.</string>
				<key>instructions</key>
				<string>Если отмечено, при рассчёте интегральной оценки за работу, вклад каждого критерия по-умолчанию определяется максимум по этому критерию.
				Если не отмечено, все критерии по-умолчанию равнозначны, независимо от максимумов.</string>
				<key>numericValue</key>
				<dict>
					<key>attribute</key>
					<string>numericValue</string>
					<key>defaultValue</key>
					<true/>
					<key>boolean</key>
					<string>number</string>
				</dict>
			</dict>
			<dict>
				<key>sort</key>
				<string>77</string>
				<key>settingBase</key>
				<string>countMarklessWorkAfter</string>
				<key>grouping</key>
				<string>Работы и оценки</string>
				<key>checkAccess</key>
				<string>Work</string>
				<key>title</key>
				<string>Без оценок не считать</string>
				<key>description</key>
				<string>Сколько дней не учитывать работу без выставленных оценок в расчёте прогноза.</string>
				<key>instructions</key>
				<string>Если не указано, пустая работа начинает влиять на прогноз с момента проведения.</string>
				<key>settingTitle</key>
				<string>дней</string>
				<key>numericValue</key>
				<dict>
					<key>attribute</key>
					<string>numericValue</string>
					<key>formatter</key>
					<string>'0</string>
					<key>styleClass</key>
					<string>numeric</string>
					<key>fieldSize</key>
					<integer>3</integer>
				</dict>
			</dict>
			<dict>
				<key>sort</key>
				<string>78</string>
				<key>settingBase</key>
				<string>defaultHometask</string>
				<key>grouping</key>
				<string>Работы и оценки</string>
				<key>checkAccess</key>
				<string>Work</string>
				<key>title</key>
				<string>Заготовка домашнего задания</string>
				<key>description</key>
				<string>Значение по умолчанию в поле темы работы при создании домашнего задания</string>
				<key>settingTitle</key>
				<string>текст</string>
				<key>textValue</key>
				<dict>
					<key>attribute</key>
					<string>textValue</string>
					<key>fieldSize</key>
					<integer>20</integer>
				</dict>
			</dict>
			<dict>
				<key>sort</key>
				<string>79</string>
				<key>settingBase</key>
				<string>CriterlessMax</string>
				<key>grouping</key>
				<string>Работы и оценки</string>
				<key>checkAccess</key>
				<string>Mark</string>
				<key>title</key>
				<string>Максимум бескритериальной</string>
				<key>description</key>
				<string>Значение по-умолчанию для максимума бескритериальной отметки.</string>
				<key>instructions</key>
				<string>Эта настройка устарела. Рекомендуется использовать средства настройки оценивания.</string>
				<key>settingTitle</key>
				<string>max</string>
				<key>numericValue</key>
				<dict>
					<key>attribute</key>
					<string>numericValue</string>
					<key>formatter</key>
					<string>'0</string>
					<key>styleClass</key>
					<string>numeric</string>
					<key>fieldSize</key>
					<integer>3</integer>
					<key>defaultValue</key>
					<integer>5</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<key>messages</key>
	<dict>
		<key>critersRequired</key>
		<string>В работе с ненулевым весом должен быть указан способ оценивания.</string>
		<key>notSaved</key>
		<string>Нужно сохранить изменения</string>
		<key>longText</key>
		<string>Описание работы не должно быть длиннее 255 символов. Вы использовали %d.</string>
		<key>lateAnnounce</key>
		<string>Дата объявления работы не должна быть позже даты сдачи</string>
		<key>nullDate</key>
		<string>Должны быть указаны обе даты - объявления и сдачи работы</string>
		<key>markValueOverMax</key>
		<string>Оценка по критерию &apos;%s&apos; превышает максимум</string>
		<key>markValueLowerZero</key>
		<string>Оценка по критерию &apos;%s&apos; меньше нуля</string>
		<key>maxShouldBeOverZero</key>
		<string>Максимум по критерию &apos;%s&apos; должен быть больше нуля</string>
		<key>unavailbleCriterion</key>
		<string>Оценка по недоступному критерию</string>
		<key>oddCriteria</key>
		<string>В работе есть оценки по отсутствующим критериям:</string>
		<key>noCriteriaWithCriteria</key>
		<string>В работе должны быть либо критериальные оценки либо без критериев, но не одновременно.</string>
		<key>courseHasWorks</key>
		<string>В этом курсе описаны работы</string>
		<key>illegalWeight</key>
		<string>вес работы должен быть в диапазоне от 0 до 99.99</string>
		<key>illegalScale</key>
		<string>вес работы должен иметь не более 2 знаков после запятой</string>
		<key>criteriaRequired</key>
		<string>нужно описать критерии, прежде чем заставлять их использовать</string>
		<key>maxsRequired</key>
		<string>нельзя зафиксировать максимумы, пока они не указаны во всех критериях</string>
		<key>weightsRequired</key>
		<string>нельзя зафиксировать веса, пока они не указаны во всех критериях</string>
		<key>critersDescRequired</key>
		<string>Набор критериев должен содержать хотя бы один критерий, либо допускать бескритериальные оценки.</string>
		<key>indexIsUsed</key>
		<string>Это представление используется в критериях %d раз</string>
		<key>illegalMark</key>
		<string>Не предусмотренная отметка по критерию %s</string>
		<key>relatedMarksFound</key>
		<string>найдены связанные оценки за работы</string>
		<key>checkWorks</key>
		<string>Вы изменили дату урока. Пожалуйста, проверьте правильность дат на закладке &quot;работы&quot;.</string>
	</dict>
	<key>worksTab</key>
	<dict>
		<key>title</key>
		<string>работы</string>
		<key>hover</key>
		<string>оцениваемые работы (контрольные, домашние, проектные)</string>
		<key>listPresenter</key>
		<string>WorkList</string>
		<key>id</key>
		<string>worksTab</string>
		<key>sort</key>
		<string>10</string>
		<key>entityName</key>
		<string>Work</string>
		<key>checkAccess</key>
		<string>Mark</string>
		<key>courseAttribute</key>
		<string>course</string>
		<key>single</key>
		<string>true</string>
		<key>presenter</key>
		<string>MarksPresenter</string>
		<key>selector</key>
		<string>CriterSelector</string>
		<key>framework</key>
		<string>RujelCriterial</string>
		<key>scriptResource</key>
		<string>criterial.js</string>
		<key>prefetchPaths</key>
		<array>
			<string>marks</string>
			<string>notes</string>
			<string>criterMask</string>
			<string>taskText</string>
		</array>
		<key>params</key>
		<array>
			<dict>
				<key>title</key>
				<string>Дата</string>
				<key>active</key>
				<false/>
				<key>attribute</key>
				<string>date</string>
				<key>formatter</key>
				<string>date</string>
				<key>fieldSize</key>
				<integer>10</integer>
				<key>qualifierSelector</key>
				<string>&gt;=</string>
				<key>secondSelector</key>
				<string>&lt;=</string>
				<key>defaultMax</key>
				<string>$session.today</string>
				<key>defaultMin</key>
				<dict>
					<key>object</key>
					<string>$session.today</string>
					<key>methodName</key>
					<string>timestampByAddingGregorianUnits</string>
					<key>cacheResult</key>
					<true/>
					<key>paramClasses</key>
					<array>
						<string>int</string>
						<string>int</string>
						<string>int</string>
						<string>int</string>
						<string>int</string>
						<string>int</string>
					</array>
					<key>paramValues</key>
					<array>
						<integer>0</integer>
						<integer>-1</integer>
						<integer>0</integer>
						<integer>0</integer>
						<integer>0</integer>
						<integer>0</integer>
					</array>
				</dict>
			</dict>
			<dict>
				<key>title</key>
				<string>Тип</string>
				<key>active</key>
				<false/>
				<key>attribute</key>
				<string>workType</string>
				<key>select</key>
				<dict>
					<key>className</key>
					<string>com.webobjects.eoaccess.EOUtilities</string>
					<key>methodName</key>
					<string>objectsForEntityNamed</string>
					<key>cacheResult</key>
					<true/>
					<key>paramClasses</key>
					<array>
						<string>com.webobjects.eocontrol.EOEditingContext</string>
						<string>java.lang.String</string>
					</array>
					<key>paramValues</key>
					<array>
						<string>^editingContext</string>
						<string>&apos;WorkType</string>
					</array>
				</dict>
				<key>displayString</key>
				<string>.typeName</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Вес</string>
				<key>attribute</key>
				<string>weight</string>
				<key>formatter</key>
				<string>0.##</string>
				<key>fieldSize</key>
				<integer>3</integer>
				<key>qualifierSelector</key>
				<string>&gt;=</string>
				<key>secondSelector</key>
				<string>&lt;</string>
				<key>defaultMin</key>
				<string>0.1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Обязательная</string>
				<key>qualifierFormat</key>
				<string>((flags &gt;= 8 AND flags &lt; 16) OR flags &gt;= 24) AND weight &gt; 0</string>
				<key>comment</key>
				<string>нельзя пропустить</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Не домашняя</string>
				<key>qualifierFormat</key>
				<string>flags &lt; 16</string>
				<key>comment</key>
				<string>все, кроме д/з</string>
			</dict>
		</array>
		<key>filter</key>
		<array>
			<dict>
				<key>attribute</key>
				<string>worksLevel</string>
				<key>select</key>
				<array>
					<string>все</string>
					<string>оцениваемые</string>
					<string>кроме домашних</string>
					<string>с оценками</string>
					<string>значимые</string>
				</array>
				<key>useIndex</key>
				<true/>
				<key>defaultValue</key>
				<string>кроме домашних</string>
				<key>filterClass</key>
				<string>net.rujel.ui.WorkList</string>
				<key>method</key>
				<string>filterWorks</string>
			</dict>
		</array>
	</dict>
	<key>tabs</key>
	<array>
		<dict>
			<key>hover</key>
			<string>По датам</string>
			<key>listPresenter</key>
			<string>WorkList</string>
			<key>mode</key>
			<string>byDate</string>
			<key>presenter</key>
			<string>MarksPresenter</string>
			<key>selector</key>
			<string>CriterSelector</string>
			<key>single</key>
			<string>false</string>
			<key>sort</key>
			<string>10</string>
			<key>title</key>
			<string>1|2|3</string>
			<key>toggleSingle</key>
			<string>criteria</string>
		</dict>
		<dict>
			<key>hover</key>
			<string>Развернуть критерии</string>
			<key>listPresenter</key>
			<string>WorkList</string>
			<key>mode</key>
			<string>criteria</string>
			<key>presenter</key>
			<string>MarksPresenter</string>
			<key>single</key>
			<string>true</string>
			<key>sort</key>
			<string>20</string>
			<key>title</key>
			<string>A|B|C</string>
			<key>toggleSingle</key>
			<string>byDate</string>
		</dict>
	</array>
	<key>reportSettings</key>
	<dict>
		<key>id</key>
		<string>marks</string>
		<key>title</key>
		<string>Работы</string>
		<key>active</key>
		<true/>
		<key>options</key>
		<array>
			<dict>
				<key>options</key>
				<array>
					<dict>
						<key>id</key>
						<string>all</string>
						<key>title</key>
						<string>все</string>
						<key>hover</key>
						<string>все работы за период</string>
						<key>value</key>
						<integer>5</integer>
					</dict>
					<dict>
						<key>id</key>
						<string>markable</string>
						<key>title</key>
						<string>оцениваемые</string>
						<key>hover</key>
						<string>работы, предусматривающие оценку</string>
						<key>value</key>
						<integer>2</integer>
					</dict>
					<dict>
						<key>id</key>
						<string>marked</string>
						<key>title</key>
						<string>с оценками</string>
						<key>hover</key>
						<string>работы с выставленными оценками</string>
						<key>value</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>id</key>
						<string>required</string>
						<key>title</key>
						<string>весомые</string>
						<key>hover</key>
						<string>работы, влияющие на итоговую</string>
						<key>value</key>
						<integer>0</integer>
					</dict>
				</array>
				<key>id</key>
				<string>level</string>
				<key>hover</key>
				<string>какие работы показывать в распечатке</string>
				<key>active</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>workType</string>
				<key>title</key>
				<string>Тип</string>
				<key>options</key>
				<dict>
					<key>className</key>
					<string>com.webobjects.eoaccess.EOUtilities</string>
					<key>methodName</key>
					<string>objectsForEntityNamed</string>
					<key>cacheResult</key>
					<true/>
					<key>paramClasses</key>
					<array>
						<string>com.webobjects.eocontrol.EOEditingContext</string>
						<string>java.lang.String</string>
					</array>
					<key>paramValues</key>
					<array>
						<string>$returnPage.ec</string>
						<string>&apos;WorkType</string>
					</array>
				</dict>
				<key>displayString</key>
				<string>typeName</string>
				<key>noSelectionString</key>
				<string>_все_</string>
				<key>popUp</key>
				<true/>
			</dict>
			<dict>
				<key>id</key>
				<string>dateSet</string>
				<key>title</key>
				<string>оценки по дате выставления</string>
				<key>hover</key>
				<string>включать работы, оценки за которые были выставлены в искомый период</string>
				<key>active</key>
				<true/>
			</dict>
			<dict>
				<key>id</key>
				<string>short</string>
				<key>title</key>
				<string>кратко</string>
				<key>hover</key>
				<string>показывать оценки в строчку, а не в таблице</string>
				<key>active</key>
				<false/>
			</dict>
			<dict>
				<key>id</key>
				<string>hideMax</string>
				<key>title</key>
				<string>скрыть максимумы</string>
				<key>hover</key>
				<string>не показывать в индексе максимумы</string>
				<key>active</key>
				<false/>
			</dict>
		</array>
		<key>sort</key>
		<string>20</string>
	</dict>
	<key>diaryTabs</key>
	<array>
		<dict>
			<key>id</key>
			<string>dayTasks</string>
			<key>title</key>
			<string>Задания на день</string>
			<key>sort</key>
			<string>10</string>
			<key>component</key>
			<string>WorksDiary</string>
			<key>period</key>
			<string>false</string>
			<key>order</key>
			<array>
				<string>date</string>
				<string>course</string>
			</array>
			<key>labelTitle</key>
			<string>Предмет</string>
		</dict>
		<dict>
			<key>id</key>
			<string>periodTasks</string>
			<key>title</key>
			<string>Задания за период</string>
			<key>sort</key>
			<string>20</string>
			<key>component</key>
			<string>WorksDiary</string>
			<key>period</key>
			<string>true</string>
			<key>order</key>
			<array>
				<string>course</string>
				<string>date</string>
			</array>
			<key>labelTitle</key>
			<string>Срок сдачи</string>
		</dict>
	</array>
	<key>courseComplete</key>
	<dict>
		<key>id</key>
		<string>works</string>
		<key>lockEntity</key>
		<string>Work</string>
		<key>title</key>
		<string>работы</string>
		<key>component</key>
		<string>PrintWorks</string>
		<key>manual</key>
		<true/>
		<key>precedes</key>
		<array>
			<string>student</string>
		</array>
		<key>sort</key>
		<string>20</string>
	</dict>
	<key>spesTypes</key>
	<dict>
		<key>onLesson</key>
		<dict>
			<key>typeName</key>
			<string>работа на уроке</string>
			<key>dfltFlags</key>
			<integer>38</integer>
			<key>colorNoWeight</key>
			<string>#ffff66</string>
			<key>colorWeight</key>
			<string>#ffcc66</string>
		</dict>
	</dict>
	<key>archiveType</key>
	<array>
		<dict>
			<key>entityName</key>
			<string>Mark</string>
			<key>title</key>
			<string>Оценка</string>
			<key>course</key>
			<dict>
				<key>fromKey</key>
				<string>work</string>
				<key>fromEntity</key>
				<string>Work</string>
			</dict>
			<key>grouping</key>
			<string>student</string>
			<key>parent</key>
			<dict>
				<key>entityName</key>
				<string>Work</string>
				<key>parentKey</key>
				<string>work</string>
				<key>searchKey</key>
				<string>work</string>
			</dict>
			<key>params</key>
			<array>
				<dict>
					<key>key</key>
					<string>work</string>
					<key>title</key>
					<string>Работа</string>
					<key>entityName</key>
					<string>Work</string>
					<key>subValues</key>
					<array>
						<string>.date</string>
						<string>.theme</string>
					</array>
					<key>parentValues</key>
					<array>
						<string>.@date_date</string>
						<string>.@theme</string>
					</array>
				</dict>
				<dict>
					<key>key</key>
					<string>student</string>
					<key>title</key>
					<string>Учащийся</string>
					<key>entityName</key>
					<string>Student</string>
					<key>displayDict</key>
					<dict>
						<key>presenter</key>
						<string>PersonDisplay</string>
						<key>presenterBindings</key>
						<dict>
							<key>person</key>
							<string>.</string>
							<key>first</key>
							<string>2</string>
							<key>last</key>
							<string>2</string>
							<key>second</key>
							<string>0</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>properties</key>
			<array>
				<dict>
					<key>value</key>
					<string>.archiveDictionary</string>
					<key>presenter</key>
					<string>MarksPresenter</string>
					<key>presenterBindings</key>
					<dict>
						<key>initData</key>
						<string>$initData</string>
						<key>data</key>
						<string>.archiveDictionary</string>
						<key>readOnly</key>
						<true/>
					</dict>
					<key>omitTD</key>
					<true/>
					<key>titleDict</key>
					<dict>
						<key>presenter</key>
						<string>MarksPresenter</string>
						<key>presenterBindings</key>
						<dict>
							<key>initData</key>
							<string>.</string>
							<key>readOnly</key>
							<true/>
						</dict>
					</dict>
				</dict>
			</array>
			<key>initData</key>
			<dict>
				<key>className</key>
				<string>net.rujel.ui.MarksPresenter</string>
				<key>methodName</key>
				<string>prepareInit</string>
				<key>cacheResult</key>
				<false/>
				<key>paramClasses</key>
				<array>
					<string>com.webobjects.eocontrol.EOEnterpriseObject</string>
					<string>com.webobjects.eocontrol.EOEnterpriseObject</string>
					<string>net.rujel.interfaces.EduCourse</string>
				</array>
				<key>paramValues</key>
				<array>
					<string>.</string>
					<string>$parentObject</string>
					<string>$dict.course</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>entityName</key>
			<string>Work</string>
			<key>title</key>
			<string>Работа</string>
			<key>course</key>
			<string>course</string>
			<key>hideReason</key>
			<true/>
			<key>properties</key>
			<array>
				<dict>
					<key>title</key>
					<string>Объявлено</string>
					<key>value</key>
					<string>.@date_announce</string>
					<key>presenterBindings</key>
					<dict>
						<key>dateformat</key>
						<string>dd.MM.yyyy</string>
					</dict>
					<key>hover</key>
					<string>.@number</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Дата сдачи</string>
					<key>value</key>
					<string>.@date_date</string>
					<key>presenterBindings</key>
					<dict>
						<key>dateformat</key>
						<string>dd.MM.yyyy</string>
					</dict>
					<key>hover</key>
					<string>.@number</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Содержание</string>
					<key>value</key>
					<string>.@theme</string>
					<key>hover</key>
					<string>.@workType</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Вес</string>
					<key>value</key>
					<string>.@decimal_weight</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Оценивание</string>
					<key>escapeHTML</key>
					<false/>
					<key>value</key>
					<dict>
						<key>className</key>
						<string>net.rujel.ui.WorkInspector</string>
						<key>methodName</key>
						<string>presentArchiveCriteria</string>
						<key>cacheResult</key>
						<false/>
						<key>paramClasses</key>
						<array>
							<string>com.webobjects.eocontrol.EOEnterpriseObject</string>
							<string>net.rujel.interfaces.EduCourse</string>
						</array>
						<key>paramValues</key>
						<array>
							<string>.</string>
							<string>$dict.course</string>
						</array>
					</dict>
				</dict>
			</array>
			<key>children</key>
			<dict>
				<key>title</key>
				<string>Оценки</string>
				<key>searchKey</key>
				<string>work</string>
				<key>parentKey</key>
				<string>work</string>
				<key>entityName</key>
				<string>Mark</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
