{
    attributes = (
        {
            columnName = "EXTERNAL_EQUIVALENT"; 
            name = externalEquivalent; 
            prototypeName = string; 
            valueType = S; 
        }, 
        {allowsNull = N; columnName = "G_ID"; name = gID; prototypeName = short; }, 
        {
            allowsNull = N; 
            columnName = "GROUP_TITLE"; 
            name = groupName; 
            prototypeName = word; 
            valueType = S; 
        }, 
        {
            allowsNull = Y; 
            columnName = "SECTION_NUM"; 
            name = sectionID; 
            prototypeName = short; 
        }
    ); 
    attributesUsedForLocking = (externalEquivalent, groupName, sectionID); 
    className = "com.webobjects.eocontrol.EOGenericRecord"; 
    classProperties = (externalEquivalent, groupName, section, users); 
    externalName = "AUT_GROUP"; 
    fetchSpecificationDictionary = {}; 
    name = UserGroup; 
    primaryKeyAttributes = (gID); 
    relationships = (
        {
            deleteRule = EODeleteRuleCascade; 
            destination = AutMember; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = groupID; sourceAttribute = gID; }); 
            name = members; 
            ownsDestination = Y; 
            propagatesPrimaryKey = Y; 
        }, 
        {
            destination = SchoolSection; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = sID; sourceAttribute = sectionID; }); 
            name = section; 
        }, 
        {definition = "members.user"; name = users; }
    ); 
}
