<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allCycles</key>
	<string>Все предметы</string>
	<key>comments</key>
	<string>Примечания</string>
	<key>thisYear</key>
	<string>В этом году</string>
	<key>generateItogs</key>
	<string>Заготовить итоговые</string>
	<key>addItog</key>
	<string>Добавить итог</string>
	<key>relatedItogsFound</key>
	<string>найдены связанные итоговые оценки</string>
	<key>itogAddOn</key>
	<dict>
		<key>activeComponent</key>
		<string>ItogsPresenter</string>
		<key>component</key>
		<string>GenericAddOn</string>
		<key>defaultOn</key>
		<string>false</string>
		<key>framework</key>
		<string>RujelEduResults</string>
		<key>id</key>
		<string>itogs</string>
		<key>imageOff</key>
		<string>tick.png</string>
		<key>imageOn</key>
		<string>tickDim.png</string>
		<key>title</key>
		<string>Итоговые</string>
	</dict>
	<key>properties</key>
	<dict>
		<key>ItogMark</key>
		<dict>
			<key>comment</key>
			<string>комментарий</string>
			<key>flags</key>
			<dict>
				<key>this</key>
				<string>Свойства</string>
				<key>changed</key>
				<string>изменялась</string>
				<key>forced</key>
				<string>не соответствует успешности</string>
				<key>incomplete</key>
				<string>остались задолженности</string>
				<key>manual</key>
				<string>выставлена вручную</string>
				<key>constituents</key>
				<string>изменения в составляющих</string>
				<key>flagged</key>
				<string>пометить</string>
			</dict>
			<key>mark</key>
			<string>оценка</string>
			<key>student</key>
			<string>ученик</string>
			<key>this</key>
			<string>Итоговая оценка</string>
			<key>value</key>
			<string>успешность(%)</string>
		</dict>
		<key>ItogType</key>
		<dict>
			<key>this</key>
			<string>Тип оценки</string>
			<key>name</key>
			<string>Название</string>
			<key>title</key>
			<string>Кратко</string>
			<key>inYearCount</key>
			<string>в году</string>
		</dict>
	</dict>
	<key>studentReporter</key>
	<array>
		<dict>
			<key>component</key>
			<string>TabelReporter</string>
			<key>hideDates</key>
			<string>true</string>
			<key>hover</key>
			<string>Табель итоговых оценок за текущий учебный год</string>
			<key>sort</key>
			<string>5</string>
			<key>title</key>
			<string>Итоговые</string>
			<key>id</key>
			<string>eduResults</string>
		</dict>
		<dict>
			<key>component</key>
			<string>TabelReporter</string>
			<key>hideDates</key>
			<string>true</string>
			<key>noYear</key>
			<string>true</string>
			<key>hover</key>
			<string>Табель итоговых оценок за все время обучения</string>
			<key>sort</key>
			<string>6</string>
			<key>title</key>
			<string>Табель</string>
			<key>winTitle</key>
			<string>Сводный табель</string>
			<key>id</key>
			<string>eduResultsFull</string>
		</dict>
	</array>
	<key>marksPreset</key>
	<array>
		<string>5</string>
		<string>4</string>
		<string>3</string>
		<string>2</string>
		<string>н/а</string>
		<string>осв</string>
	</array>
	<key>planTab</key>
	<dict>
		<key>resourcesFramework</key>
		<string>RujelBase</string>
		<key>scriptResource</key>
		<string>sorting.js</string>
		<key>component</key>
		<string>SetupItogs</string>
		<key>title</key>
		<string>Итоговое Оценивание</string>
		<key>sort</key>
		<string>60</string>
	</dict>
	<key>addType</key>
	<dict>
		<key>title</key>
		<string>Новый тип итоговой оценки</string>
		<key>presenter</key>
		<string>ItogTypeEditor</string>
		<key>takeValuesFromRequest</key>
		<true/>
		<key>invokeAction</key>
		<true/>
		<key>presenterBindings</key>
		<dict>
			<key>currType</key>
			<string>.</string>
			<key>actionResult</key>
			<string>$returnPage</string>
		</dict>
	</dict>
	<key>groupItogs</key>
	<dict>
		<key>component</key>
		<string>GroupItogs</string>
		<key>id</key>
		<string>groupItogs</string>
		<key>sort</key>
		<string>10</string>
		<key>title</key>
		<string>Сводная ведомость</string>
		<key>hover</key>
		<string>Сводная ведомость учета успеваемости учащихся</string>
	</dict>
	<key>archiveType</key>
	<dict>
		<key>entityName</key>
		<string>ItogMark</string>
		<key>title</key>
		<string>Итоговая</string>
		<key>cycle</key>
		<string>eduCycle</string>
		<key>noTeacher</key>
		<true/>
		<key>grouping</key>
		<string>student</string>
		<key>params</key>
		<array>
			<dict>
				<key>key</key>
				<string>container</string>
				<key>title</key>
				<string>Отчетный период</string>
				<key>entityName</key>
				<string>ItogContainer</string>
				<key>keyPath</key>
				<string>title</string>
			</dict>
			<dict>
				<key>key</key>
				<string>eduCycle</string>
				<key>title</key>
				<string>Предмет : класс</string>
				<key>entityName</key>
				<string>EduCycle</string>
				<key>subValues</key>
				<array>
					<string>.subject</string>
					<string>.grade</string>
				</array>
			</dict>
			<dict>
				<key>key</key>
				<string>student</string>
				<key>title</key>
				<string>Учащийся</string>
				<key>entityName</key>
				<string>Student</string>
				<key>displayDict</key>
				<dict>
					<key>presenter</key>
					<string>PersonDisplay</string>
					<key>presenterBindings</key>
					<dict>
						<key>person</key>
						<string>.</string>
						<key>first</key>
						<string>2</string>
						<key>last</key>
						<string>2</string>
						<key>second</key>
						<string>0</string>
					</dict>
				</dict>
			</dict>
		</array>
		<key>properties</key>
		<array>
			<dict>
				<key>title</key>
				<string>Оценка</string>
				<key>value</key>
				<string>.@mark</string>
				<key>hover</key>
				<string>.@value</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
