<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ui</key>
	<dict>
		<key>allowTimeMachine</key>
		<string>true</string>
		<key>dateFormat</key>
		<string>dd.MM.yyyy</string>
		<key>shortDateFormat</key>
		<string>dd.MM</string>
		<key>keyValueCacheSize</key>
		<string>12</string>
	</dict>
</dict>
</plist>
