<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sort</key>
	<string>10</string>
	<key>auth</key>
	<dict>
		<key>groupMapping</key>
		<dict>
			<key>root</key>
			<string>cn=admin, cn=groups</string>
			<key>zavuch</key>
			<string>cn=zavuch, cn=groups</string>
			<key>zav_kaf</key>
			<string>cn=zav_kaf, cn=groups</string>
			<key>teacher</key>
			<string>cn=teacher, cn=groups</string>
			<key>tutor</key>
			<string>cn=tutor, cn=groups</string>
			<key>any</key>
			<string>*</string>
		</dict>
		<key>ldap</key>
		<dict>
			<key>providerUrl</key>
			<string>ldap://localhost</string>
			<key>uidAttribute</key>
			<string>uid</string>
			<key>memberAttribute</key>
			<string>memberUid</string>
			<key>useSSL</key>
			<string>false</string>
		</dict>
		<key>loginHandlerClass</key>
		<string>net.rujel.auth.ldap.LdapAuthentication</string>
	</dict>
</dict>
</plist>
