<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EduCourse</key>
	<dict>
		<key>comment</key>
		<string>Комментарий</string>
		<key>cycle</key>
		<string>Цикл</string>
		<key>eduGroup</key>
		<string>Учебная группа</string>
		<key>eduYear</key>
		<string>Учебный год</string>
		<key>lessons</key>
		<string>уроки</string>
		<key>subgroup</key>
		<string>Подгруппа</string>
		<key>teacher</key>
		<string>Преподаватель</string>
		<key>this</key>
		<string>Учебный курс</string>
	</dict>
	<key>EduCycle</key>
	<dict>
		<key>grade</key>
		<string>Поток</string>
		<key>subgroups</key>
		<string>Подгрупп</string>
		<key>subject</key>
		<string>Предмет</string>
		<key>this</key>
		<string>Учебный План</string>
	</dict>
	<key>EduGroup</key>
	<dict>
		<key>count</key>
		<string>Численность</string>
		<key>grade</key>
		<string>Поток</string>
		<key>list</key>
		<string>список</string>
		<key>name</key>
		<string>Полное название</string>
		<key>this</key>
		<string>Класс</string>
		<key>title</key>
		<string>Буква класса</string>
	</dict>
	<key>EduLesson</key>
	<dict>
		<key>course</key>
		<string>Учебный курс</string>
		<key>date</key>
		<string>Дата проведения</string>
		<key>flags</key>
		<dict>
			<key>lastOnPage</key>
			<string>Последний на странице</string>
			<key>notLesson</key>
			<string>Не является уроком</string>
		</dict>
		<key>homeTask</key>
		<string>Домашнее Задание</string>
		<key>ht</key>
		<string>Д/З</string>
		<key>note</key>
		<string>Отметка</string>
		<key>noteForStudent</key>
		<string>Отметка ученика</string>
		<key>number</key>
		<string>Номер п/п</string>
		<key>theme</key>
		<string>Тема</string>
		<key>this</key>
		<string>Урок</string>
	</dict>
	<key>Person</key>
	<dict>
		<key>birthDate</key>
		<string>Дата рождения</string>
		<key>firstName</key>
		<string>Имя</string>
		<key>initials</key>
		<string>Инициалы</string>
		<key>lastName</key>
		<string>Фамилия</string>
		<key>person</key>
		<string>персона</string>
		<key>secondName</key>
		<string>Отчество</string>
		<key>sex</key>
		<string>Пол</string>
		<key>this</key>
		<string>Персона</string>
	</dict>
	<key>Student</key>
	<dict>
		<key>recentMainEduGroup</key>
		<string>В классе</string>
		<key>this</key>
		<string>Ученик</string>
	</dict>
	<key>Teacher</key>
	<dict>
		<key>this</key>
		<string>Учитель</string>
	</dict>
</dict>
</plist>
