<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dataTypes</key>
	<dict>
		<key>date</key>
		<string>дата</string>
		<key>Date</key>
		<string>Дата</string>
		<key>Time</key>
		<string>Время</string>
		<key>Month</key>
		<string>Месяц</string>
		<key>int</key>
		<string>целое</string>
		<key>number</key>
		<string>число</string>
		<key>ofDate</key>
		<string>даты</string>
		<key>ofNumber</key>
		<string>числа</string>
		<key>ofRequest</key>
		<string>запроса</string>
		<key>period</key>
		<string>период</string>
		<key>request</key>
		<string>запрос</string>
		<key>since</key>
		<string>с</string>
		<key>text</key>
		<string>текст</string>
		<key>to</key>
		<string>по</string>
		<key>comment</key>
		<string>Комментарий</string>
		<key>total</key>
		<string>Итого</string>
	</dict>
	<key>presets</key>
	<dict>
		<key>monthShort</key>
		<array>
			<string>янв</string>
			<string>фев</string>
			<string>мар</string>
			<string>апр</string>
			<string>май</string>
			<string>июн</string>
			<string>июл</string>
			<string>авг</string>
			<string>сен</string>
			<string>окт</string>
			<string>ноя</string>
			<string>дек</string>
		</array>
		<key>monthDate</key>
		<array>
			<string>января</string>
			<string>февраля</string>
			<string>марта</string>
			<string>апреля</string>
			<string>мая</string>
			<string>июня</string>
			<string>июля</string>
			<string>августа</string>
			<string>сентября</string>
			<string>октября</string>
			<string>ноября</string>
			<string>декабря</string>
		</array>
		<key>monthLong</key>
		<array>
			<string>Январь</string>
			<string>Февраль</string>
			<string>Март</string>
			<string>Апрель</string>
			<string>Май</string>
			<string>Июнь</string>
			<string>Июль</string>
			<string>Август</string>
			<string>Сентябрь</string>
			<string>Октябрь</string>
			<string>Ноябрь</string>
			<string>Декабрь</string>
		</array>
		<key>sexLetter</key>
		<dict>
			<key>female</key>
			<string>Ж</string>
			<key>male</key>
			<string>М</string>
		</dict>
		<key>weekdayShort</key>
		<array>
			<string>сб</string>
			<string>вс</string>
			<string>пн</string>
			<string>вт</string>
			<string>ср</string>
			<string>чт</string>
			<string>пт</string>
			<string>сб</string>
		</array>
		<key>weekdayLong</key>
		<array>
			<string>Суббота</string>
			<string>Воскресенье</string>
			<string>Понедельник</string>
			<string>Вторник</string>
			<string>Среда</string>
			<string>Четверг</string>
			<string>Пятница</string>
			<string>Суббота</string>
		</array>
	</dict>
	<key>uiElements</key>
	<dict>
		<key>Add</key>
		<string>Добавить</string>
		<key>Archive</key>
		<string>Архивировать</string>
		<key>Back</key>
		<string>Назад</string>
		<key>Cancel</key>
		<string>Отменить</string>
		<key>Change</key>
		<string>Изменить</string>
		<key>Create</key>
		<string>Создать</string>
		<key>Delete</key>
		<string>Удалить</string>
		<key>Done</key>
		<string>Готово</string>
		<key>Edit</key>
		<string>Править</string>
		<key>Error</key>
		<string>Ошибка</string>
		<key>Exit</key>
		<string>Выход</string>
		<key>Other</key>
		<string>Другое</string>
		<key>Reset</key>
		<string>Вернуть</string>
		<key>Save</key>
		<string>Сохранить</string>
		<key>Search</key>
		<string>Искать</string>
		<key>Submit</key>
		<string>Подтвердить</string>
		<key>Select</key>
		<string>Выбрать</string>
		<key>Show</key>
		<string>Показать</string>
		<key>OK</key>
		<string>Ага</string>
	</dict>
</dict>
</plist>
