<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default</key>
	<dict>
		<key>root</key>
		<string>1023</string>
		<key>zavuch</key>
		<string>127</string>
		<key>teacher</key>
		<string>3</string>
		<key>any</key>
		<string>0</string>
	</dict>
	<key>login</key>
	<dict>
		<key>any</key>
		<string>1</string>
	</dict>
	<key>timeMachine</key>
	<dict>
		<key>any</key>
		<string>7</string>
	</dict>
	<key>LessonNoteEditor</key>
	<dict>
		<key>root</key>
		<string>1023</string>
		<key>zavuch</key>
		<string>31</string>
		<key>teacher</key>
		<string>31</string>
		<key>any</key>
		<string>3</string>
	</dict>
	<key>Overview</key>
	<dict>
		<key>root</key>
		<string>1023</string>
		<key>zavuch</key>
		<string>7</string>
		<key>tutor</key>
		<string>7</string>
		<key>teacher</key>
		<string>3</string>
	</dict>
	<key>SrcMark</key>
	<dict>
		<key>root</key>
		<string>1023</string>
		<key>zavuch</key>
		<string>15</string>
		<key>teacher</key>
		<string>3</string>
		<key>any</key>
		<string>1</string>
	</dict>
	<key>AdminPage</key>
	<dict>
		<key>root</key>
		<string>1023</string>
		<key>zavuch</key>
		<string>1</string>
	</dict>
	<key>Maintenance</key>
	<dict>
		<key>root</key>
		<string>1023</string>
	</dict>
	<key>BaseCourse</key>
	<dict>
		<key>root</key>
		<string>1023</string>
		<key>zavuch</key>
		<string>15</string>
		<key>teacher</key>
		<string>3</string>
		<key>any</key>
		<string>1</string>
	</dict>
	<key>CourseAudience</key>
	<dict>
		<key>root</key>
		<string>1023</string>
		<key>zavuch</key>
		<string>15</string>
		<key>teacher</key>
		<string>15</string>
	</dict>
	<key>PrimitiveEduCycle</key>
	<dict>
		<key>root</key>
		<string>1023</string>
		<key>zavuch</key>
		<string>15</string>
		<key>any</key>
		<string>1</string>
	</dict>
	<key>SettingByCourse</key>
	<dict>
		<key>root</key>
		<string>1023</string>
		<key>zavuch</key>
		<string>15</string>
		<key>any</key>
		<string>1</string>
	</dict>
	<key>TeacherChange</key>
	<dict>
		<key>root</key>
		<string>1023</string>
		<key>zavuch</key>
		<string>15</string>
		<key>any</key>
		<string>1</string>
	</dict>
	<key>ReporterSetup</key>
	<dict>
		<key>root</key>
		<string>1023</string>
		<key>zavuch</key>
		<string>15</string>
		<key>tutor</key>
		<string>1</string>
	</dict>
</dict>
</plist>
