<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tabs</key>
	<array>
		<string>Классы</string>
		<string>Учителя</string>
	</array>
	<key>SrcMarkTitle</key>
	<string>Выбор журнала</string>
	<key>ChooseRegime</key>
	<dict>
		<key>title</key>
		<string>Выбор Режима</string>
		<key>welcome</key>
		<string>Вас приветствует РУЖЭЛЬ !</string>
		<key>introduce</key>
		<string>&lt;nobr&gt;Электронная система&lt;/nobr&gt; &lt;nobr&gt;классных журналов&lt;/nobr&gt; &lt;nobr&gt;на русском языке&lt;/nobr&gt;</string>
		<key>selectRegime</key>
		<string>Вам предлагается:</string>
		<key>noAccess</key>
		<string>&lt;p&gt;У Вас нет прав доступа ни к одному из модулей&lt;/p&gt;&lt;p&gt;Oбратитесь к администратору&lt;/p&gt;</string>
		<key>notice</key>
		<string>Не оставляйте открытый журнал без присмотра &lt;br /&gt;Таймер автоматического закрытия сессии выведен слева от кнопки &quot;Выход&quot;</string>
	</dict>
	<key>login</key>
	<dict>
		<key>descript</key>
		<string>Электронная система классных Журналов &lt;span style=&quot;white-space:nowrap;&quot;&gt;на Русском языке&lt;/span&gt;</string>
		<key>username</key>
		<string>Имя</string>
		<key>password</key>
		<string>Пароль</string>
		<key>wait</key>
		<string>ждите</string>
		<key>seconds</key>
		<string>секунд</string>
		<key>Enter</key>
		<string>Вход</string>
		<key>Guest</key>
		<string>Гость</string>
		<key>photo</key>
		<string>фото С.Н.Щербакова</string>
		<key>copy</key>
		<string>Кушнир</string>
	</dict>
	<key>ErrorPages</key>
	<dict>
		<key>Error</key>
		<string>Ошибка</string>
		<key>exceptionMessage</key>
		<string>Произошла непредвиденная ошибка. &lt;br&gt; Информация о ней будет занесена в журнал.&lt;br&gt; Вы можете помочь локализовать ее и исправить, если опишете, что вы делали сейчас, и чем ваши действия могли отличаться от того, что вы обычно делаете.</string>
		<key>recomendations</key>
		<string>Если ошибка повторяется - попробуйте выйти из журнала и войти снова.&lt;br&gt;Если и это не помогает, обязательно сообщите об ошибке ответственному лицу.</string>
		<key>showDetails</key>
		<string>Показать детальную информацию</string>
		<key>noAccessTitle</key>
		<string>Нет доступа</string>
		<key>accessDenied</key>
		<string>Извините, Вам запрещен доступ.</string>
		<key>sessionTitle</key>
		<string>Нет сессии</string>
		<key>SessionRestorationError</key>
		<string>Невозможно восстановить подключение.&lt;br&gt;Возможно, Вы уже вышли из приложения, либо выход был осуществлен автоматически по таймеру. &lt;br&gt;В следующий раз обратите внимание на таймер у кнопки &quot;Выход&quot;</string>
		<key>SessionCreationError</key>
		<string>Не удается создать сессию. Сообщите об этой ошибке администаратоу.</string>
		<key>PageRestorationError</key>
		<string>Невозможно отобразить страницу.&lt;br&gt;Возможно, Вы слишком много раз нажимали кнопку &quot;Назад&quot;.&lt;br&gt;Использование кнопки &quot;Назад&quot; браузера не рекомендуется - пожалуйста, используйте кнопки навигации на странице.</string>
		<key>autoRedirect</key>
		<string>Вы будете автоматически перенаправлены через</string>
		<key>manualRedirect</key>
		<string>Если перенаправление не происходит, нажмите здесь</string>
	</dict>
</dict>
</plist>
