<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>regime</key>
	<dict>
		<key>right</key>
		<string>Больше оценок</string>
		<key>left</key>
		<string>Больше работ</string>
		<key>normal</key>
		<string>Ровно</string>
	</dict>
	<key>tabs</key>
	<array>
		<dict>
			<key>hover</key>
			<string>По датам</string>
			<key>single</key>
			<string>false</string>
			<key>title</key>
			<string>1|2|3</string>
		</dict>
		<dict>
			<key>hover</key>
			<string>Развернуть критерии</string>
			<key>single</key>
			<string>true</string>
			<key>title</key>
			<string>A|B|C</string>
		</dict>
	</array>
</dict>
</plist>
