<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultReporter</key>
	<dict>
		<key>component</key>
		<string>StudentReporter</string>
		<key>hover</key>
		<string>Текущие оценки за указанный период</string>
		<key>sort</key>
		<string>1</string>
		<key>title</key>
		<string>Текущие</string>
		<key>winTitle</key>
		<string>Текущая успеваемость</string>
	</dict>
	<key>showMarks</key>
	<string>Показать оценки</string>
	<key>tabs</key>
	<array>
		<string>Предметы</string>
		<string>Ученики</string>
	</array>
	<key>title</key>
	<string>Контроль успеваемости</string>
</dict>
</plist>
