<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>parent</key>
	<string>Подпись родителя</string>
	<key>title</key>
	<string>Оценки</string>
	<key>marks</key>
	<string> оценки</string>
	<key>tutor</key>
	<string>Подпись классного руководителя:</string>
</dict>
</plist>
