<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>parameters</key>
	<array>
		<dict>
			<key>title</key>
			<string>Строка</string>
			<key>attribute</key>
			<string>string</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Число</string>
				<key>attribute</key>
				<string>number</string>
				<key>formatter</key>
				<string>0.####</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Дата</string>
			<key>attribute</key>
			<string>date</string>
			<key>formatter</key>
			<string>date</string>
			<key>fieldSize</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>Учитель</string>
			<key>attribute</key>
			<string>teacher</string>
			<key>resultToDict</key>
			<true/>
			<key>popup</key>
			<dict>
				<key>invokeAction</key>
				<true/>
				<key>presenter</key>
				<string>TeacherSelector</string>
				<key>presenterBindings</key>
				<dict>
					<key>entity</key>
					<string>Teacher</string>
					<key>firstNameDisplay</key>
					<integer>2</integer>
					<key>secondNameDisplay</key>
					<integer>2</integer>
					<key>selection</key>
					<string>.</string>
					<key>useAjaxPost</key>
					<true/>
				</dict>
				<key>style</key>
				<string>min-width:20em</string>
				<key>takeValuesFromRequest</key>
				<true/>
				<key>title</key>
				<string>Выберите учителя</string>
			</dict>
			<key>presenter</key>
			<string>PersonDisplay</string>
			<key>presenterBindings</key>
			<dict>
				<key>first</key>
				<string>1</string>
				<key>last</key>
				<string>2</string>
				<key>person</key>
				<string>.</string>
				<key>second</key>
				<string>1</string>
				<key>valueWhenEmpty</key>
				<string>Выбрать</string>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>Ученик</string>
			<key>attribute</key>
			<string>student</string>
			<key>presenter</key>
			<string>PersonDisplay</string>
			<key>presenterBindings</key>
			<dict>
				<key>person</key>
				<string>.</string>
				<key>last</key>
				<string>2</string>
				<key>first</key>
				<string>2</string>
				<key>second</key>
				<string>0</string>
				<key>valueWhenEmpty</key>
				<string>Выбрать</string>
			</dict>
			<key>resultToDict</key>
			<true/>
			<key>popup</key>
			<dict>
				<key>title</key>
				<string>Выберите ученика</string>
				<key>style</key>
				<string>min-width:20em</string>
				<key>presenter</key>
				<string>PersListing</string>
				<key>takeValuesFromRequest</key>
				<true/>
				<key>invokeAction</key>
				<true/>
				<key>presenterBindings</key>
				<dict>
					<key>entity</key>
					<string>Student</string>
					<key>firstNameDisplay</key>
					<integer>2</integer>
					<key>secondNameDisplay</key>
					<integer>2</integer>
					<key>selection</key>
					<string>.</string>
					<key>useAjaxPost</key>
					<true/>
					<key>noEdit</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>Класс</string>
			<key>attribute</key>
			<string>eduGroup</string>
			<key>presenterBindings</key>
			<dict>
				<key>value</key>
				<string>.name</string>
				<key>valueWhenEmpty</key>
				<string>Выбрать</string>
			</dict>
			<key>resultToDict</key>
			<true/>
			<key>popup</key>
			<dict>
				<key>title</key>
				<string>Выберите класс</string>
				<key>style</key>
				<string>min-width:8em</string>
				<key>presenter</key>
				<string>ClassListing</string>
				<key>takeValuesFromRequest</key>
				<true/>
				<key>invokeAction</key>
				<true/>
				<key>presenterBindings</key>
				<dict>
					<key>width</key>
					<string>100%</string>
					<key>selection</key>
					<string>.</string>
					<key>onClick</key>
					<string>$session.tryLoad</string>
					<key>showSection</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>Курс</string>
			<key>attribute</key>
			<string>eduCourse</string>
			<key>format</key>
			<string>%[eduGroup.name]s | %[subjectWithComment]s | %[teacher.person.lastName]s %[teacher.person.initials]s</string>
			<key>escapeHTML</key>
			<false/>
			<key>resultToDict</key>
			<true/>
			<key>popup</key>
	<dict>
		<key>invokeAction</key>
		<true/>
		<key>style</key>
		<string>min-width:20em</string>
		<key>takeValuesFromRequest</key>
		<false/>
		<key>title</key>
		<string>Выберите курс</string>
		<key>presenter</key>
		<string>CourseSelector</string>
		<key>presenterBindings</key>
		<dict>
			<key>selection</key>
			<string>.</string>
			<key>useAjax</key>
			<true/>
		</dict>
	</dict>
		</dict>
	</array>
	<key>extoptions</key>
	<array>
		<dict>
			<key>name</key>
			<string>Учитель</string>
			<key>interface</key>
			<string>Teacher</string>
			<key>displayDict</key>
			<dict>
				<key>presenter</key>
				<string>PersonDisplay</string>
				<key>presenterBindings</key>
				<dict>
					<key>person</key>
					<string>.</string>
					<key>last</key>
					<string>2</string>
					<key>first</key>
					<string>1</string>
					<key>second</key>
					<string>1</string>
				</dict>
				<key>format</key>
				<string>%[person.lastName]s %[person.initials]s</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>Ученик</string>
			<key>interface</key>
			<string>Student</string>
			<key>displayDict</key>
			<dict>
				<key>presenter</key>
				<string>PersonDisplay</string>
				<key>presenterBindings</key>
				<dict>
					<key>person</key>
					<string>.</string>
					<key>last</key>
					<string>2</string>
					<key>first</key>
					<string>2</string>
					<key>second</key>
					<string>0</string>
				</dict>
				<key>format</key>
				<string>%[person.lastName]s %[person.firstName]s</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>EduCourse</string>
			<key>interface</key>
			<string>EduCourse</string>
			<key>entity</key>
			<string>BaseCourse</string>
			<key>displayDict</key>
			<dict>
				<key>format</key>
				<string>%[eduGroup.name]s | %[subjectWithComment]s | %[teacher.person.lastName]s %[teacher.person.initials]s</string>
				<key>escapeHTML</key>
				<false/>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>EduCycle</string>
			<key>interface</key>
			<string>EduCycle</string>
			<key>displayDict</key>
			<dict>
				<key>format</key>
				<string>%[subject]s – %[grade]d</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>EduGroup</string>
			<key>interface</key>
			<string>EduGroup</string>
			<key>displayDict</key>
			<dict>
				<key>value</key>
				<string>.name</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>ItogContainer</string>
			<key>entity</key>
			<string>ItogContainer</string>
			<key>displayDict</key>
			<dict>
				<key>value</key>
				<string>.name</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>