<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>external</key>
	<string>идентификатор</string>
	<key>groups</key>
	<string>группы</string>
	<key>groupName</key>
	<string>Группа</string>
	<key>accessGroups</key>
	<dict>
		<key>array</key>
		<array>
			<string>root</string>
			<string>zavuch</string>
			<string>zav_kaf</string>
			<string>teacher</string>
			<string>tutor</string>
		</array>
		<key>root</key>
		<string>Системный администратор</string>
		<key>zavuch</key>
		<string>Заведующий учебной частью</string>
		<key>zav_kaf</key>
		<string>Заведующий кафедрой</string>
		<key>teacher</key>
		<string>Преподаватель предметник</string>
		<key>tutor</key>
		<string>Классный руководитель</string>
		<key>any</key>
		<string>все</string>
	</dict>
	<key>messages</key>
	<dict>
		<key>noMatch</key>
		<string>Введенные пароли не совпадают</string>
		<key>enterPassword</key>
		<string>Пожалуйста введите пароль</string>
	</dict>
	<key>adminModule</key>
	<dict>
		<key>title</key>
		<string>Пользователи</string>
		<key>component</key>
		<string>ManageUsers</string>
		<key>sort</key>
		<string>90</string>
	</dict>
</dict>
</plist>
