<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>schoolName</key>
	<string>Школа № ???</string>
	<key>loggingProperties</key>
	<string>CONFIGDIR/logging.properties</string>
	<key>diaryLogging</key>
	<string>CONFIGDIR/diaryLog.properties</string>
	<key>edu</key>
	<dict>
		<key>minGrade</key>
		<string>1</string>
		<key>maxGrade</key>
		<string>11</string>
	</dict>
</dict>
</plist>
