<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>component</key>
	<string>StudentReporter</string>
	<key>hover</key>
	<string>Текущие оценки за указанный период</string>
	<key>sort</key>
	<string>1</string>
	<key>title</key>
	<string>Текущие</string>
	<key>winTitle</key>
	<string>Текущая успеваемость</string>
	<key>id</key>
	<string>default</string>
	<key>allowAjax</key>
	<true/>
	<key>settings</key>
	<dict>
		<key>autoitog</key>
		<dict>
			<key>timeout</key>
			<true/>
			<key>active</key>
			<true/>
			<key>sort</key>
			<integer>1</integer>
		</dict>
		<key>lessons</key>
		<dict>
			<key>active</key>
			<true/>
			<key>sort</key>
			<integer>2</integer>
		</dict>
		<key>marks</key>
		<dict>
			<key>level</key>
			<integer>1</integer>
			<key>active</key>
			<true/>
			<key>sort</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>options</key>
	<array>
		<dict>
			<key>id</key>
			<string>autoitog</string>
			<key>title</key>
			<string>Прогноз</string>
			<key>active</key>
			<true/>
			<key>options</key>
			<array>
				<dict>
					<key>id</key>
					<string>timeout</string>
					<key>title</key>
					<string>отсрочки</string>
					<key>active</key>
					<true/>
				</dict>
			</array>
			<key>sort</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>active</key>
			<true/>
			<key>id</key>
			<string>lessons</string>
			<key>options</key>
			<array>
				<dict>
					<key>active</key>
					<false/>
					<key>hover</key>
					<string>показать все уроки за период (даже без отметок)</string>
					<key>id</key>
					<string>all</string>
					<key>title</key>
					<string>все</string>
				</dict>
				<dict>
					<key>active</key>
					<false/>
					<key>hover</key>
					<string>показывать в строчку, без темы урока</string>
					<key>id</key>
					<string>short</string>
					<key>title</key>
					<string>кратко</string>
				</dict>
			</array>
			<key>title</key>
			<string>Уроки</string>
			<key>sort</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>marks</string>
			<key>title</key>
			<string>Работы</string>
			<key>sort</key>
			<integer>3</integer>
			<key>active</key>
			<true/>
			<key>options</key>
			<array>
				<dict>
					<key>options</key>
					<array>
						<dict>
							<key>id</key>
							<string>all</string>
							<key>title</key>
							<string>все</string>
							<key>hover</key>
							<string>все работы за период</string>
							<key>value</key>
							<integer>5</integer>
						</dict>
						<dict>
							<key>id</key>
							<string>markable</string>
							<key>title</key>
							<string>оцениваемые</string>
							<key>hover</key>
							<string>работы, предусматривающие оценку</string>
							<key>value</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>id</key>
							<string>marked</string>
							<key>title</key>
							<string>с оценками</string>
							<key>hover</key>
							<string>работы с выставленными оценками</string>
							<key>value</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>id</key>
							<string>required</string>
							<key>title</key>
							<string>весомые</string>
							<key>hover</key>
							<string>работы, влияющие на итоговую</string>
							<key>value</key>
							<integer>0</integer>
						</dict>
					</array>
					<key>id</key>
					<string>level</string>
					<key>hover</key>
					<string>какие работы показывать в распечатке</string>
					<key>active</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>id</key>
					<string>workType</string>
					<key>title</key>
					<string>Тип</string>
					<key>options</key>
					<dict>
						<key>className</key>
						<string>com.webobjects.eoaccess.EOUtilities</string>
						<key>methodName</key>
						<string>objectsForEntityNamed</string>
						<key>cacheResult</key>
						<true/>
						<key>paramClasses</key>
						<array>
							<string>com.webobjects.eocontrol.EOEditingContext</string>
							<string>java.lang.String</string>
						</array>
						<key>paramValues</key>
						<array>
							<string>$returnPage.ec</string>
							<string>&apos;WorkType</string>
						</array>
					</dict>
					<key>displayString</key>
					<string>typeName</string>
					<key>noSelectionString</key>
					<string>_все_</string>
					<key>popUp</key>
					<true/>
				</dict>
				<dict>
					<key>id</key>
					<string>dateSet</string>
					<key>title</key>
					<string>оценки по дате выставления</string>
					<key>hover</key>
					<string>включать работы, оценки за которые были выставлены в искомый период</string>
					<key>active</key>
					<true/>
				</dict>
				<dict>
					<key>id</key>
					<string>short</string>
					<key>title</key>
					<string>кратко</string>
					<key>hover</key>
					<string>показывать оценки в строчку, а не в таблице</string>
					<key>active</key>
					<false/>
				</dict>
				<dict>
					<key>id</key>
					<string>hideMax</string>
					<key>title</key>
					<string>скрыть максимумы</string>
					<key>hover</key>
					<string>не показывать в индексе максимумы</string>
					<key>active</key>
					<false/>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>