{
    attributes = (
        {columnName = "P_DATE"; name = begin; prototypeName = date; }, 
        {
            allowsNull = Y; 
            columnName = "ITOG_ID"; 
            name = itogID; 
            prototypeName = short; 
        }, 
        {
            allowsNull = N; 
            columnName = "LIST_NAME"; 
            name = listName; 
            prototypeName = word; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {columnName = "P_ID"; name = pID; prototypeName = short; }
    ); 
    attributesUsedForLocking = (begin, itogID, listName); 
    className = "net.rujel.eduplan.EduPeriod"; 
    classProperties = (begin, listName); 
    externalName = "PL_PERIOD"; 
    fetchSpecificationDictionary = {}; 
    name = EduPeriod; 
    primaryKeyAttributes = (pID); 
}
