{
    attributes = (
        {columnName = BEGIN; name = begin; prototypeName = date; }, 
        {columnName = "EDU_YEAR"; name = eduYear; prototypeName = short; }, 
        {columnName = END; name = end; prototypeName = date; }, 
        {columnName = NAME; name = fullName; prototypeName = word; }, 
        {columnName = "P_ID"; name = pID; prototypeName = short; }, 
        {
            allowsNull = N; 
            columnName = TITLE; 
            name = title; 
            prototypeName = anagram; 
            valueType = i; 
            width = 9; 
        }
    ); 
    attributesUsedForLocking = (begin, end, eduYear, fullName, title); 
    className = "net.rujel.eduplan.EduPeriod"; 
    classProperties = (begin, eduYear, end, fullName, title); 
    externalName = "EDU_PERIOD"; 
    fetchSpecificationDictionary = {}; 
    name = EduPeriod; 
    primaryKeyAttributes = (pID); 
    relationships = (
        {
            deleteRule = EODeleteRuleCascade; 
            destination = PeriodList; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = periodID; sourceAttribute = pID; }); 
            name = periodLists; 
            ownsDestination = Y; 
        }
    ); 
}
