{
    attributes = (
        {
            columnName = "DATE_BEGIN"; 
            name = begin; 
            prototypeName = date; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            columnName = "DATE_END"; 
            name = end; 
            prototypeName = date; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = "H_ID"; 
            name = hID; 
            prototypeName = short; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            columnName = "LIST_NAME"; 
            name = listName; 
            prototypeName = word; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = "HOLIDAY_NAME"; 
            name = name; 
            prototypeName = word; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }
    ); 
    attributesUsedForLocking = (begin, end, listName, name); 
    className = "net.rujel.eduplan.Holiday"; 
    classProperties = (begin, end, listName, name); 
    externalName = "PL_HOLIDAY"; 
    fetchSpecificationDictionary = {}; 
    name = Holiday; 
    primaryKeyAttributes = (hID); 
}
