{
    attributes = (
        {
            allowsNull = N; 
            columnName = "LIST_NAME"; 
            name = listName; 
            prototypeName = word; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = Y; 
            columnName = "NEW_PERIOD"; 
            name = npID; 
            prototypeName = short; 
        }, 
        {
            allowsNull = N; 
            columnName = "EDU_PERIOD"; 
            name = periodID; 
            prototypeName = short; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = "PL_ID"; 
            name = plID; 
            prototypeName = short; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }
    ); 
    attributesUsedForLocking = (listName, periodID); 
    className = EOGenericRecord; 
    classProperties = (listName, newPeriod, oldPeriod); 
    externalName = "PL_PERIOD_LIST"; 
    fetchSpecificationDictionary = {}; 
    name = PeriodList; 
    primaryKeyAttributes = (plID); 
    relationships = (
        {
            destination = EduPeriod; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = pID; sourceAttribute = npID; }); 
            name = newPeriod; 
        }, 
        {
            destination = OldEduPeriod; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = pID; sourceAttribute = periodID; }); 
            name = oldPeriod; 
        }
    ); 
}
