{
    attributes = (
        {columnName = "CT_ID"; name = ctID; prototypeName = short; }, 
        {columnName = TYPE_NAME; name = type; prototypeName = word; }, 
        {columnName = UTILISER_CLASS; name = utiliserClass; prototypeName = string; }
    ); 
    attributesUsedForLocking = (type, utiliserClass); 
    className = EOGenericRecord; 
    classProperties = (type, utiliserClass); 
    externalName = CNT_TYPE; 
    fetchSpecificationDictionary = {}; 
    name = ConType; 
    primaryKeyAttributes = (ctID); 
}
