{
    attributes = (
        {columnName = "E_ID"; name = eID; prototypeName = short; }, 
        {
            allowsNull = N; 
            columnName = "ENTITY_NAME"; 
            name = personEntityName; 
            prototypeName = word; 
        }
    ); 
    attributesUsedForLocking = (personEntityName); 
    className = EOGenericRecord; 
    classProperties = (personEntityName); 
    externalName = "PERSON_ENTITY"; 
    fetchSpecificationDictionary = {}; 
    name = PersonEntity; 
    primaryKeyAttributes = (eID); 
}
