<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Subject</key>
	<dict>
		<key>root</key>
		<string>1023</string>
		<key>zavuch</key>
		<string>15</string>
		<key>any</key>
		<string>1</string>
	</dict>
	<key>SubjectArea</key>
	<dict>
		<key>root</key>
		<string>1023</string>
		<key>zavuch</key>
		<string>15</string>
		<key>any</key>
		<string>1</string>
	</dict>
	<key>PlanCycle</key>
	<dict>
		<key>root</key>
		<string>1023</string>
		<key>zavuch</key>
		<string>15</string>
		<key>zav_kaf</key>
		<string>3</string>
		<key>any</key>
		<string>1</string>
	</dict>
	<key>EduPlan</key>
	<dict>
		<key>root</key>
		<string>1023</string>
		<key>zavuch</key>
		<string>15</string>
		<key>zav_kaf</key>
		<string>3</string>
		<key>any</key>
		<string>1</string>
	</dict>
	<key>PlanDetail</key>
	<dict>
		<key>root</key>
		<string>1023</string>
		<key>zavuch</key>
		<string>15</string>
		<key>zav_kaf</key>
		<string>3</string>
		<key>any</key>
		<string>1</string>
	</dict>
	<key>Holiday</key>
	<dict>
		<key>root</key>
		<string>1023</string>
		<key>zavuch</key>
		<string>15</string>
		<key>any</key>
		<string>1</string>
	</dict>
	<key>EduPeriod</key>
	<dict>
		<key>root</key>
		<string>1023</string>
		<key>zavuch</key>
		<string>15</string>
		<key>any</key>
		<string>1</string>
	</dict>
	<key>PeriodList</key>
	<dict>
		<key>root</key>
		<string>1023</string>
		<key>zavuch</key>
		<string>15</string>
		<key>any</key>
		<string>1</string>
	</dict>
	<key>SetupPeriods</key>
	<dict>
		<key>root</key>
		<string>1023</string>
		<key>zavuch</key>
		<string>15</string>
		<key>tutor</key>
		<string>1</string>
		<key>teacher</key>
		<string>1</string>
	</dict>
	<key>GlobalPlan</key>
	<dict>
		<key>root</key>
		<string>1023</string>
		<key>any</key>
		<string>1</string>
	</dict>
</dict>
</plist>
