<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>showAll</key>
	<string>Добавить предметы</string>
	<key>hideUnused</key>
	<string>Скрыть неиспользуемые</string>
	<key>cantDeleteArea</key>
	<string>Нельзя удалять предметную область, пока в ней есть предметы</string>
	<key>properties</key>
	<dict>
		<key>subject</key>
		<string>Предмет</string>
		<key>subjects</key>
		<string>Предметы</string>
		<key>fullName</key>
		<string>Полное название</string>
		<key>area</key>
		<string>Предметная область</string>
		<key>hours</key>
		<string>часов</string>
		<key>level</key>
		<string>Уровень</string>
		<key>normalGroup</key>
		<string>норма</string>
		<key>normalTitle</key>
		<string>нормальное количество учащихся в подгруппе</string>
		<key>subgroups</key>
		<string>групп</string>
		<key>subgrTitle</key>
		<string>количество подгрупп в классе</string>
	</dict>
	<key>GlobalPlan</key>
	<string>Учебный план </string>
	<key>planRegime</key>
	<dict>
		<key>title</key>
		<string>Учебный План</string>
		<key>component</key>
		<string>GlobalPlan</string>
		<key>group</key>
		<string>edu</string>
		<key>sort</key>
		<string>40</string>
	</dict>
</dict>
</plist>
