<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>archiveTitle</key>
	<string>Архив исправлений</string>
	<key>archive</key>
	<string>архив</string>
	<key>author</key>
	<string>Автор</string>
	<key>reason</key>
	<string>Причина исправления</string>
	<key>entity</key>
	<string>Объект</string>
	<key>newValues</key>
	<string>Изменить</string>
	<key>requiredReason</key>
	<string>Необходимо указать причину изменения</string>
	<key>ReadArchives</key>
	<dict>
		<key>title</key>
		<string>Активность</string>
		<key>hover</key>
		<string>Обзор архива исправлений</string>
		<key>component</key>
		<string>ReadArchives</string>
		<key>group</key>
		<string>other</string>
		<key>sort</key>
		<string>10</string>
		<key>actionTitle</key>
		<string>действие</string>
		<key>action0</key>
		<string>Любое действие</string>
		<key>action2</key>
		<string>Исправление и удаление</string>
		<key>action3</key>
		<string>Только удаление</string>
	</dict>
	<key>actionTypes</key>
	<array>
		<string>?</string>
		<string>созд</string>
		<string>ред</string>
		<string>удал</string>
	</array>
</dict>
</plist>
