{
    attributes = (
        {
            columnName = ID; 
            externalType = int; 
            name = id; 
            precision = 11; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "ID_CLASS"; 
            externalType = int; 
            name = idClass; 
            precision = 11; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            columnName = "ID_STUDENT"; 
            externalType = int; 
            name = idStudent; 
            precision = 11; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = "IS_ARHIVE"; 
            externalType = int; 
            name = isArhive; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (id, idClass, idStudent, isArhive); 
    className = EOGenericRecord; 
    classProperties = (isArhive, student, eduClass); 
    externalName = teach; 
    fetchSpecificationDictionary = {}; 
    name = VOList; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = VOClass; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = idClass; }); 
            name = eduClass; 
        }, 
        {
            destination = VOStudent; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = idStudent; }); 
            name = student; 
        }
    ); 
}
