{
    attributes = (
        {
            allowsNull = Y; 
            columnName = FIRSTNAME; 
            externalType = VARCHAR; 
            name = lastName; 
            valueClassName = NSString; 
            width = 20; 
        }, 
        {
            allowsNull = Y; 
            columnName = LASTNAME; 
            externalType = varchar; 
            name = firstName; 
            valueClassName = NSString; 
            valueType = S; 
            width = 20; 
        }, 
        {
            columnName = ID; 
            externalType = int; 
            name = id; 
            valueClassName = NSNumber; 
            valueType = i; 
        }, 
        {
            allowsNull = Y; 
            columnName = "DT_ROGD"; 
            externalType = date; 
            name = birthDate; 
            serverTimeZone = "Europe/Moscow"; 
            valueClassName = NSCalendarDate; 
            valueType = D; 
        }, 
        {
            allowsNull = Y; 
            columnName = SECONDNAME; 
            externalType = varchar; 
            name = secondName; 
            valueClassName = NSString; 
            valueType = S; 
            width = 20; 
        }, 
        {
            allowsNull = Y; 
            columnName = SEX; 
            externalType = char; 
            name = sexLetter; 
            valueClassName = NSString; 
            valueType = c; 
            width = 1; 
        }
    ); 
    attributesUsedForLocking = (id, firstName, secondName, sexLetter, birthDate, lastName); 
    className = "net.rujel.vseobuch.VOTeacher"; 
    classProperties = (firstName, secondName, sexLetter, birthDate, person, lastName); 
    externalName = teacher; 
    fetchSpecificationDictionary = {}; 
    name = VOTeacher; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = VOTeacher; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = id; }); 
            name = person; 
        }
    ); 
}
