<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>type</key>
	<string>export</string>
	<key>id</key>
	<string>oejdCSV</string>
	<key>title</key>
	<string>Выгрузка для ОЭЖД</string>
	<key>description</key>
	<string>Выгрузка персональных данных для реестров&lt;br/&gt;"Общегородского электронного журнала и дневника"</string>
	<key>sort</key>
	<string>30</string>
	<key>_mimeType</key>
	<string>text/csv</string>
	<key>filext</key>
	<string>csv</string>
	<key>transform</key>
	<string>oejdCSV.xsl</string>
	<key>_mainSource</key>
	<string>Persdata</string>
	<key>sources</key>
	<array>
		<string>Persdata</string>
		<string>Options</string>
	</array>
	<key>settings</key>
	<dict>
		<key>eduGroups</key>
		<dict>
			<key>active</key>
			<true/>
			<key>tutors</key>
			<true/>
			<key>nolist</key>
			<false/>
		</dict>
		<key>eduPlan</key>
		<dict>
			<key>active</key>
			<false/>
		</dict>
		<key>courses</key>
		<dict>
			<key>active</key>
			<true/>
			<key>nolist</key>
			<true/>
			<key>nodata</key>
			<true/>
		</dict>
	</dict>
	<key>hideSettings</key>
	<true/>
	<key>section</key>
	<true/>
	<key>extSystem</key>
	<string>oejd.moscow</string>
	<key>extData</key>
	<array>
		<dict>
			<key>attribute</key>
			<string>schoolGUID</string>
			<key>title</key>
			<string>GUID школы</string>
			<key>hover</key>
			<string>Идентификатор школы в ОЭЖД</string>
			<key>fieldSize</key>
			<integer>40</integer>
			<key>qualifierSelector</key>
			<string>like</string>
			<key>styleClass</key>
			<string>required</string>
			<key>required</key>
			<true/>
			<key>active</key>
			<true/>
		</dict>
		<dict>
			<key>attribute</key>
			<string>title</string>
			<key>title</key>
			<string>Название школы</string>
			<key>fieldSize</key>
			<integer>40</integer>
			<key>qualifierSelector</key>
			<string>like</string>
			<key>styleClass</key>
			<string>required</string>
			<key>required</key>
			<true/>
			<key>active</key>
			<true/>
			<key>defaultValue</key>
			<string>$application.prefs.schoolName</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>fullTitle</string>
			<key>title</key>
			<string>Полное наименование школы</string>
			<key>fieldSize</key>
			<integer>40</integer>
			<key>rows</key>
			<integer>2</integer>
			<key>qualifierSelector</key>
			<string>like</string>
			<key>active</key>
			<true/>
		</dict>
		<dict>
			<key>attribute</key>
			<string>district</string>
			<key>title</key>
			<string>Округ города</string>
			<key>fieldSize</key>
			<integer>40</integer>
			<key>qualifierSelector</key>
			<string>like</string>
			<key>styleClass</key>
			<string>required</string>
			<key>required</key>
			<true/>
			<key>active</key>
			<true/>
		</dict>
	</array>
	<key>sync</key>
	<dict>
		<key>eduGroup</key>
		<array>
			<string>GUID</string>
			<dict>
				<key>paramKey</key>
				<string>itogList</string>
				<key>settingsBase</key>
				<string>ItogMark</string>
				<key>reindex</key>
				<string>periods</string>
			</dict>
		</array>
		<key>person</key>
		<string>GUID</string>
	</dict>
	<key>indexes</key>
	<array>
		<dict>
			<key>name</key>
			<string>periods</string>
			<key>inOptions</key>
			<false/>
			<key>title</key>
			<string>Применяемые учебные периоды</string>
			<key>localTitle</key>
			<string>Режим занятий</string>
			<key>externalTitle</key>
			<string>Основные периоды</string>
			<key>local</key>
			<dict>
				<key>object</key>
				<dict>
					<key>className</key>
					<string>net.rujel.base.SettingsBase</string>
					<key>methodName</key>
					<string>baseForKey</string>
					<key>paramClasses</key>
					<array>
						<string>java.lang.String</string>
						<string>com.webobjects.eocontrol.EOEditingContext</string>
						<string>boolean</string>
					</array>
					<key>paramValues</key>
					<array>
						<string>ItogMark</string>
						<string>$ec</string>
						<false/>
					</array>
				</dict>
				<key>className</key>
				<string>net.rujel.base.SettingsBase</string>
				<key>methodName</key>
				<string>availableValues</string>
				<key>paramClasses</key>
				<array>
					<string>java.lang.Integer</string>
					<string>java.lang.String</string>
				</array>
				<key>paramValues</key>
				<array>
					<string>$session.eduYear</string>
					<string>textValue</string>
				</array>
			</dict>
			<key>external</key>
			<array>
				<string>Четверти</string>
				<string>Триместры</string>
				<string>Полугодия</string>
			</array>
		</dict>
	</array>
</dict>
</plist>