{
    attributes = (
        {
            allowsNull = N; 
            columnName = "B_ID"; 
            name = bID; 
            prototypeName = "int_3"; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = TARGET_MARK; 
            name = mark; 
            prototypeName = anagram; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            columnName = BONUS_REASON; 
            name = reason; 
            prototypeName = text; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = ADD_VALUE; 
            name = value; 
            prototypeName = decimal; 
            scale = 4; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }
    ); 
    attributesUsedForLocking = (mark, reason, value); 
    className = "net.rujel.autoitog.Bonus"; 
    classProperties = (mark, prognoses, reason, value); 
    externalName = AI_BONUS; 
    fetchSpecificationDictionary = {}; 
    name = Bonus; 
    primaryKeyAttributes = (bID); 
    relationships = (
        {
            destination = Prognosis; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = bonusID; sourceAttribute = bID; }); 
            name = prognoses; 
        }
    ); 
}
