{
    attributes = (
        {
            allowsNull = Y; 
            columnName = "EDU_COURSE"; 
            name = courseID; 
            prototypeName = short; 
        }, 
        {columnName = "CT_ID"; name = ctID; prototypeName = "int_3"; }, 
        {
            allowsNull = Y; 
            columnName = "EDU_CYCLE"; 
            name = cycleID; 
            prototypeName = short; 
        }, 
        {
            allowsNull = Y; 
            columnName = "EDU_GROUP"; 
            name = eduGroupID; 
            prototypeName = integer; 
        }, 
        {columnName = "FIRE_DATE"; name = fireDate; prototypeName = date; }, 
        {
            allowsNull = N; 
            columnName = "CTO_FLAGS"; 
            name = flags; 
            prototypeName = byte; 
        }, 
        {
            allowsNull = N; 
            columnName = "ITOG_CONTAINER"; 
            name = itogID; 
            prototypeName = short; 
        }, 
        {columnName = "REASON_TEXT"; name = reason; prototypeName = string; }, 
        {
            allowsNull = Y; 
            columnName = "TEACHER_ID"; 
            name = teacherID; 
            prototypeName = "int_3"; 
        }
    ); 
    attributesUsedForLocking = (teacherID, reason, eduGroupID, courseID, flags, cycleID, fireDate); 
    className = "net.rujel.autoitog.CourseTimeout"; 
    classProperties = (fireDate, flags, itogContainer, reason); 
    externalName = "AI_COURSE_TIMEOUT"; 
    fetchSpecificationDictionary = {}; 
    name = CourseTimeout; 
    primaryKeyAttributes = (ctID); 
    relationships = (
        {
            destination = ItogContainer; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = iID; sourceAttribute = itogID; }); 
            name = itogContainer; 
        }
    ); 
}
