{
    attributes = (
        {
            allowsNull = Y; 
            columnName = COURSE; 
            name = courseID; 
            prototypeName = integer; 
        }, 
        {columnName = "CT_ID"; name = ctID; prototypeName = "int_3"; }, 
        {allowsNull = Y; columnName = CYCLE; name = cycleID; prototypeName = "int_3"; }, 
        {
            allowsNull = Y; 
            columnName = "EDU_GROUP"; 
            name = eduGroupID; 
            prototypeName = integer; 
        }, 
        {columnName = "FIRE_DATE"; name = fireDate; prototypeName = date; }, 
        {allowsNull = N; columnName = FLAGS; name = flags; prototypeName = byte; }, 
        {allowsNull = N; columnName = ITOG; name = itogID; prototypeName = short; }, 
        {columnName = REASON; name = reason; prototypeName = string; }, 
        {
            allowsNull = Y; 
            columnName = TEACHER; 
            name = teacherID; 
            prototypeName = integer; 
        }
    ); 
    attributesUsedForLocking = (teacherID, reason, eduGroupID, courseID, flags, cycleID, fireDate); 
    className = "net.rujel.autoitog.CourseTimeout"; 
    classProperties = (fireDate, flags, itogContainer, reason); 
    externalName = "COURSE_TIMEOUT"; 
    fetchSpecificationDictionary = {}; 
    name = CourseTimeout; 
    primaryKeyAttributes = (ctID); 
    relationships = (
        {
            destination = ItogContainer; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = iID; sourceAttribute = itogID; }); 
            name = itogContainer; 
        }
    ); 
}
