{
    attributes = (
        {
            allowsNull = N; 
            columnName = EDU_COURSE; 
            name = courseID; 
            prototypeName = integer; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = ITOG_CONTAINER; 
            name = itogID; 
            prototypeName = short; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = "REL_KEY"; 
            name = relKey; 
            prototypeName = integer; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = "R_ID"; 
            name = rID; 
            prototypeName = integer; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }
    ); 
    attributesUsedForLocking = (courseID, itogID, relKey); 
    className = EOGenericRecord; 
    classProperties = (autoItog, relKey); 
    externalName = "AI_ITOG_RELATED"; 
    fetchSpecificationDictionary = {}; 
    name = ItogRelated; 
    primaryKeyAttributes = (rID); 
    relationships = (
        {
            destination = AutoItog; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = aiID; sourceAttribute = itogID; }); 
            name = autoItog; 
        }
    ); 
}
