{
    attributes = (
        {
            allowsNull = Y; 
            columnName = "EDU_COURSE"; 
            name = courseID; 
            prototypeName = short; 
        }, 
        {columnName = "FIRE_DATE"; name = fireDate; prototypeName = date; }, 
        {
            allowsNull = N; 
            columnName = "STO_FLAGS"; 
            name = flags; 
            prototypeName = byte; 
        }, 
        {
            allowsNull = N; 
            columnName = "ITOG_CONTAINER"; 
            name = itogID; 
            prototypeName = short; 
        }, 
        {columnName = "REASON_TEXT"; name = reason; prototypeName = string; }, 
        {
            allowsNull = N; 
            columnName = "STUDENT_ID"; 
            name = studentID; 
            prototypeName = integer; 
        }, 
        {columnName = "T_ID"; name = tID; prototypeName = "int_3"; }
    ); 
    attributesUsedForLocking = (studentID, reason, flags, courseID, fireDate, itogID); 
    className = "net.rujel.autoitog.StudentTimeout"; 
    classProperties = (fireDate, flags, itogContainer, reason); 
    externalName = "AI_STUDENT_TIMEOUT"; 
    fetchSpecificationDictionary = {}; 
    name = StudentTimeout; 
    primaryKeyAttributes = (tID); 
    relationships = (
        {
            destination = ItogContainer; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = iID; sourceAttribute = itogID; }); 
            name = itogContainer; 
        }
    ); 
}
