{
    attributes = (
        {columnName = NAME; name = schemeName; prototypeName = word; }, 
        {columnName = "SC_ID"; name = scID; prototypeName = integer; }
    ); 
    attributesUsedForLocking = (scID, schemeName); 
    className = "net.rujel.auth.AccessScheme"; 
    classProperties = (schemeName, entries); 
    externalName = "ACCESS_SCHEME"; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {"_nameInObjectStore" = "net.rujel.auth.AccessScheme"; }; 
    name = AccessScheme; 
    primaryKeyAttributes = (scID); 
    relationships = (
        {
            deleteRule = EODeleteRuleCascade; 
            destination = SchemeEntry; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = sup; sourceAttribute = scID; }); 
            name = entries; 
            ownsDestination = Y; 
            propagatesPrimaryKey = Y; 
        }
    ); 
}
