{
    attributes = (
        {
            allowsNull = N; 
            columnName = "BEGIN_DAY"; 
            name = beginDay; 
            prototypeName = byte; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueType = i; 
        }, 
        {
            allowsNull = N; 
            columnName = "BEGIN_MONTH"; 
            name = beginMonth; 
            prototypeName = byte; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueType = i; 
        }, 
        {
            allowsNull = N; 
            columnName = "END_DAY"; 
            name = endDay; 
            prototypeName = byte; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueType = i; 
        }, 
        {
            allowsNull = N; 
            columnName = "END_MONTH"; 
            name = endMonth; 
            prototypeName = byte; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueType = i; 
        }, 
        {
            allowsNull = N; 
            columnName = "HT_ID"; 
            name = htID; 
            prototypeName = short; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = HOLIDAY_NAME; 
            name = name; 
            prototypeName = word; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }
    ); 
    attributesUsedForLocking = (beginDay, beginMonth, endDay, endMonth, name); 
    className = "net.rujel.eduplan.HolidayType"; 
    classProperties = (beginDay, beginMonth, endDay, endMonth, holidays, name); 
    externalName = "PL_HOLIDAY_TYPE"; 
    fetchSpecificationDictionary = {}; 
    name = HolidayType; 
    primaryKeyAttributes = (htID); 
    relationships = (
        {
            deleteRule = EODeleteRuleDeny; 
            destination = Holiday; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = typeID; sourceAttribute = htID; }); 
            name = holidays; 
        }
    ); 
}
