{
    attributes = (
        {allowsNull = N; columnName = "C_ID"; name = cID; prototypeName = short; }, 
        {
            allowsNull = N; 
            columnName = "GRADE_NUM"; 
            name = grade; 
            prototypeName = byte; 
            valueType = i; 
        }, 
        {
            allowsNull = N; 
            columnName = "SUBJECT_ID"; 
            name = subjID; 
            prototypeName = short; 
        }, 
        {
            allowsNull = N; 
            columnName = "EDU_SECTION"; 
            name = sectionID; 
            prototypeName = short; 
        }
    ); 
    attributesUsedForLocking = (grade, subjID, sectionID); 
    className = "net.rujel.eduplan.PlanCycle"; 
    classProperties = (grade, planHours, section, subjectEO); 
    externalName = "PL_CYCLE"; 
    fetchSpecificationDictionary = {}; 
    name = PlanCycle; 
    primaryKeyAttributes = (cID); 
    relationships = (
        {
            destination = PlanHours; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = cycleID; sourceAttribute = cID; }); 
            name = planHours; 
        }, 
        {
            destination = SchoolSection; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = sID; sourceAttribute = sectionID; }); 
            name = section; 
        }, 
        {
            destination = Subject; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = sID; sourceAttribute = subjID; }); 
            name = subjectEO; 
        }
    ); 
}
