{
    attributes = (
        {
            allowsNull = Y; 
            columnName = "DATE_BEGIN"; 
            name = begin; 
            prototypeName = date; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = Y; 
            columnName = "EDU_GROUP"; 
            name = eduGroupID; 
            prototypeName = "int_3"; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = Y; 
            columnName = "DATE_END"; 
            name = end; 
            prototypeName = date; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = "REASON_FLAGS"; 
            name = flags; 
            prototypeName = byte; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {columnName = "GRADE_NUM"; name = grade; prototypeName = byte; }, 
        {
            allowsNull = N; 
            columnName = "REASON_TEXT"; 
            name = reason; 
            prototypeName = string; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = "R_ID"; 
            name = rID; 
            prototypeName = "int_3"; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = Y; 
            columnName = "SECTION_NUM"; 
            name = sectionID; 
            prototypeName = short; 
        }, 
        {
            allowsNull = Y; 
            columnName = "TEACHER_ID"; 
            name = teacherID; 
            prototypeName = "int_3"; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            columnName = "VERIFY_TEXT"; 
            name = verification; 
            prototypeName = string; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }
    ); 
    attributesUsedForLocking = (
        begin, 
        eduGroupID, 
        end, 
        flags, 
        grade, 
        reason, 
        sectionID, 
        teacherID, 
        verification
    ); 
    className = "net.rujel.curriculum.Reason"; 
    classProperties = (
        begin, 
        end, 
        flags, 
        grade, 
        reason, 
        section, 
        substitutes, 
        variations, 
        verification
    ); 
    externalName = "CU_REASON"; 
    fetchSpecificationDictionary = {}; 
    name = Reason; 
    primaryKeyAttributes = (rID); 
    relationships = (
        {
            destination = SchoolSection; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = sID; sourceAttribute = sectionID; }); 
            name = section; 
        }, 
        {
            deleteRule = EODeleteRuleDeny; 
            destination = Substitute; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = reasonID; sourceAttribute = rID; }); 
            name = substitutes; 
        }, 
        {
            deleteRule = EODeleteRuleDeny; 
            destination = Variation; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = reasonID; sourceAttribute = rID; }); 
            name = variations; 
        }
    ); 
}
