{
    attributes = (
        {
            allowsNull = N; 
            columnName = AUTHOR_NAME; 
            name = author; 
            prototypeName = string; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = CONTENT_TEXT; 
            name = content; 
            prototypeName = string; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = EDU_COURSE; 
            name = courseID; 
            prototypeName = short; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = DATE_RAISED; 
            name = raised; 
            prototypeName = datetime; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = Y; 
            columnName = DATE_RELIEF; 
            name = relief; 
            prototypeName = datetime; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = "R_ID"; 
            name = rID; 
            prototypeName = "int_3"; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = STATUS_FLAG; 
            name = status; 
            prototypeName = byte; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }
    ); 
    attributesUsedForLocking = (author, content, courseID, raised, relief, status); 
    className = "net.rujel.curriculum.Reprimand"; 
    classProperties = (author, content, raised, relief, status); 
    externalName = CU_REPRIMAND; 
    fetchSpecificationDictionary = {}; 
    name = Reprimand; 
    primaryKeyAttributes = (rID); 
}
