{
    attributes = (
        {
            allowsNull = N; 
            columnName = "LESSON_DATE"; 
            name = date; 
            prototypeName = date; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = SUBS_FACTOR; 
            name = factor; 
            prototypeName = decimal; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = Y; 
            columnName = "FROM_LESSON"; 
            name = fromID; 
            prototypeName = integer; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = LESSON_ID; 
            name = lessonID; 
            prototypeName = integer; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = REASON_ID; 
            name = reasonID; 
            prototypeName = "int_3"; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = TEACHER_ID; 
            name = teacherID; 
            prototypeName = "int_3"; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }
    ); 
    attributesUsedForLocking = (date, factor, fromID, teacherID); 
    className = "net.rujel.curriculum.Substitute"; 
    classProperties = (date, factor, reason); 
    externalName = CU_SUBSTITUTE; 
    fetchSpecificationDictionary = {}; 
    name = Substitute; 
    primaryKeyAttributes = (lessonID, teacherID); 
    relationships = (
        {
            destination = Reason; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = rID; sourceAttribute = reasonID; }); 
            name = reason; 
        }
    ); 
}
