{
    attributes = (
        {
            allowsNull = N; 
            columnName = "LESSON_DATE"; 
            name = date; 
            prototypeName = date; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = FACTOR; 
            name = factor; 
            prototypeName = decimal; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = LESSON; 
            name = lessonID; 
            prototypeName = integer; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = REASON; 
            name = reasonID; 
            prototypeName = "int_3"; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = TEACHER; 
            name = teacherID; 
            prototypeName = "int_3"; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }
    ); 
    attributesUsedForLocking = (date, factor, teacherID); 
    className = "net.rujel.curriculum.Substitute"; 
    classProperties = (date, factor, reason); 
    externalName = SUBSTITUTE; 
    fetchSpecificationDictionary = {}; 
    name = Substitute; 
    primaryKeyAttributes = (lessonID, teacherID); 
    relationships = (
        {
            destination = Reason; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = rID; sourceAttribute = reasonID; }); 
            name = reason; 
        }
    ); 
}
