.titles {
	text-align:right;
}

.popup {
	text-align:center;
	background-color:#ffff99;
	width:80%;
	position:absolute;
	top:10em;
	left:10%;
	padding:10pt;
}

.sup {
	vertical-align: baseline;
	position: relative;
	top: -1em;
	font-size:60%;
}

.attention {
	position:fixed;
	top:35%;
	left:35%;
	cursor:wait;
	z-index:300;
	border:3px double #ff0000;
	font:x-large bold;
	text-align:center;
	padding:10% 3%;
	background-color:#ffcc66;
}

.warning {
	background-color:#cc3333;
}

.message {
	font-size:large;
	color:#ff6600;
	text-align:center;
}

.dimtext {
	color:#aaaaaa;
	text-decoration:inherit;
}

.timeout {
	background-color:#cccc66;
}
.timeoutDim {
	background-color:#999966;
}

.prompt {
	background-color:#ccffcc;
	position:absolute;
	width:15em;
	padding:1em;
	z-index:10;
	border-color:#00ff00;
	border-width: 1px;
	border-style:solid;
}

#refusingSessions {
	margin:1em 5%;
	border-color:#00ff00;
	border-width: 3pt;
	border-style:double;
	background-color:#ffff33;
	text-align:center;
	font:large bold;
	color:#330033;
	padding:1em;
	line-height:150%;
}

.male {
	background-color:#ccccff;
}

.female {
	background-color:#ffcccc;
}

.foundMale {
	background-color:#6699ff;
}

.foundFemale {
	background-color:#ff9999;
}

.button, .pathButton {
	margin:0px 2pt;
	border:2px grey;
	padding:3px;
	vertical-align:middle;
	background-color:#ffcc66;
	border-style:outset;
}

.pathButton {
	padding:0px;
	border-left-style:none;
	border-right-style:none;
}

.highlight {background-color:#ffff66;}

.highlight2 {background-color:#66ffff;}

#ajaxPopup, .popup {
	display:block;
	position:absolute;
	top:30%;
	left:30%;
	padding:10pt;
	border:1px #666 dotted;
}

