<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>schoolNumber</key>
	<string>0</string>
	<key>loggingProperties</key>
	<string>LOCALROOT/Library/WebObjects/Configuration/diaryLog.properties</string>
	<key>dbConnection</key>
	<dict>
		<key>VseobuchSimple</key>
		<dict>
			<key>_dbName</key>
			<string>DemoSho</string>
		</dict>
		<key>AutoItog</key>
		<dict>
			<key>dbName</key>
			<string>RujelYear%s</string>
		</dict>
		<key>BaseYearly</key>
		<dict>
			<key>dbName</key>
			<string>RujelYear%s</string>
		</dict>
		<key>BaseStatic</key>
		<dict>
			<key>dbName</key>
			<string>RujelStatic</string>
		</dict>
		<key>Criterial</key>
		<dict>
			<key>_untagged</key>
			<string>Criterial</string>
			<key>dbName</key>
			<string>RujelYear%s</string>
		</dict>
		<key>CriterialStatic</key>
		<dict>
			<key>dbName</key>
			<string>RujelStatic</string>
		</dict>
		<key>Curriculum</key>
		<dict>
			<key>dbName</key>
			<string>RujelYear%s</string>
		</dict>
		<key>EduPlanModel</key>
		<dict>
			<key>dbName</key>
			<string>RujelStatic</string>
		</dict>
		<key>EduPlanYearly</key>
		<dict>
			<key>dbName</key>
			<string>RujelYear%s</string>
		</dict>
		<key>EduResults</key>
		<dict>
			<key>dbName</key>
			<string>RujelStatic</string>
		</dict>
		<key>MarkArchive</key>
		<dict>
			<key>dbName</key>
			<string>RujelYear%s</string>
		</dict>
		<key>Stats</key>
		<dict>
			<key>dbName</key>
			<string>RujelYear%s</string>
		</dict>
		<key>serverURL</key>
		<string>jdbc:mysql://127.0.0.1</string>
		<key>urlSuffix</key>
		<string>?capitalizeTypeNames=true&amp;useUnicode=true&amp;characterEncoding=utf8&amp;zeroDateTimeBehavior=convertToNull</string>
		<key>username</key>
		<string>rujel</string>
		<key>password</key>
		<string></string>
		<key>yearTag</key>
		<string>true</string>
	</dict>
	<key>interfaces</key>
	<dict>
		<key>EduCourse</key>
		<string>net.rujel.base.BaseCourse</string>
		<key>EduCycle</key>
		<string>net.rujel.eduplan.PlanCycle</string>
		<key>EduGroup</key>
		<string>net.rujel.vseobuch.VOClass</string>
		<key>EduLesson</key>
		<string>net.rujel.base.BaseLesson</string>
		<key>Student</key>
		<string>net.rujel.vseobuch.VOStudent</string>
		<key>Teacher</key>
		<string>net.rujel.vseobuch.VOTeacher</string>
	</dict>
	<key>modules</key>
	<dict>
		<key>net.rujel.base.BaseModule</key>
		<string>true</string>
		<key>net.rujel.eduplan.PlanCycle</key>
		<string>true</string>
		<key>net.rujel.autoitog.AutoItogModule</key>
		<string>false</string>
		<key>net.rujel.contacts.EMailBroadcast</key>
		<string>false</string>
		<key>net.rujel.criterial.ModuleInit</key>
		<string>true</string>
		<key>net.rujel.eduresults.ModuleInit</key>
		<string>true</string>
		<key>net.rujel.curriculum.CurriculumModule</key>
		<string>false</string>
	</dict>
	<key>edu</key>
	<dict>
		<key>minGrade</key>
		<string>1</string>
		<key>maxGrade</key>
		<string>11</string>
		<key>newYearMonth</key>
		<string>7</string>
	</dict>
	<key>ui</key>
	<dict>
		<key>dateFormat</key>
		<string>dd.MM.yyyy</string>
		<key>shortDateFormat</key>
		<string>dd.MM</string>
		<key>_defaultDate</key>
		<string>25.05.2008</string>
		<key>keyValueCacheSize</key>
		<string>2</string>
	</dict>
</dict>
</plist>
