<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SendMailForm</key>
	<dict>
		<key>failed</key>
		<string>Не удалось отправить сообщение</string>
		<key>hideList</key>
		<string>Скрыть список</string>
		<key>noRecipients</key>
		<string>Не указано ни одного получателя</string>
		<key>noText</key>
		<string>Нет текста сообщения</string>
		<key>send</key>
		<string>Отправить</string>
		<key>showList</key>
		<string>Показать список</string>
		<key>subject</key>
		<string>Тема</string>
		<key>success</key>
		<string>Сообщение отправлено</string>
		<key>title</key>
		<string>Отправить письмо</string>
		<key>to</key>
		<string>Кому</string>
		<key>attach</key>
		<string>Приложить файл</string>
		<key>noAddresses</key>
		<string>Нет адресов для выбранных учащихся</string>
		<key>noAddressesFor</key>
		<string>У следующих учащихся не указаны адреса</string>
		<key>teacherSign</key>
		<string>Преподаватель по предмету &quot;%s&quot;</string>
	</dict>
	<key>broadcastInitiated</key>
	<string>Письма добавлены в очередь на отправку</string>
	<key>properties</key>
	<dict>
		<key>EMailUtiliser</key>
		<dict>
			<key>address</key>
			<string>Адрес</string>
			<key>contact</key>
			<string>электронная почта</string>
			<key>flags</key>
			<array>
				<string>Использовать для рассылки</string>
				<string>Сжимать (zip)</string>
				<string></string>
				<string></string>
				<string></string>
				<string>Отключен</string>
			</array>
			<key>name</key>
			<string>Имя получателя</string>
		</dict>
		<key>kind</key>
		<string>Комментарий</string>
	</dict>
	<key>sendmailAction</key>
	<dict>
		<key>component</key>
		<string>SendMailForm</string>
		<key>sort</key>
		<string>10</string>
		<key>name</key>
		<string>Написать</string>
	</dict>
	<key>isInAttachment</key>
	<string>во вложенном файле</string>
	<key>title</key>
	<string>Контактная информация</string>
	<key>failedMailing</key>
	<string>Не удалось отправить сообщение для </string>
	<key>mailingError</key>
	<string>Ошибка при рассылке почты</string>
	<key>contactsRegime</key>
	<dict>
		<key>title</key>
		<string>Контакты</string>
		<key>component</key>
		<string>Contacts</string>
		<key>group</key>
		<string>personal</string>
		<key>sort</key>
		<string>20</string>
	</dict>
	<key>dashboard</key>
	<dict>
		<key>title</key>
		<string>Написать сообщение учащимся</string>
		<key>component</key>
		<string>MailWidget</string>
		<key>sort</key>
		<string>09</string>
	</dict>
	<key>MailRequest</key>
	<dict>
		<key>title</key>
		<string>Запрос сообщения с оценками</string>
		<key>studentCode</key>
		<string>Код учащегося</string>
		<key>enterMail</key>
		<string>Пожалуйста, укажите адрес электронной почты, на который следует отправить отметки</string>
		<key>wrongCode</key>
		<string>Неверный код учащегося</string>
		<key>illegalMail</key>
		<string>Указаный адрес не зарегистрирован для данного учащегося</string>
		<key>initiated</key>
		<string>Сообщение поставлено в очередь на отправку</string>
		<key>preparationError</key>
		<string>Извините, произошла ошибка при формировании сообщения</string>
		<key>duplicate</key>
		<string>Отметки по этому адресу сегодня уже отправлялись</string>
		<key>denied</key>
		<string>Отсылка по запросу отключена</string>
	</dict>
	<key>diaryLink</key>
	<string>РУЖЭЛЬ-дневник: индивидуальное расписание и домашние задания для %2$s</string>
</dict>
</plist>
