<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>description</key>
	<string>Выборка прогнозов итоговых отметок за период</string>
	<key>entity</key>
	<string>Prognosis</string>
	<key>params</key>
	<array>
		<dict>
			<key>active</key>
			<true/>
			<key>attribute</key>
			<string>itogContainer</string>
			<key>displayString</key>
			<string>.title</string>
			<key>select</key>
			<dict>
				<key>cacheResult</key>
				<true/>
				<key>className</key>
				<string>net.rujel.eduresults.ItogContainer</string>
				<key>methodName</key>
				<string>itogsInYear</string>
				<key>paramClasses</key>
				<array>
					<string>java.lang.Number</string>
					<string>com.webobjects.eocontrol.EOEditingContext</string>
				</array>
				<key>paramValues</key>
				<array>
					<string>$session.eduYear</string>
					<string>^editingContext</string>
				</array>
			</dict>
			<key>title</key>
			<string>Период</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>mark</string>
			<key>fieldSize</key>
			<integer>5</integer>
			<key>qualifierSelector</key>
			<string>caseInsensitiveLike</string>
			<key>title</key>
			<string>Отметка</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>value</string>
			<key>comment</key>
			<string>в долях от единицы</string>
			<key>fieldSize</key>
			<integer>5</integer>
			<key>formatter</key>
			<string>0.####</string>
			<key>qualifierSelector</key>
			<string>&gt;=</string>
			<key>secondSelector</key>
			<string>&lt;</string>
			<key>title</key>
			<string>Успешность</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>complete</string>
			<key>comment</key>
			<string>в долях от единицы</string>
			<key>fieldSize</key>
			<integer>5</integer>
			<key>formatter</key>
			<string>0.####</string>
			<key>qualifierSelector</key>
			<string>&gt;=</string>
			<key>secondSelector</key>
			<string>&lt;</string>
			<key>title</key>
			<string>Выполнено</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>teacher</string>
			<key>in</key>
			<dict>
				<key>args</key>
				<array>
					<string>.itogContainer.eduYear</string>
				</array>
				<key>qualifierFormat</key>
				<string>eduYear = %@</string>
				<key>relationship</key>
				<string>course</string>
			</dict>
			<key>popup</key>
			<dict>
				<key>invokeAction</key>
				<true/>
				<key>presenter</key>
				<string>TeacherSelector</string>
				<key>presenterBindings</key>
				<dict>
					<key>entity</key>
					<string>Teacher</string>
					<key>firstNameDisplay</key>
					<integer>2</integer>
					<key>secondNameDisplay</key>
					<integer>2</integer>
					<key>selection</key>
					<string>.</string>
					<key>useAjaxPost</key>
					<true/>
				</dict>
				<key>style</key>
				<string>min-width:20em</string>
				<key>takeValuesFromRequest</key>
				<true/>
				<key>title</key>
				<string>Выберите учителя</string>
			</dict>
			<key>presenter</key>
			<string>PersonDisplay</string>
			<key>presenterBindings</key>
			<dict>
				<key>first</key>
				<string>1</string>
				<key>last</key>
				<string>2</string>
				<key>person</key>
				<string>.</string>
				<key>second</key>
				<string>1</string>
				<key>valueWhenEmpty</key>
				<string>Выбрать</string>
			</dict>
			<key>title</key>
			<string>Учитель</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>eduGroup</string>
			<key>in</key>
			<dict>
				<key>args</key>
				<array>
					<string>.itogContainer.eduYear</string>
				</array>
				<key>qualifierFormat</key>
				<string>eduYear = %@</string>
				<key>relationship</key>
				<string>course</string>
			</dict>
			<key>popup</key>
			<dict>
				<key>invokeAction</key>
				<true/>
				<key>presenter</key>
				<string>ClassListing</string>
				<key>presenterBindings</key>
				<dict>
					<key>onClick</key>
					<string>$session.tryLoad</string>
					<key>selection</key>
					<string>.</string>
					<key>width</key>
					<string>100%</string>
				</dict>
				<key>style</key>
				<string>min-width:8em</string>
				<key>takeValuesFromRequest</key>
				<true/>
				<key>title</key>
				<string>Выберите класс</string>
			</dict>
			<key>presenterBindings</key>
			<dict>
				<key>value</key>
				<string>.name</string>
				<key>valueWhenEmpty</key>
				<string>Выбрать</string>
			</dict>
			<key>title</key>
			<string>Класс</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>student</string>
			<key>popup</key>
			<dict>
				<key>invokeAction</key>
				<true/>
				<key>presenter</key>
				<string>PersListing</string>
				<key>presenterBindings</key>
				<dict>
					<key>entity</key>
					<string>Student</string>
					<key>firstNameDisplay</key>
					<integer>2</integer>
					<key>noEdit</key>
					<true/>
					<key>secondNameDisplay</key>
					<integer>2</integer>
					<key>selection</key>
					<string>.</string>
					<key>useAjaxPost</key>
					<true/>
				</dict>
				<key>style</key>
				<string>min-width:20em</string>
				<key>takeValuesFromRequest</key>
				<true/>
				<key>title</key>
				<string>Выберите ученика</string>
			</dict>
			<key>presenter</key>
			<string>PersonDisplay</string>
			<key>presenterBindings</key>
			<dict>
				<key>first</key>
				<string>2</string>
				<key>last</key>
				<string>2</string>
				<key>person</key>
				<string>.</string>
				<key>second</key>
				<string>0</string>
				<key>valueWhenEmpty</key>
				<string>Выбрать</string>
			</dict>
			<key>title</key>
			<string>Ученик</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>cycle.subjectEO.area</string>
			<key>displayString</key>
			<string>.areaName</string>
			<key>hidden</key>
			<true/>
			<key>in</key>
			<dict>
				<key>relationship</key>
				<string>course</string>
			</dict>
			<key>noSelectionString</key>
			<string>-= выбрать =-</string>
			<key>select</key>
			<dict>
				<key>cacheResult</key>
				<true/>
				<key>className</key>
				<string>com.webobjects.eoaccess.EOUtilities</string>
				<key>methodName</key>
				<string>objectsForEntityNamed</string>
				<key>paramClasses</key>
				<array>
					<string>com.webobjects.eocontrol.EOEditingContext</string>
					<string>java.lang.String</string>
				</array>
				<key>paramValues</key>
				<array>
					<string>^editingContext</string>
					<string>SubjectArea</string>
				</array>
			</dict>
			<key>title</key>
			<string>Предметная область</string>
		</dict>
		<dict>
			<key>comment</key>
			<string>у прогноза есть бонус</string>
			<key>qualifierFormat</key>
			<string>bonus != nil</string>
			<key>title</key>
			<string>Бонус</string>
		</dict>
		<dict>
			<key>comment</key>
			<string>у прогноза есть флаги</string>
			<key>qualifierFormat</key>
			<string>flags &gt; 0</string>
			<key>title</key>
			<string>Флаги</string>
		</dict>
		<dict>
			<key>comment</key>
			<string>Еще не отработан автоматом</string>
			<key>qualifierFormat</key>
			<string>fireDate != nil</string>
			<key>title</key>
			<string>Не выставлен</string>
		</dict>
	</array>
	<key>prefetch</key>
	<array>
		<string>bonus</string>
	</array>
	<key>properties</key>
	<array>
		<dict>
			<key>active</key>
			<true/>
			<key>comparison</key>
			<string>CompareCaseInsensitiveAscending</string>
			<key>keyPath</key>
			<string>course.eduGroup</string>
			<key>sort</key>
			<string>10</string>
			<key>title</key>
			<string>Класс</string>
			<key>titlePath</key>
			<string>name</string>
		</dict>
		<dict>
			<key>active</key>
			<true/>
			<key>comparison</key>
			<string>CompareAscending</string>
			<key>keyPath</key>
			<string>student</string>
			<key>presenter</key>
			<string>PersonDisplay</string>
			<key>presenterBindings</key>
			<dict>
				<key>first</key>
				<string>2</string>
				<key>last</key>
				<string>2</string>
				<key>person</key>
				<string>.</string>
				<key>second</key>
				<string>0</string>
			</dict>
			<key>sort</key>
			<string>20</string>
			<key>style</key>
			<string>white-space:nowrap;</string>
			<key>title</key>
			<string>Ученик</string>
		</dict>
		<dict>
			<key>active</key>
			<true/>
			<key>comparison</key>
			<string>CompareAscending</string>
			<key>disabled</key>
			<string>$parent.countList</string>
			<key>keyPath</key>
			<string>course.cycle.subjectEO</string>
			<key>nextPage</key>
			<string>LessonNoteEditor</string>
			<key>onclick</key>
			<string>$session.tryLoad</string>
			<key>pageParams</key>
			<dict>
				<key>course</key>
				<string>$itemRow.course</string>
			</dict>
			<key>sort</key>
			<string>30</string>
			<key>title</key>
			<string>Предмет</string>
			<key>titlePath</key>
			<string>subject</string>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>comparison</key>
			<string>CompareAscending</string>
			<key>keyPath</key>
			<string>course</string>
			<key>short</key>
			<string> . </string>
			<key>sort</key>
			<string>32</string>
			<key>title</key>
			<string>Комментарий курса</string>
			<key>titlePath</key>
			<string>comment</string>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>comparison</key>
			<string>CompareAscending</string>
			<key>keyPath</key>
			<string>course.teacher</string>
			<key>presenter</key>
			<string>PersonDisplay</string>
			<key>presenterBindings</key>
			<dict>
				<key>first</key>
				<string>1</string>
				<key>last</key>
				<string>2</string>
				<key>person</key>
				<string>.</string>
				<key>second</key>
				<string>1</string>
			</dict>
			<key>sort</key>
			<string>40</string>
			<key>style</key>
			<string>white-space:nowrap;</string>
			<key>title</key>
			<string>Учитель</string>
		</dict>
		<dict>
			<key>active</key>
			<true/>
			<key>comparison</key>
			<string>CompareCaseInsensitiveDescending</string>
			<key>disabled</key>
			<string>$session.readAccess._read.itemRow</string>
			<key>keyPath</key>
			<string>mark</string>
			<key>nextPage</key>
			<string>PrognosisPopup</string>
			<key>onclick</key>
			<string>$session.ajaxPopup</string>
			<key>pageParams</key>
			<dict>
				<key>course</key>
				<string>$itemRow.course</string>
				<key>eduPeriod</key>
				<string>$itemRow.autoItog</string>
				<key>prognosis</key>
				<string>$itemRow</string>
				<key>student</key>
				<string>$itemRow.student</string>
			</dict>
			<key>popup</key>
			<true/>
			<key>sort</key>
			<string>50</string>
			<key>style</key>
			<string>text-align:center;font-weight:bold;</string>
			<key>title</key>
			<string>Прогноз</string>
		</dict>
		<dict>
			<key>active</key>
			<true/>
			<key>exportDict</key>
			<dict>
				<key>keyPath</key>
				<string>bonus.value</string>
				<key>multiplied</key>
				<dict>
					<key>methodName</key>
					<string>movePointRight</string>
					<key>object</key>
					<string>.value</string>
					<key>paramClasses</key>
					<array>
						<string>int</string>
					</array>
					<key>paramValues</key>
					<array>
						<integer>2</integer>
					</array>
				</dict>
				<key>presenterBindings</key>
				<dict>
					<key>numberformat</key>
					<string>'0.##%</string>
					<key>value</key>
					<string>$valueOf.item.itemDict.multiplied</string>
				</dict>
				<key>title</key>
				<string>Бонус</string>
			</dict>
			<key>keyPath</key>
			<string>bonus</string>
			<key>presentValue</key>
			<dict>
				<key>cacheResult</key>
				<false/>
				<key>className</key>
				<string>net.rujel.autoitog.PrognosPresenter</string>
				<key>methodName</key>
				<string>bonusState</string>
				<key>paramClasses</key>
				<array>
					<string>net.rujel.autoitog.Bonus</string>
					<string>java.lang.Integer</string>
				</array>
				<key>paramValues</key>
				<array>
					<string>.</string>
					<string>$itemRow.flags</string>
				</array>
			</dict>
			<key>presenterBindings</key>
			<dict>
				<key>escapeHTML</key>
				<string>false</string>
				<key>value</key>
				<string>$valueOf.item.itemDict.presentValue</string>
			</dict>
			<key>short</key>
			<string>!</string>
			<key>sort</key>
			<string>52</string>
			<key>title</key>
			<string>Бонус</string>
		</dict>
		<dict>
			<key>active</key>
			<true/>
			<key>comparison</key>
			<string>CompareAscending</string>
			<key>itemHover</key>
			<string>.</string>
			<key>keyPath</key>
			<string>value</string>
			<key>sort</key>
			<string>60</string>
			<key>title</key>
			<string>Успешность</string>
			<key>value</key>
			<dict>
				<key>className</key>
				<string>net.rujel.autoitog.PrognosisPopup</string>
				<key>methodName</key>
				<string>fractionToPercent</string>
				<key>paramClasses</key>
				<array>
					<string>java.math.BigDecimal</string>
				</array>
				<key>paramValues</key>
				<array>
					<string>.</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>active</key>
			<true/>
			<key>comparison</key>
			<string>CompareDescending</string>
			<key>hover</key>
			<string>Процент выполненых работ (выставленых оценок)</string>
			<key>keyPath</key>
			<string>complete</string>
			<key>itemHover</key>
			<string>.</string>
			<key>presenterBindings</key>
			<dict>
				<key>numberformat</key>
				<string>'0%</string>
			</dict>
			<key>sort</key>
			<string>65</string>
			<key>title</key>
			<string>Выполнено</string>
			<key>value</key>
			<dict>
				<key>methodName</key>
				<string>movePointRight</string>
				<key>object</key>
				<string>.</string>
				<key>paramClasses</key>
				<array>
					<string>int</string>
				</array>
				<key>paramValues</key>
				<array>
					<integer>2</integer>
				</array>
			</dict>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>comparison</key>
			<string>CompareAscending</string>
			<key>hover</key>
			<string>дата выставления прогноза в итоговые</string>
			<key>keyPath</key>
			<string>fireDate</string>
			<key>presenterBindings</key>
			<dict>
				<key>dateformat</key>
				<string>$application.prefs.ui.dateFormat</string>
			</dict>
			<key>sort</key>
			<string>70</string>
			<key>title</key>
			<string>Выставление</string>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>comparison</key>
			<string>CompareCaseInsensitiveDescending</string>
			<key>disabled</key>
			<string>$session.readAccess._read.item</string>
			<key>itemHover</key>
			<dict>
				<key>methodName</key>
				<string>movePointRight</string>
				<key>object</key>
				<string>.value</string>
				<key>paramClasses</key>
				<array>
					<string>int</string>
				</array>
				<key>paramValues</key>
				<array>
					<integer>2</integer>
				</array>
			</dict>
			<key>keyPath</key>
			<string>relatedItog</string>
			<key>nextPage</key>
			<string>ItogPopup</string>
			<key>onclick</key>
			<string>$session.ajaxPopup</string>
			<key>pageParams</key>
			<dict>
				<key>itog</key>
				<string>.</string>
				<key>itogContainer</key>
				<string>.container</string>
				<key>student</key>
				<string>.student</string>
			</dict>
			<key>popup</key>
			<true/>
			<key>short</key>
			<string>Итог</string>
			<key>skipNull</key>
			<true/>
			<key>sort</key>
			<string>80</string>
			<key>style</key>
			<string>text-align:center;font-weight:bold;</string>
			<key>title</key>
			<string>Выставленная итоговая отметка</string>
			<key>titlePath</key>
			<string>mark</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Соответствие</string>
			<key>short</key>
			<string>&amp;lt; &amp;gt;</string>
			<key>active</key>
			<false/>
			<key>sort</key>
			<string>81</string>
			<key>style</key>
			<string>text-align:center;font-weight:bold;color:#ff0000;</string>
			<key>keyPath</key>
			<string>itogDiffers</string>
			<key>presenterBindings</key>
			<dict>
				<key>value</key>
				<string>'#</string>
			</dict>
			<key>wrapper</key>
			<string>WOConditional</string>
			<key>wrapperBindings</key>
			<dict>
				<key>condition</key>
				<string>.</string>
			</dict>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>disabled</key>
			<string>$session.readAccess._read.item</string>
			<key>itemHover</key>
			<string>.reason</string>
			<key>keyPath</key>
			<string>getStudentTimeout</string>
			<key>nextPage</key>
			<string>TimeoutPopup</string>
			<key>onclick</key>
			<string>$session.ajaxPopup</string>
			<key>pageParams</key>
			<dict>
				<key>course</key>
				<string>$itemRow.course</string>
				<key>eduPeriod</key>
				<string>.itogContainer</string>
				<key>timeout</key>
				<string>.</string>
			</dict>
			<key>popup</key>
			<true/>
			<key>presenterBindings</key>
			<dict>
				<key>dateformat</key>
				<string>$application.prefs.ui.dateFormat</string>
				<key>value</key>
				<string>.fireDate</string>
			</dict>
			<key>skipNull</key>
			<true/>
			<key>sort</key>
			<string>85</string>
			<key>title</key>
			<string>Отсрочка</string>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>exportDict</key>
			<dict>
				<key>flagNames</key>
				<dict>
					<key>cacheResult</key>
					<true/>
					<key>className</key>
					<string>net.rujel.autoitog.Prognosis</string>
					<key>methodName</key>
					<string>localisedFlagKeys</string>
				</dict>
				<key>subParams</key>
				<array>
					<dict>
						<key>presenterBindings</key>
						<dict>
							<key>value</key>
							<string>1</string>
						</dict>
						<key>title</key>
						<string>не выставлять</string>
						<key>value</key>
						<string>.disable</string>
						<key>wrapper</key>
						<string>WOConditional</string>
						<key>wrapperBindings</key>
						<dict>
							<key>condition</key>
							<string>.</string>
						</dict>
					</dict>
					<dict>
						<key>presenterBindings</key>
						<dict>
							<key>value</key>
							<string>1</string>
						</dict>
						<key>title</key>
						<string>зафиксировать</string>
						<key>value</key>
						<string>.keep</string>
						<key>wrapper</key>
						<string>WOConditional</string>
						<key>wrapperBindings</key>
						<dict>
							<key>condition</key>
							<string>.</string>
						</dict>
					</dict>
					<dict>
						<key>presenterBindings</key>
						<dict>
							<key>value</key>
							<string>1</string>
						</dict>
						<key>title</key>
						<string>сохранять при изменениях</string>
						<key>value</key>
						<string>.keepBonus</string>
						<key>wrapper</key>
						<string>WOConditional</string>
						<key>wrapperBindings</key>
						<dict>
							<key>condition</key>
							<string>.</string>
						</dict>
					</dict>
				</array>
				<key>title</key>
				<dict>
					<key>cacheResult</key>
					<true/>
					<key>methodName</key>
					<string>componentsJoinedByString</string>
					<key>object</key>
					<string>$valueOf.qqq.itemDict.flagNames</string>
					<key>paramClasses</key>
					<array>
						<string>java.lang.String</string>
					</array>
					<key>paramValues</key>
					<array>
						<string> ; </string>
					</array>
				</dict>
			</dict>
			<key>keyPath</key>
			<string>namedFlags</string>
			<key>presenter</key>
			<string>FlagsPresenter</string>
			<key>presenterBindings</key>
			<dict>
				<key>disabled</key>
				<true/>
				<key>flagNames</key>
				<string>$valueOf.qqq.itemDict.exportDict.flagNames</string>
				<key>flags</key>
				<string>.</string>
				<key>inRow</key>
				<true/>
			</dict>
			<key>sort</key>
			<string>99</string>
			<key>style</key>
			<string>'white-space:nowrap;</string>
			<key>title</key>
			<string>Флаги</string>
		</dict>
	</array>
	<key>title</key>
	<string>Прогнозы</string>
</dict>
</plist>
