<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Поправки</string>
	<key>description</key>
	<string>Добавленные и пропущенные уроки</string>
	<key>entity</key>
	<string>Variation</string>
	<key>params</key>
	<array>
		<dict>
			<key>title</key>
			<string>Дата</string>
			<key>hover</key>
			<string>Дата вынесения замечания</string>
			<key>active</key>
			<true/>
			<key>attribute</key>
			<string>date</string>
			<key>formatter</key>
			<string>date</string>
			<key>fieldSize</key>
			<integer>10</integer>
			<key>qualifierSelector</key>
			<string>&gt;=</string>
			<key>secondSelector</key>
			<string>&lt;</string>
			<key>defaultMax</key>
			<string>$session.today</string>
			<key>defaultMin</key>
			<dict>
				<key>object</key>
				<string>$session.today</string>
				<key>methodName</key>
				<string>timestampByAddingGregorianUnits</string>
				<key>cacheResult</key>
				<true/>
				<key>paramClasses</key>
				<array>
					<string>int</string>
					<string>int</string>
					<string>int</string>
					<string>int</string>
					<string>int</string>
					<string>int</string>
				</array>
				<key>paramValues</key>
				<array>
					<integer>0</integer>
					<integer>-1</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
				</array>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>Пропущенные</string>
			<key>qualifierFormat</key>
			<string>value &lt; 0</string>
			<key>comment</key>
			<string>пропущенные уроки</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Добавленные</string>
			<key>qualifierFormat</key>
			<string>value &gt; 0</string>
			<key>comment</key>
			<string>уроки сверх плана</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Учитель</string>
			<key>attribute</key>
			<string>teacher</string>
			<key>presenter</key>
			<string>PersonDisplay</string>
			<key>presenterBindings</key>
			<dict>
				<key>person</key>
				<string>.</string>
				<key>last</key>
				<string>2</string>
				<key>first</key>
				<string>1</string>
				<key>second</key>
				<string>1</string>
				<key>valueWhenEmpty</key>
				<string>Выбрать</string>
			</dict>
			<key>popup</key>
			<dict>
				<key>title</key>
				<string>Выберите учителя</string>
				<key>style</key>
				<string>min-width:20em</string>
				<key>presenter</key>
				<string>TeacherSelector</string>
				<key>takeValuesFromRequest</key>
				<true/>
				<key>invokeAction</key>
				<true/>
				<key>presenterBindings</key>
				<dict>
					<key>entity</key>
					<string>Teacher</string>
					<key>firstNameDisplay</key>
					<integer>2</integer>
					<key>secondNameDisplay</key>
					<integer>2</integer>
					<key>selection</key>
					<string>.</string>
					<key>useAjaxPost</key>
					<true/>
				</dict>
			</dict>
			<key>in</key>
			<dict>
				<key>relationship</key>
				<string>course</string>
				<key>args</key>
				<array>
					<string>$session.eduYear</string>
				</array>
				<key>qualifierFormat</key>
				<string>eduYear = %@</string>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>Общешкольная</string>
			<key>qualifierFormat</key>
			<string>reason.flags &lt; 16</string>
			<key>comment</key>
			<string>причина действует на всю школу</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Для учителя</string>
			<key>qualifierFormat</key>
			<string>reason.flags &gt;= 32</string>
			<key>comment</key>
			<string>причина связана с учителем</string>
		</dict>
	</array>
	<key>prefetch</key>
	<array>
		<string>course.cycle</string>
	</array>
	<key>properties</key>
			<array>
				<dict>
					<key>title</key>
					<string>Дата</string>
					<key>keyPath</key>
					<string>date</string>
					<key>comparison</key>
					<string>CompareAscending</string>
					<key>presenterBindings</key>
					<dict>
						<key>dateformat</key>
						<string>dd.MM</string>
					</dict>
					<key>active</key>
					<true/>
				</dict>
				<dict>
					<key>title</key>
					<string>Класс</string>
					<key>keyPath</key>
					<string>course.eduGroup</string>
					<key>comparison</key>
					<string>CompareAscending</string>
					<key>titlePath</key>
					<string>name</string>
					<key>course</key>
					<string>course</string>
					<key>active</key>
					<true/>
				</dict>
				<dict>
					<key>title</key>
					<string>Предмет</string>
					<key>keyPath</key>
					<string>course</string>
					<key>escapeHTML</key>
					<false/>
					<key>titlePath</key>
					<string>subjectWithComment</string>
					<key>sortKey</key>
					<string>course.cycle.subject</string>
					<key>comparison</key>
					<string>CompareAscending</string>
					<key>exportDict</key>
					<dict>
						<key>subParams</key>
						<array>
							<dict>
								<key>title</key>
								<string>Предмет</string>
								<key>titlePath</key>
								<string>cycle.subject</string>
							</dict>
							<dict>
								<key>title</key>
								<string>()</string>
								<key>titlePath</key>
								<string>comment</string>
							</dict>
						</array>
					</dict>
					<key>active</key>
					<true/>
				</dict>
				<dict>
					<key>title</key>
					<string>Учитель</string>
					<key>style</key>
					<string>white-space:nowrap;</string>
					<key>sortKey</key>
					<string>course.teacher</string>
					<key>comparison</key>
					<string>CompareAscending</string>
					<key>presenter</key>
					<string>PersonDisplay</string>
					<key>value</key>
					<dict>
						<key>object</key>
						<string>.course</string>
						<key>methodName</key>
						<string>teacher</string>
						<key>cacheResult</key>
						<true/>
						<key>paramClasses</key>
						<array>
							<string>com.webobjects.foundation.NSTimestamp</string>
						</array>
						<key>paramValues</key>
						<array>
							<string>.date</string>
						</array>
					</dict>
					<key>presenterBindings</key>
					<dict>
						<key>person</key>
						<string>.</string>
						<key>last</key>
						<string>2</string>
						<key>first</key>
						<string>1</string>
						<key>second</key>
						<string>1</string>
						<key>valueWhenEmpty</key>
						<string>$application.strings.RujelBase_Base.vacant</string>
						<key>emptyStyle</key>
						<string>font-style:italic;</string>
					</dict>
					<key>course</key>
					<string>course</string>
					<key>active</key>
					<true/>
				</dict>
				<dict>
					<key>title</key>
					<string>Часы</string>
					<key>value</key>
					<string>.value</string>
					<key>sortKey</key>
					<string>value</string>
					<key>comparison</key>
					<string>CompareAscending</string>
					<key>style</key>
					<string>.valueStyle</string>
					<key>presenterBindings</key>
					<dict>
						<key>numberformat</key>
						<string>+ #;0;- #</string>
					</dict>
					<key>active</key>
					<true/>
				</dict>
				<dict>
					<key>title</key>
					<string>Вместо</string>
					<key>keyPath</key>
					<string>getPaired.course</string>
					<key>escapeHTML</key>
					<false/>
					<key>titlePath</key>
					<string>subjectWithComment</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Причина</string>
					<key>keyPath</key>
					<string>reason.reason</string>
					<key>comparison</key>
					<string>CompareAscending</string>
					<key>class</key>
					<string>$itemRow.reason.styleClass</string>
					<key>active</key>
					<true/>
				</dict>
				<dict>
					<key>title</key>
					<string>Привязка</string>
					<key>short</key>
					<string>@</string>
					<key>keyPath</key>
					<string>reason</string>
					<key>presenter</key>
					<string>ReasonPresenter</string>
					<key>presenterBindings</key>
					<dict>
						<key>reason</key>
						<string>.</string>
						<key>hideText</key>
						<true/>
					</dict>
					<key>exportDict</key>
					<dict>
						<key>title</key>
						<string>Привязка</string>
						<key>titlePath</key>
						<string>extToString</string>
					</dict>
				</dict>
			</array>
</dict>
</plist>
