<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_prefetch</key>
	<array>
		<string>student.person</string>
		<string>eduGroup</string>
	</array>
	<key>description</key>
	<string>Поиск по списку учащихся</string>
	<key>entity</key>
	<string>VseList</string>
	<key>params</key>
	<array>
		<dict>
			<key>active</key>
			<true/>
			<key>attribute</key>
			<string>eduGroup</string>
			<key>popup</key>
			<dict>
				<key>invokeAction</key>
				<true/>
				<key>presenter</key>
				<string>ClassListing</string>
				<key>presenterBindings</key>
				<dict>
					<key>onClick</key>
					<string>$session.tryLoad</string>
					<key>selection</key>
					<string>.</string>
					<key>width</key>
					<string>100%</string>
				</dict>
				<key>style</key>
				<string>min-width:8em</string>
				<key>takeValuesFromRequest</key>
				<true/>
				<key>title</key>
				<string>Выберите класс</string>
			</dict>
			<key>presenterBindings</key>
			<dict>
				<key>value</key>
				<string>.name</string>
				<key>valueWhenEmpty</key>
				<string>Выбрать</string>
			</dict>
			<key>title</key>
			<string>Класс</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>student.person.lastName</string>
			<key>fieldSize</key>
			<integer>20</integer>
			<key>hover</key>
			<string>Используйте * для поиска по шаблону</string>
			<key>qualifierSelector</key>
			<string>caseInsensitiveLike</string>
			<key>title</key>
			<string>Фамилия</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>student.person.firstName</string>
			<key>fieldSize</key>
			<integer>20</integer>
			<key>hover</key>
			<string>Используйте * для поиска по шаблону</string>
			<key>qualifierSelector</key>
			<string>caseInsensitiveLike</string>
			<key>title</key>
			<string>Имя</string>
		</dict>
		<dict>
			<key>attribute</key>
			<string>student.person.birthDate</string>
			<key>fieldSize</key>
			<integer>10</integer>
			<key>formatter</key>
			<string>date</string>
			<key>qualifierSelector</key>
			<string>&gt;=</string>
			<key>secondSelector</key>
			<string>&lt;</string>
			<key>title</key>
			<string>Дата рождения</string>
		</dict>
		<dict>
			<key>args</key>
			<array>
				<string>.sex.value</string>
			</array>
			<key>attributeParam</key>
			<string>sex</string>
			<key>displayString</key>
			<string>.title</string>
			<key>qualifierFormat</key>
			<string>student.person.sex = %@</string>
			<key>select</key>
			<array>
				<dict>
					<key>title</key>
					<string>Мужской</string>
					<key>value</key>
					<true/>
				</dict>
				<dict>
					<key>title</key>
					<string>Женский</string>
					<key>value</key>
					<false/>
				</dict>
			</array>
			<key>title</key>
			<string>Пол</string>
		</dict>
		<dict>
			<key>active</key>
			<true/>
			<key>args</key>
			<array>
				<string>$session.today</string>
				<string>$session.today</string>
				<string>$session.eduYear</string>
				<string>$session.eduYear</string>
			</array>
			<key>comment</key>
			<string>искать только неисключенных</string>
			<key>qualifierFormat</key>
			<string>(enter = nil OR enter &lt;= %@) AND (leave = nil OR leave &gt;= %@) AND (eduGroup.firstYear &lt;= %@) AND (eduGroup.lastYear &gt;= %@)</string>
			<key>title</key>
			<string>Не исключен</string>
		</dict>
	</array>
	<key>properties</key>
	<array>
		<dict>
			<key>active</key>
			<false/>
			<key>keyPath</key>
			<string>student.delo</string>
			<key>short</key>
			<string>Л/Д</string>
			<key>sort</key>
			<string>01</string>
			<key>title</key>
			<string>личное дело №</string>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>comparison</key>
			<string>CompareAscending</string>
			<key>keyPath</key>
			<string>student.enter</string>
			<key>presenterBindings</key>
			<dict>
				<key>dateformat</key>
				<string>$application.prefs.ui.dateFormat</string>
			</dict>
			<key>short</key>
			<string>пришел</string>
			<key>sort</key>
			<string>05</string>
			<key>title</key>
			<string>Поступление в школу</string>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>comparison</key>
			<string>CompareAscending</string>
			<key>keyPath</key>
			<string>student.leave</string>
			<key>presenterBindings</key>
			<dict>
				<key>dateformat</key>
				<string>$application.prefs.ui.dateFormat</string>
			</dict>
			<key>short</key>
			<string>ушел</string>
			<key>sort</key>
			<string>06</string>
			<key>title</key>
			<string>Выбытие из школы</string>
		</dict>
		<dict>
			<key>active</key>
			<true/>
			<key>comparison</key>
			<string>CompareCaseInsensitiveAscending</string>
			<key>keyPath</key>
			<string>eduGroup</string>
			<key>sort</key>
			<string>10</string>
			<key>title</key>
			<string>Класс</string>
			<key>titlePath</key>
			<string>name</string>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>comparison</key>
			<string>CompareAscending</string>
			<key>keyPath</key>
			<string>enter</string>
			<key>presenterBindings</key>
			<dict>
				<key>dateformat</key>
				<string>$application.prefs.ui.dateFormat</string>
			</dict>
			<key>short</key>
			<string>с</string>
			<key>sort</key>
			<string>05</string>
			<key>title</key>
			<string>переведен в класс</string>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>comparison</key>
			<string>CompareAscending</string>
			<key>keyPath</key>
			<string>leave</string>
			<key>presenterBindings</key>
			<dict>
				<key>dateformat</key>
				<string>$application.prefs.ui.dateFormat</string>
			</dict>
			<key>short</key>
			<string>по</string>
			<key>sort</key>
			<string>06</string>
			<key>title</key>
			<string>выбыл из класса</string>
		</dict>
		<dict>
			<key>active</key>
			<true/>
			<key>comparison</key>
			<string>CompareAscending</string>
			<key>keyPath</key>
			<string>student.person.lastName</string>
			<key>sort</key>
			<string>20</string>
			<key>style</key>
			<string>white-space:nowrap;</string>
			<key>title</key>
			<string>Фамилия</string>
		</dict>
		<dict>
			<key>active</key>
			<true/>
			<key>comparison</key>
			<string>CompareAscending</string>
			<key>keyPath</key>
			<string>student.person.firstName</string>
			<key>sort</key>
			<string>21</string>
			<key>title</key>
			<string>Имя</string>
		</dict>
		<dict>
			<key>active</key>
			<true/>
			<key>comparison</key>
			<string>CompareAscending</string>
			<key>keyPath</key>
			<string>student.person.secondName</string>
			<key>sort</key>
			<string>22</string>
			<key>title</key>
			<string>Отчество</string>
		</dict>
		<dict>
			<key>active</key>
			<false/>
			<key>comparison</key>
			<string>CompareAscending</string>
			<key>keyPath</key>
			<string>student.person.initials</string>
			<key>sort</key>
			<string>25</string>
			<key>title</key>
			<string>Инициалы</string>
		</dict>
		<dict>
			<key>active</key>
			<true/>
			<key>comparison</key>
			<string>CompareAscending</string>
			<key>keyPath</key>
			<string>student.person.birthDate</string>
			<key>presenterBindings</key>
			<dict>
				<key>dateformat</key>
				<string>$application.prefs.ui.dateFormat</string>
			</dict>
			<key>sort</key>
			<string>30</string>
			<key>title</key>
			<string>Дата рождения</string>
		</dict>
		<dict>
			<key>comparison</key>
			<string>CompareDescending</string>
			<key>presenterBindings</key>
			<dict/>
			<key>sort</key>
			<string>40</string>
			<key>sortKey</key>
			<string>student.person.sex</string>
			<key>title</key>
			<string>Пол</string>
			<key>value</key>
			<dict>
				<key>cacheResult</key>
				<true/>
				<key>methodName</key>
				<string>valueForKey</string>
				<key>object</key>
				<dict>
					<key>false</key>
					<string>Ж</string>
					<key>true</key>
					<string>М</string>
				</dict>
				<key>paramClasses</key>
				<array>
					<string>java.lang.String</string>
				</array>
				<key>paramValues</key>
				<array>
					<string>.student.person.sex.toString</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>comparison</key>
			<string>CompareDescending</string>
			<key>hover</key>
			<string>сортируется по дате рождения - при суммировании ставьте на последнее место</string>
			<key>presenterBindings</key>
			<dict/>
			<key>sortKey</key>
			<string>student.person.birthDate</string>
			<key>title</key>
			<string>Возраст</string>
			<key>value</key>
			<dict>
				<key>cacheResult</key>
				<true/>
				<key>className</key>
				<string>net.rujel.interfaces.Person$Utility</string>
				<key>methodName</key>
				<string>calculateAge</string>
				<key>paramClasses</key>
				<array>
					<string>java.util.Date</string>
					<string>java.util.Date</string>
				</array>
				<key>paramValues</key>
				<array>
					<string>.student.person.birthDate</string>
					<string>$session.today</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>title</key>
	<string>Учащиеся</string>
</dict>
</plist>
