<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Работы</string>
	<key>description</key>
	<string>Проведенные работы</string>
	<key>entity</key>
	<string>Work</string>
	<key>sort</key>
	<integer>80</integer>
	<key>params</key>
	<array>
		<dict>
			<key>attribute</key>
			<string>section</string>
			<key>title</key>
			<string>Отделение</string>
			<key>active</key>
			<true/>
			<key>defaultValue</key>
			<string>$session.state.section</string>
			<key>in</key>
			<dict>
				<key>relationship</key>
				<string>course.cycle</string>
				<key>entity</key>
				<string>PlanCycle</string>
			</dict>
			<key>qualifierSelector</key>
			<string>=</string>
			<key>select</key>
			<string>$session.sections.list</string>
			<key>displayString</key>
			<string>.name</string>
			<key>noSelectionString</key>
			<string>все</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Дата</string>
			<key>active</key>
			<true/>
			<key>attribute</key>
			<string>date</string>
			<key>formatter</key>
			<string>date</string>
			<key>fieldSize</key>
			<integer>10</integer>
			<key>qualifierSelector</key>
			<string>&gt;=</string>
			<key>secondSelector</key>
			<string>&lt;=</string>
			<key>defaultMax</key>
			<string>$session.today</string>
			<key>defaultMin</key>
			<dict>
				<key>object</key>
				<string>$session.today</string>
				<key>methodName</key>
				<string>timestampByAddingGregorianUnits</string>
				<key>cacheResult</key>
				<true/>
				<key>paramClasses</key>
				<array>
					<string>int</string>
					<string>int</string>
					<string>int</string>
					<string>int</string>
					<string>int</string>
					<string>int</string>
				</array>
				<key>paramValues</key>
				<array>
					<integer>0</integer>
					<integer>0</integer>
					<integer>-7</integer>
					<integer>0</integer>
					<integer>0</integer>
					<integer>0</integer>
				</array>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>Вес</string>
			<key>active</key>
			<false/>
			<key>attribute</key>
			<string>weight</string>
			<key>formatter</key>
			<string>0.#</string>
			<key>fieldSize</key>
			<integer>4</integer>
			<key>qualifierSelector</key>
			<string>&gt;=</string>
			<key>secondSelector</key>
			<string>&lt;</string>
			<key>defaultMin</key>
			<real>0.1</real>
		</dict>
		<dict>
			<key>title</key>
			<string>Класс</string>
			<key>attribute</key>
			<string>eduGroup</string>
			<key>qualifierSelector</key>
			<string>=</string>
			<key>presenterBindings</key>
			<dict>
				<key>value</key>
				<string>.name</string>
				<key>valueWhenEmpty</key>
				<string>Выбрать</string>
			</dict>
			<key>popup</key>
			<dict>
				<key>title</key>
				<string>Выберите класс</string>
				<key>style</key>
				<string>min-width:8em</string>
				<key>presenter</key>
				<string>ClassListing</string>
				<key>takeValuesFromRequest</key>
				<true/>
				<key>invokeAction</key>
				<true/>
				<key>presenterBindings</key>
				<dict>
					<key>width</key>
					<string>100%</string>
					<key>selection</key>
					<string>.</string>
					<key>onClick</key>
					<string>$session.tryLoad</string>
					<key>showSection</key>
					<true/>
				</dict>
			</dict>
			<key>in</key>
			<dict>
				<key>relationship</key>
				<string>course</string>
				<key>args</key>
				<array>
					<string>$session.eduYear</string>
				</array>
				<key>qualifierFormat</key>
				<string>eduYear = %@</string>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>Учитель</string>
			<key>attribute</key>
			<string>teacher</string>
			<key>qualifierSelector</key>
			<string>=</string>
			<key>presenter</key>
			<string>PersonDisplay</string>
			<key>presenterBindings</key>
			<dict>
				<key>person</key>
				<string>.</string>
				<key>last</key>
				<string>2</string>
				<key>first</key>
				<string>1</string>
				<key>second</key>
				<string>1</string>
				<key>valueWhenEmpty</key>
				<string>Выбрать</string>
			</dict>
			<key>popup</key>
			<dict>
				<key>title</key>
				<string>Выберите учителя</string>
				<key>style</key>
				<string>min-width:20em</string>
				<key>presenter</key>
				<string>TeacherSelector</string>
				<key>takeValuesFromRequest</key>
				<true/>
				<key>invokeAction</key>
				<true/>
				<key>presenterBindings</key>
				<dict>
					<key>entity</key>
					<string>Teacher</string>
					<key>firstNameDisplay</key>
					<integer>2</integer>
					<key>secondNameDisplay</key>
					<integer>2</integer>
					<key>selection</key>
					<string>.</string>
					<key>useAjaxPost</key>
					<true/>
				</dict>
			</dict>
			<key>in</key>
			<dict>
				<key>relationship</key>
				<string>course</string>
				<key>args</key>
				<array>
					<string>$session.eduYear</string>
				</array>
				<key>qualifierFormat</key>
				<string>eduYear = %@</string>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>Тип</string>
			<key>active</key>
			<false/>
			<key>attribute</key>
			<string>workType</string>
			<key>select</key>
			<dict>
				<key>className</key>
				<string>com.webobjects.eoaccess.EOUtilities</string>
				<key>methodName</key>
				<string>objectsForEntityNamed</string>
				<key>cacheResult</key>
				<true/>
				<key>paramClasses</key>
				<array>
					<string>com.webobjects.eocontrol.EOEditingContext</string>
					<string>java.lang.String</string>
				</array>
				<key>paramValues</key>
				<array>
					<string>^editingContext</string>
					<string>&apos;WorkType</string>
				</array>
			</dict>
			<key>displayString</key>
			<string>.typeName</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Не домашняя</string>
			<key>qualifierFormat</key>
			<string>flags &lt; 16</string>
			<key>comment</key>
			<string>не является домашним заданием</string>
		</dict>
	</array>
	<key>properties</key>
	<array>
		<dict>
			<key>title</key>
			<string>Класс</string>
			<key>keyPath</key>
			<string>course.eduGroup</string>
			<key>titlePath</key>
			<string>name</string>
			<key>comparison</key>
			<string>CompareAscending</string>
			<key>active</key>
			<true/>
			<key>sort</key>
			<string>10</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Предмет</string>
			<key>keyPath</key>
			<string>course</string>
			<key>titlePath</key>
			<string>subjectWithComment</string>
			<key>escapeHTML</key>
			<false/>
			<key>comparison</key>
			<string>CompareAscending</string>
			<key>active</key>
			<true/>
			<key>sort</key>
			<string>20</string>
			<key>onclick</key>
			<string>$session.tryLoad</string>
			<key>nextPage</key>
			<string>LessonNoteEditor</string>
			<key>pageParams</key>
			<dict>
				<key>course</key>
				<string>$itemRow.course</string>
			</dict>
		</dict>
		<dict>
			<key>title</key>
			<string>Учитель</string>
			<key>keyPath</key>
			<string>course.teacher</string>
			<key>style</key>
			<string>white-space:nowrap;</string>
			<key>presenter</key>
			<string>PersonDisplay</string>
			<key>presenterBindings</key>
			<dict>
				<key>person</key>
				<string>.</string>
				<key>last</key>
				<string>2</string>
				<key>first</key>
				<string>1</string>
				<key>second</key>
				<string>1</string>
			</dict>
			<key>comparison</key>
			<string>CompareAscending</string>
			<key>active</key>
			<false/>
			<key>sort</key>
			<string>30</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Объявлено</string>
			<key>hover</key>
			<string>дата объявления работы</string>
			<key>keyPath</key>
			<string>announce</string>
			<key>presenterBindings</key>
			<dict>
				<key>dateformat</key>
				<string>$application.prefs.ui.dateFormat</string>
			</dict>
			<key>active</key>
			<false/>
			<key>comparison</key>
			<string>CompareAscending</string>
			<key>sort</key>
			<string>40</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Дата</string>
			<key>hover</key>
			<string>дата сдачи работы</string>
			<key>keyPath</key>
			<string>date</string>
			<key>presenterBindings</key>
			<dict>
				<key>dateformat</key>
				<string>$application.prefs.ui.dateFormat</string>
			</dict>
			<key>active</key>
			<false/>
			<key>comparison</key>
			<string>CompareAscending</string>
			<key>sort</key>
			<string>50</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Тип</string>
			<key>hover</key>
			<string>тип работы</string>
			<key>keyPath</key>
			<string>workType.typeName</string>
			<key>sortKey</key>
			<string>workType.sort</string>
			<key>active</key>
			<true/>
			<key>comparison</key>
			<string>CompareAscending</string>
			<key>sort</key>
			<string>60</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Вес</string>
			<key>hover</key>
			<string>вес работы</string>
			<key>keyPath</key>
			<string>trimmedWeight</string>
			<key>sortKey</key>
			<string>weight</string>
			<key>comparison</key>
			<string>CompareDescending</string>
			<key>active</key>
			<false/>
			<key>sort</key>
			<string>62</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Содержание работы</string>
			<key>keyPath</key>
			<string>theme</string>
			<key>active</key>
			<false/>
			<key>sort</key>
			<string>70</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Критериев</string>
			<key>short</key>
			<string>кр</string>
			<key>hover</key>
			<string>Количество критериев, указанных в описании работы</string>
			<key>keyPath</key>
			<string>criterMask.count</string>
			<key>comparison</key>
			<string>CompareDescending</string>
			<key>active</key>
			<false/>
			<key>sort</key>
			<string>80</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Оценок</string>
			<key>short</key>
			<string>оц</string>
			<key>hover</key>
			<string>Количество выставленных за работу оценок</string>
			<key>keyPath</key>
			<string>marks.count</string>
			<key>comparison</key>
			<string>CompareDescending</string>
			<key>active</key>
			<false/>
			<key>sort</key>
			<string>90</string>
		</dict>
	</array>
</dict>
</plist>
