{
    attributes = (
        {
            allowsNull = N; 
            columnName = CRITER_NUM; 
            name = criterion; 
            prototypeName = short; 
        }, 
        {columnName = MARK_MAX; name = max; prototypeName = short; }, 
        {allowsNull = Y; columnName = CRITER_WEIGHT; name = weight; prototypeName = short; }, 
        {allowsNull = N; columnName = WORK_ID; name = workID; prototypeName = "int_3"; }
    ); 
    attributesUsedForLocking = (workID, max, weight, criterion); 
    className = EOGenericRecord; 
    classProperties = (work, max, weight, criterion); 
    externalName = "CR_MASK"; 
    fetchSpecificationDictionary = {}; 
    name = CriterMask; 
    primaryKeyAttributes = (criterion, workID); 
    relationships = (
        {
            destination = Work; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = workID; sourceAttribute = workID; }); 
            name = work; 
        }
    ); 
}
