{
    attributes = (
        {columnName = "COMMENT_TEXT"; name = comment; prototypeName = string; }, 
        {
            allowsNull = N; 
            columnName = "CRITER_FLAGS"; 
            name = flags; 
            prototypeName = short; 
        }, 
        {columnName = "CS_ID"; name = setID; prototypeName = short; }, 
        {
            allowsNull = N; 
            columnName = "SET_NAME"; 
            name = setName; 
            prototypeName = word; 
        }
    ); 
    attributesUsedForLocking = (comment, flags, setName); 
    className = "net.rujel.criterial.CriteriaSet"; 
    classProperties = (comment, criteria, flags, setName); 
    externalName = "CR_CRIT_SET"; 
    fetchSpecificationDictionary = {}; 
    name = CriteriaSet; 
    primaryKeyAttributes = (setID); 
    relationships = (
        {
            deleteRule = EODeleteRuleCascade; 
            destination = Criterion; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = critSet; sourceAttribute = setID; }); 
            name = criteria; 
            ownsDestination = Y; 
            propagatesPrimaryKey = Y; 
        }
    ); 
}
