{
    attributes = (
        {
            allowsNull = N; 
            columnName = "CCS_ID"; 
            name = ccsID; 
            prototypeName = short; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {columnName = CRITSET; name = critSet; prototypeName = short; }, 
        {allowsNull = Y; columnName = CYCLE; name = cycleID; prototypeName = "int_3"; }, 
        {
            columnName = QUALIFIER; 
            name = qualifier; 
            prototypeName = string; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }
    ); 
    attributesUsedForLocking = (qualifier); 
    className = EOGenericRecord; 
    classProperties = (criteriaSet, qualifier); 
    externalName = "CYCLE_CRITSET"; 
    fetchSpecificationDictionary = {}; 
    name = CycleCritSet; 
    primaryKeyAttributes = (ccsID); 
    relationships = (
        {
            destination = CriteriaSet; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = setID; sourceAttribute = critSet; }); 
            name = criteriaSet; 
        }
    ); 
}
