{
    attributes = (
        {
            allowsNull = N; 
            columnName = CRITER; 
            name = criterion; 
            prototypeName = short; 
        }, 
        {columnName = "DATE_SET"; name = dateSet; prototypeName = date; }, 
        {columnName = STUDENT; name = studentID; prototypeName = integer; }, 
        {allowsNull = Y; columnName = VALUE; name = value; prototypeName = short; }, 
        {allowsNull = N; columnName = WORK; name = workID; prototypeName = "int_3"; }
    ); 
    attributesUsedForLocking = (dateSet, value); 
    className = "net.rujel.criterial.Mark"; 
    classProperties = (dateSet, value, work, criterion); 
    externalName = MARK; 
    fetchSpecificationDictionary = {}; 
    name = Mark; 
    primaryKeyAttributes = (workID, studentID, criterion); 
    relationships = (
        {
            destination = Work; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = workID; sourceAttribute = workID; }); 
            name = work; 
        }
    ); 
}
