{
    attributes = (
        {
            allowsNull = Y; 
            columnName = "COLOR_NOWEIGHT"; 
            factoryMethodArgumentType = EOFactoryMethodArgumentIsNSString; 
            name = colorNoWeight; 
            prototypeName = chars; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            width = 7; 
        }, 
        {
            allowsNull = Y; 
            columnName = "COLOR_WEIGHT"; 
            name = colorWeight; 
            prototypeName = chars; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            width = 7; 
        }, 
        {
            allowsNull = Y; 
            columnName = "CRITERIA_SET"; 
            name = critSetID; 
            prototypeName = short; 
        }, 
        {
            allowsNull = N; 
            columnName = "DFLT_FLAGS"; 
            name = dfltFlags; 
            prototypeName = short; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = "DFLT_WEIGHT"; 
            name = dfltWeight; 
            prototypeName = decimal; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = "SORT_NUM"; 
            name = sort; 
            prototypeName = short; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = "TYPE_NAME"; 
            name = typeName; 
            prototypeName = word; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = "WT_ID"; 
            name = wtID; 
            prototypeName = short; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }
    ); 
    attributesUsedForLocking = (colorNoWeight, colorWeight, dfltFlags, dfltWeight, sort, typeName); 
    cachesObjects = Y; 
    className = "net.rujel.criterial.WorkType"; 
    classProperties = (
        colorNoWeight, 
        colorWeight, 
        criteriaSet, 
        dfltFlags, 
        dfltWeight, 
        sort, 
        typeName
    ); 
    externalName = "CR_WORK_TYPE"; 
    fetchSpecificationDictionary = {}; 
    name = WorkType; 
    primaryKeyAttributes = (wtID); 
    relationships = (
        {
            destination = CriteriaSet; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = setID; sourceAttribute = critSetID; }); 
            name = criteriaSet; 
        }
    ); 
}
