{
    attributes = (
        {allowsNull = N; columnName = FLAGS; name = flags; prototypeName = byte; }, 
        {columnName = CYCLE; name = eduCycleID; prototypeName = "int_3"; }, 
        {allowsNull = N; columnName = MARK; name = mark; prototypeName = anagram; }, 
        {columnName = STUDENT; name = studentID; prototypeName = integer; }, 
        {
            columnName = VALUE; 
            name = value; 
            precision = 5; 
            prototypeName = decimal; 
            scale = 4; 
        }, 
        {
            allowsNull = N; 
            columnName = CONTAINER; 
            name = containerID; 
            prototypeName = short; 
        }
    ); 
    attributesUsedForLocking = (value, mark, flags); 
    className = "net.rujel.eduresults.ItogMark"; 
    classProperties = (value, mark, flags, container); 
    externalName = "ITOG_MARK"; 
    fetchSpecificationDictionary = {}; 
    name = ItogMark; 
    primaryKeyAttributes = (containerID, eduCycleID, studentID); 
    relationships = (
        {
            destination = ItogContainer; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = iID; sourceAttribute = containerID; }); 
            name = container; 
        }
    ); 
}
