{
    attributes = (
        {
            allowsNull = N; 
            columnName = "ITOG_FLAGS"; 
            name = flags; 
            prototypeName = byte; 
        }, 
        {columnName = "EDU_CYCLE"; name = eduCycleID; prototypeName = "int_3"; }, 
        {
            allowsNull = N; 
            columnName = "MARK_TITLE"; 
            name = mark; 
            prototypeName = anagram; 
        }, 
        {columnName = "STUDENT_ID"; name = studentID; prototypeName = integer; }, 
        {
            columnName = "SUCCESS_VALUE"; 
            name = value; 
            precision = 5; 
            prototypeName = decimal; 
            scale = 4; 
        }, 
        {
            allowsNull = N; 
            columnName = "ITOG_CONTAINER"; 
            name = containerID; 
            prototypeName = short; 
        }, 
        {columnName = "VALUE_STATE"; name = state; prototypeName = byte; }
    ); 
    attributesUsedForLocking = (value, mark, flags, state); 
    className = "net.rujel.eduresults.ItogMark"; 
    classProperties = (value, mark, flags, container, state); 
    externalName = "ITOG_MARK"; 
    fetchSpecificationDictionary = {}; 
    name = ItogMark; 
    primaryKeyAttributes = (containerID, eduCycleID, studentID); 
    relationships = (
        {
            destination = ItogContainer; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = iID; sourceAttribute = containerID; }); 
            name = container; 
        }
    ); 
}
