{
    attributes = (
        {
            columnName = "EDU_YEAR"; 
            name = eduYear; 
            prototypeName = short; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = "I_ID"; 
            name = iID; 
            prototypeName = short; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            columnName = ORDER_NUM; 
            name = num; 
            prototypeName = byte; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
            valueType = i; 
        }, 
        {
            allowsNull = N; 
            columnName = ITOG_TYPE; 
            name = type; 
            prototypeName = short; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }
    ); 
    attributesUsedForLocking = (eduYear, num, type); 
    className = "net.rujel.eduresults.ItogContainer"; 
    classProperties = (eduYear, itogType, num); 
    externalName = ITOG_CONTAINER; 
    fetchSpecificationDictionary = {}; 
    name = ItogContainer; 
    primaryKeyAttributes = (iID); 
    relationships = (
        {
            destination = ItogType; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = tID; sourceAttribute = type; }); 
            name = itogType; 
        }
    ); 
}
