{
    attributes = (
        {
            allowsNull = N; 
            columnName = COMMENT_TEXT; 
            name = comment; 
            prototypeName = text; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = ITOG_CONTAINER; 
            name = containerID; 
            prototypeName = short; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = EDU_CYCLE; 
            name = eduCycleID; 
            prototypeName = "int_3"; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = STUDENT_ID; 
            name = studentID; 
            prototypeName = integer; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }
    ); 
    attributesUsedForLocking = (comment); 
    className = EOGenericRecord; 
    classProperties = (comment, container); 
    externalName = "ITOG_COMMENT"; 
    fetchSpecificationDictionary = {}; 
    name = ItogComment; 
    primaryKeyAttributes = (containerID, eduCycleID, studentID); 
    relationships = (
        {
            destination = ItogContainer; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = iID; sourceAttribute = containerID; }); 
            name = container; 
        }
    ); 
}
