{
    attributes = (
        {columnName = "TL_ID"; name = pKey; prototypeName = "int_3"; }, 
        {
            allowsNull = N; 
            columnName = "LIST_NAME"; 
            name = listName; 
            prototypeName = word; 
            userInfo = {"_EntityModeler" = {generateSource = NO; }; }; 
        }, 
        {
            allowsNull = N; 
            columnName = "ITOG_TYPE"; 
            name = typeID; 
            prototypeName = short; 
        }, 
        {
            allowsNull = Y; 
            columnName = "MARK_INDEX"; 
            name = indexID; 
            prototypeName = short; 
        }, 
        {columnName = "EDU_YEAR"; name = eduYear; prototypeName = short; }, 
        {columnName = "PRESET_GROUP"; name = presetGroup; prototypeName = short; }
    ); 
    attributesUsedForLocking = (eduYear, listName, presetGroup, typeID); 
    className = EOGenericRecord; 
    classProperties = (eduYear, itogType, listName, markIndex, presetGroup); 
    externalName = "ITOG_TYPE_LIST"; 
    fetchSpecificationDictionary = {}; 
    name = ItogTypeList; 
    primaryKeyAttributes = (pKey); 
    relationships = (
        {
            destination = ItogType; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = tID; sourceAttribute = typeID; }); 
            name = itogType; 
        }, 
        {
            destination = Indexer; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = indID; sourceAttribute = indexID; }); 
            name = markIndex; 
        }
    ); 
}
